<template>
    <div class="floorProgress">
        <div class="water">
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
.floorProgress {
    position: absolute;
    padding: 0;
    margin: 0;
    /* transform: translate(-50%,-50%); */
    height:5%;
    width: 90%;
    border:2px #262626 solid;
    /* background-image: url(wave.png);
    background-repeat: repeat-x; */
    box-shadow: 0 0 0 2px #fff;
    border-radius: 12px;
    overflow: hidden;
    /* animation: animate 10s linear infinite; */
}
.water {
    position: absolute;
    /* transform: translate(-50%,-50%); */
    height:100%;
    width: 100%;
    background-image: url(wave.png);
    /* background: lightblue; */
    background-repeat: repeat-x;
    animation: animate 10s linear infinite;
    overflow: hidden;
}
@keyframes animate {
    0% {
        background-position: left 0 bottom  -100%;
        /* bottom: -90%; */
    }
     20% {
        background-position: left 400px bottom  -80%;
        /* bottom: -90%; */
    }
    40% {
        background-position: left 800px bottom -60%;
        /* bottom: -90% */
    }
    60% {
        background-position: left 1200px bottom -40%;
        /* bottom: -90% */
    }
    80% {
        background-position: left 1800px bottom -80%;
        /* bottom: -20% */
    }
    100% {
        background-position: left 2400px bottom -0% ;
        /* bottom: 0; */
    }
}
</style>