<template>
    <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 582 901" style="enable-background:new 0 0 582 901;" xml:space="preserve">
<g>
	<g>
		<g>
			<g>
				<path id="a5TPukOe9J" class="st0" d="M169.98,34.37c0.54,2.03,5.64-6.58,11.76-9.36c4.43-2.01,9.77,1.51,12.4,2.5
					c2.68,1.01,3.6,6.45,1.65,11.18c-1.17,2.84-5.08,4.54-5.46,7.34c-0.41,3.06,9.24,0.59,10.15,15.24
					c0.91,14.63-18.98,15.65-36.27,15.65c-17.28,0-41.32,0.59-41.32-16.63c0-5.29-0.4-8.07,8.26-13.55
					c8.66-5.48,11.9,8.59,12.39,1.96c1.21-15.98,7.5-27.93,15.71-27.93C163.5,20.77,168.14,27.49,169.98,34.37z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="gknswcM4b" class="st1" d="M167.44,43.15c0.43,1.6,4.46-5.18,9.29-7.37c3.49-1.58,7.71,1.19,9.79,1.97
					c2.11,0.8,2.84,5.08,1.3,8.8c-0.92,2.23-4.01,3.58-4.31,5.78c-0.32,2.41,7.3,0.48,8.02,12c0.72,11.53-14.99,12.34-28.64,12.34
					c-13.65,0-32.64,0.46-32.64-13.11c0-4.16-0.31-6.36,6.53-10.67c6.84-4.32,9.39,6.76,9.79,1.54c0.95-12.59,5.92-22,12.4-22
					C162.33,32.43,166,37.72,167.44,43.15z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="fFxXexXJe" class="st2" d="M145.05,60.39c-0.34-2.11,15.57,18.31,16.32,16.34c1.22-3.26-10.77-16.35-11.6-26.38
					c-0.28-3.36,0.13-7.37,1.23-12.02c0.1-0.39,0.68-0.3,0.64,0.1c-0.35,4.69-0.07,8.67,0.84,11.92
					c2.85,10.24,8.87,15.85,11.86,18.27c0.88,0.71,1.38-13.6,2.34-13.95c1.28-0.46,0.34,17.49,1.8,16.28
					c2.01-1.67,5.8-6.6,10.56-9.34c2.11-1.2,3.02-3.82,2.74-7.84c-0.08-1.28,1.52-1.92,2.34-0.93c1.56,1.9,1.67,4.55,0.3,7.93
					c-0.92,2.3-6.6,5.89-10.47,10.15c-3.73,4.09-5.67,8.86-5.47,9.68c0.17,0.71,4.43-0.91,8.26-4.32c6.4-5.69,13.6-14.6,13.18-12.96
					c-1.67,6.6-7.68,13.63-18.02,21.1c-2.14,1.55-3.39,4.06-3.33,6.71c0.1,4.23,0.31,12.79,0.41,17.04c0.05,2.06-1.9,3.6-3.89,3.06
					c-0.98-0.26,0.08,0.02-0.9-0.24c-2.32-0.62-3.87-2.79-3.71-5.19c0.32-4.68,1.19-17.6,1.56-23.04c0.01-0.21-0.08-0.42-0.26-0.55
					C151.75,74.72,146.17,67.46,145.05,60.39z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a6udi1iA7" class="st3" d="M294.13,44.44c0,21.28-8.82,38.88-16.65,38.88c-7.82,0-18.89-12.31-18.89-33.59
					c0-21.28,11.07-43.53,18.89-43.53C285.31,6.2,294.13,23.16,294.13,44.44z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="d2M95hzEoL" class="st4" d="M262.95,45.91c-0.01-0.06-0.01-0.12-0.01-0.17c0.01-2.3,8.36,14.66,9.09,11.75
					c1.22-4.9,3.39-33.56,4.34-34.08c0.86-0.47,1.78,7.99,2.77,25.39c2.63-5.54,5.53-9.68,8.71-12.43c4.77-4.12,0.66,2.25-3.21,8.65
					c-3.73,6.13-5.69,17.06-5.5,18.28c0.17,1.07,3.81-5.25,7.65-10.38c2.12-2.83,1.03,0.53-3.26,10.06
					c-2.89,6.45-4.33,13.44-4.21,20.5c0.08,5.49,0.26,16.51,0.37,23.32c0.03,1.96-1.94,3.32-3.77,2.59c-1.01-0.4-0.2-0.08-1.21-0.48
					c-2.3-0.93-3.76-3.2-3.65-5.67c0.33-7.44,0.84-18.59,1.09-24.27c0.38-8.4-1.98-16.69-6.71-23.63
					C264.26,53.57,263.43,50.43,262.95,45.91z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="b14jmqHVtI" class="st5" d="M507.49,44.44c0,21.28-8.83,38.88-16.65,38.88c-7.82,0-18.89-12.31-18.89-33.59
					c0-21.28,11.07-43.53,18.89-43.53C498.65,6.2,507.49,23.16,507.49,44.44z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="d3wui5b6Lf" class="st4" d="M503.34,45.91c0.01-0.06,0.01-0.12,0.01-0.17c-0.02-2.3-8.36,14.66-9.09,11.75
					c-1.22-4.9-3.38-33.56-4.34-34.08c-0.85-0.47-1.78,7.99-2.77,25.39c-2.62-5.54-5.53-9.68-8.7-12.43
					c-4.77-4.12-0.66,2.25,3.21,8.65c3.73,6.13,5.69,17.06,5.49,18.28c-0.17,1.07-3.8-5.25-7.64-10.38
					c-2.12-2.83-1.03,0.53,3.25,10.06c2.9,6.45,4.34,13.44,4.22,20.5c-0.09,5.49-0.27,16.51-0.38,23.32
					c-0.03,1.96,1.95,3.32,3.77,2.59c1.01-0.4,0.21-0.08,1.22-0.48c2.3-0.93,3.76-3.2,3.65-5.67c-0.34-7.44-0.84-18.59-1.09-24.27
					c-0.38-8.4,1.97-16.69,6.71-23.63C502.03,53.57,502.87,50.43,503.34,45.91z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="adD8nPkzA" class="st6" d="M373.74,32.38c0.55,2.04,5.65-6.58,11.76-9.35c4.42-2.01,9.77,1.5,12.4,2.5
					c2.68,1.02,3.59,6.45,1.65,11.18c-1.16,2.84-5.08,4.54-5.46,7.34c-0.41,3.06,9.25,0.6,10.15,15.24
					c0.91,14.63-18.98,15.66-36.26,15.66c-17.28,0-41.33,0.59-41.33-16.63c0-5.29-0.39-8.08,8.26-13.56
					c8.67-5.48,11.9,8.59,12.4,1.96c1.2-15.98,7.5-27.93,15.71-27.93C367.26,18.79,371.9,25.5,373.74,32.38z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a5e8ZULIYt" class="st7" d="M371.21,41.16c0.43,1.6,4.46-5.18,9.28-7.37c3.5-1.58,7.72,1.18,9.8,1.96
					c2.11,0.8,2.84,5.08,1.3,8.8c-0.92,2.23-4.02,3.58-4.31,5.79c-0.33,2.41,7.3,0.47,8.02,12c0.72,11.53-14.99,12.33-28.64,12.33
					c-13.64,0-32.64,0.46-32.64-13.11c0-4.16-0.31-6.36,6.53-10.67c6.84-4.32,9.4,6.77,9.79,1.54c0.95-12.59,5.92-22,12.4-22
					C366.08,30.45,369.75,35.74,371.21,41.16z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="ayCJK89i7" class="st4" d="M391.87,60.39c0.34-2.11-15.57,18.31-16.32,16.34c-1.22-3.26,10.78-16.35,11.61-26.38
					c0.28-3.36-0.14-7.37-1.24-12.02c-0.09-0.39-0.67-0.3-0.64,0.1c0.35,4.69,0.07,8.67-0.84,11.92
					c-2.85,10.24-8.87,15.85-11.86,18.27c-0.88,0.71-1.38-13.6-2.34-13.95c-1.28-0.46-0.34,17.49-1.8,16.28
					c-2.01-1.67-5.8-6.6-10.56-9.34c-2.1-1.2-3.02-3.82-2.74-7.84c0.09-1.28-1.52-1.92-2.34-0.93c-1.56,1.9-1.66,4.55-0.3,7.93
					c0.92,2.3,6.6,5.89,10.47,10.15c3.73,4.09,5.67,8.86,5.47,9.68c-0.17,0.71-4.43-0.91-8.26-4.32
					c-6.4-5.69-13.59-14.6-13.18-12.96c1.67,6.6,7.68,13.63,18.02,21.1c2.15,1.55,3.4,4.06,3.33,6.71
					c-0.1,4.23-0.31,12.79-0.41,17.04c-0.05,2.06,1.9,3.6,3.89,3.06c0.98-0.26-0.08,0.02,0.9-0.24c2.32-0.62,3.88-2.79,3.71-5.19
					c-0.32-4.68-1.19-17.6-1.56-23.04c-0.01-0.21,0.08-0.42,0.26-0.55C385.17,74.72,390.75,67.46,391.87,60.39z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="b2b5x2jBH" class="st0" d="M226.51,34.37c0.54,2.03,5.64-6.58,11.76-9.36c4.43-2.01,9.77,1.51,12.4,2.5
					c2.68,1.01,3.6,6.45,1.65,11.18c-1.17,2.84-5.08,4.54-5.46,7.34c-0.4,3.06,9.25,0.59,10.16,15.24
					c0.91,14.63-18.99,15.65-36.27,15.65s-41.32,0.59-41.32-16.63c0-5.29-0.4-8.07,8.26-13.55c8.66-5.48,11.9,8.59,12.39,1.96
					c1.21-15.98,7.5-27.93,15.71-27.93C220.02,20.77,224.67,27.49,226.51,34.37z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="e33bIX1WQu" class="st1" d="M223.97,43.15c0.43,1.6,4.46-5.18,9.29-7.37c3.49-1.58,7.71,1.19,9.79,1.97
					c2.11,0.8,2.84,5.08,1.3,8.8c-0.92,2.23-4.01,3.58-4.31,5.78c-0.32,2.41,7.3,0.48,8.02,12c0.72,11.53-14.99,12.34-28.64,12.34
					c-13.65,0-32.64,0.46-32.64-13.11c0-4.16-0.31-6.36,6.53-10.67c6.84-4.32,9.39,6.76,9.79,1.54c0.95-12.59,5.92-22,12.4-22
					C218.85,32.43,222.52,37.72,223.97,43.15z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="aMA7EEuC" class="st2" d="M201.58,60.39c-0.34-2.11,15.57,18.31,16.32,16.34c1.22-3.26-10.77-16.35-11.6-26.38
					c-0.28-3.36,0.13-7.37,1.23-12.02c0.1-0.39,0.68-0.3,0.64,0.1c-0.35,4.69-0.07,8.67,0.84,11.92
					c2.85,10.24,8.87,15.85,11.86,18.27c0.88,0.71,1.38-13.6,2.34-13.95c1.28-0.46,0.34,17.49,1.8,16.28
					c2.01-1.67,5.8-6.6,10.56-9.34c2.11-1.2,3.02-3.82,2.74-7.84c-0.08-1.28,1.52-1.92,2.34-0.93c1.56,1.9,1.67,4.55,0.3,7.93
					c-0.92,2.3-6.6,5.89-10.47,10.15c-3.73,4.09-5.67,8.86-5.47,9.68c0.17,0.71,4.43-0.91,8.26-4.32c6.4-5.69,13.6-14.6,13.18-12.96
					c-1.67,6.6-7.68,13.63-18.02,21.1c-2.14,1.55-3.4,4.06-3.33,6.71c0.1,4.23,0.31,12.79,0.41,17.04c0.05,2.06-1.9,3.6-3.89,3.06
					c-0.98-0.26,0.08,0.02-0.9-0.24c-2.32-0.62-3.87-2.79-3.71-5.19c0.32-4.68,1.19-17.6,1.56-23.04c0.01-0.21-0.08-0.42-0.26-0.55
					C208.28,74.72,202.7,67.46,201.58,60.39z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="f8XeViptKn" class="st3" d="M330.37,44.18c0.31,21.27-8.26,39.01-16.09,39.14c-7.82,0.12-19.07-12.01-19.37-33.29
					c-0.31-21.28,10.44-43.7,18.27-43.83C320.99,6.08,330.07,22.9,330.37,44.18z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="f2Q2WTpmnD" class="st4" d="M299.21,46.14c-0.01-0.06-0.01-0.12-0.01-0.17c-0.01-2.3,8.58,14.52,9.26,11.6
					c1.15-4.92,2.9-33.6,3.85-34.14c0.84-0.48,1.89,7.97,3.14,25.34c2.54-5.57,5.38-9.77,8.52-12.56c4.71-4.19,0.7,2.24-3.08,8.69
					c-3.64,6.2-5.44,17.14-5.23,18.36c0.19,1.07,3.73-5.3,7.5-10.5c2.07-2.86,1.04,0.51-3.11,10.12c-2.8,6.48-4.14,13.5-3.92,20.55
					c0.17,5.48,0.5,16.5,0.71,23.31c0.06,1.96-1.9,3.35-3.73,2.65c-1.02-0.39-0.21-0.08-1.22-0.46c-2.31-0.89-3.8-3.14-3.73-5.62
					c0.23-7.44,0.57-18.6,0.74-24.28c0.26-8.4-2.22-16.66-7.05-23.54C300.63,53.78,299.76,50.65,299.21,46.14z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="bhNTKmzwz" class="st6" d="M428.35,31.52c-0.54,2.04-5.64-6.58-11.76-9.35c-4.43-2.01-9.77,1.5-12.4,2.5
					c-2.68,1.02-3.6,6.45-1.65,11.18c1.17,2.84,5.09,4.54,5.46,7.34c0.4,3.06-9.25,0.6-10.16,15.24
					c-0.91,14.63,18.99,15.66,36.27,15.66c17.28,0,41.32,0.59,41.32-16.63c0-5.29,0.4-8.08-8.26-13.56
					c-8.66-5.48-11.9,8.59-12.39,1.96c-1.21-15.98-7.5-27.93-15.71-27.93C434.84,17.92,430.19,24.64,428.35,31.52z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="j5J4lEdgfq" class="st7" d="M430.89,40.3c-0.43,1.6-4.46-5.18-9.29-7.37c-3.49-1.58-7.71,1.18-9.79,1.97
					c-2.11,0.8-2.84,5.08-1.3,8.8c0.92,2.23,4.01,3.58,4.31,5.79c0.33,2.41-7.3,0.47-8.02,12c-0.72,11.53,14.99,12.33,28.64,12.33
					s32.64,0.46,32.64-13.1c0-4.17,0.32-6.36-6.52-10.68s-9.4,6.77-9.79,1.54c-0.95-12.59-5.92-22-12.4-22
					C436.01,29.58,432.34,34.87,430.89,40.3z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="i1P5dWWT9w" class="st4" d="M410.22,59.52c-0.33-2.11,15.57,18.31,16.32,16.34c1.22-3.26-10.77-16.35-11.6-26.38
					c-0.28-3.36,0.13-7.37,1.24-12.02c0.09-0.39,0.67-0.3,0.64,0.1c-0.35,4.69-0.07,8.67,0.84,11.92
					c2.86,10.24,8.88,15.85,11.87,18.27c0.87,0.71,1.38-13.6,2.33-13.94c1.28-0.47,0.35,17.48,1.8,16.27
					c2.01-1.67,5.8-6.6,10.57-9.34c2.1-1.2,3.02-3.82,2.74-7.84c-0.09-1.28,1.52-1.92,2.34-0.93c1.56,1.9,1.66,4.55,0.3,7.93
					c-0.92,2.3-6.6,5.89-10.48,10.15c-3.72,4.09-5.66,8.86-5.47,9.68c0.18,0.71,4.43-0.91,8.27-4.32
					c6.39-5.69,13.59-14.6,13.18-12.96c-1.67,6.6-7.67,13.63-18.01,21.1c-2.15,1.55-3.4,4.06-3.33,6.71
					c0.1,4.23,0.31,12.79,0.41,17.04c0.06,2.06-1.89,3.6-3.89,3.06c-0.98-0.26,0.08,0.02-0.9-0.24c-2.32-0.62-3.88-2.79-3.71-5.19
					c0.31-4.68,1.19-17.6,1.56-23.04c0.01-0.21-0.08-0.42-0.26-0.55C416.93,73.85,411.35,66.59,410.22,59.52z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a7VXEY9lVc" class="st5" d="M545.12,44.44c0,21.28-8.82,38.88-16.65,38.88c-7.82,0-18.89-12.31-18.89-33.59
					c0-21.28,11.07-43.53,18.89-43.53C536.29,6.2,545.12,23.16,545.12,44.44z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b2UXvHmoAm" class="st4" d="M540.97,45.91c0.01-0.06,0.01-0.12,0.01-0.17c-0.02-2.3-8.37,14.66-9.09,11.75
					c-1.22-4.9-3.39-33.56-4.34-34.08c-0.85-0.47-1.78,7.99-2.77,25.39c-2.62-5.54-5.53-9.68-8.71-12.43
					c-4.77-4.12-0.66,2.25,3.22,8.65c3.72,6.13,5.69,17.06,5.49,18.28c-0.17,1.07-3.81-5.25-7.65-10.38
					c-2.11-2.83-1.02,0.53,3.26,10.06c2.89,6.45,4.33,13.44,4.22,20.5c-0.09,5.49-0.27,16.51-0.38,23.32
					c-0.03,1.96,1.95,3.32,3.77,2.59c1.01-0.4,0.21-0.08,1.22-0.48c2.3-0.93,3.76-3.2,3.64-5.67c-0.33-7.44-0.84-18.59-1.09-24.27
					c-0.37-8.4,1.98-16.69,6.71-23.63C539.66,53.57,540.5,50.43,540.97,45.91z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="k1VdYh8AOO" class="st8" d="M187.94,887.56H497.9V136.17H187.94V887.56z"/>
		</g>
		<g>
			<g>
				<path class="st9" d="M187.94,887.56H497.9V136.17H187.94V887.56z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="cXsvGhxBr" class="st10" d="M120.68,104.84H566.6v32.57H120.68V104.84z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b4v7PKgo0i" class="st11" d="M120.57,120.16h445.91v17.25H120.57V120.16z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="aaER5rUssm" class="st3" d="M145.98,835.62c0,15.75-8.82,28.79-16.65,28.79s-18.89-9.12-18.89-24.87
					c0-15.76,11.07-32.24,18.89-32.24S145.98,819.85,145.98,835.62z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b4SUBWr7yd" class="st4" d="M114.8,836.71c-0.01-0.05-0.01-0.09-0.01-0.12c0.01-1.71,8.36,10.85,9.09,8.7
					c1.22-3.63,3.39-24.85,4.34-25.24c0.86-0.35,1.78,5.92,2.77,18.8c2.63-4.1,5.53-7.17,8.71-9.2c4.77-3.05,0.66,1.67-3.21,6.4
					c-3.73,4.54-5.69,12.63-5.5,13.53c0.17,0.8,3.81-3.89,7.65-7.68c1.5-1.49,0.76,0.32-2.23,5.44c-3.54,6.04-5.33,12.96-5.18,19.97
					c0.08,3.51,0.19,8.59,0.3,13.41c0.04,2.05-1.92,3.54-3.87,2.95c-0.98-0.29,0.02,0.01-0.96-0.28c-2.32-0.69-3.86-2.89-3.71-5.3
					c0.33-5.3,0.61-10.01,0.83-13.56c0.5-8.31-2.11-16.52-7.32-23.02C115.67,840.48,115.11,838.88,114.8,836.71z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="c36azEnO6x" class="st3" d="M184.63,835.44c0,15.75-8.83,28.79-16.65,28.79c-7.82,0-18.89-9.12-18.89-24.87
					c0-15.76,11.07-32.24,18.89-32.24C175.8,807.12,184.63,819.67,184.63,835.44z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="h70NlHa7AW" class="st4" d="M153.44,836.53c-0.01-0.05-0.01-0.09-0.01-0.12c0.02-1.71,8.36,10.85,9.09,8.7
					c1.22-3.63,3.38-24.85,4.34-25.24c0.85-0.35,1.78,5.92,2.77,18.8c2.62-4.1,5.53-7.17,8.7-9.2c4.77-3.05,0.66,1.67-3.21,6.4
					c-3.72,4.54-5.69,12.63-5.49,13.53c0.17,0.8,3.8-3.89,7.64-7.68c1.51-1.49,0.76,0.32-2.23,5.44
					c-3.53,6.04-5.33,12.96-5.17,19.97c0.08,3.51,0.19,8.59,0.29,13.41c0.05,2.05-1.91,3.54-3.87,2.95
					c-0.99-0.29,0.02,0.01-0.97-0.28c-2.32-0.69-3.85-2.89-3.71-5.3c0.32-5.3,0.61-10.01,0.82-13.56c0.5-8.31-2.1-16.52-7.32-23.02
					C154.32,840.3,153.75,838.7,153.44,836.53z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a69zdKXam" class="st5" d="M537.86,835.97c0,15.1-8.83,27.57-16.65,27.57c-7.82,0-18.89-8.73-18.89-23.82
					c0-15.09,11.07-30.87,18.89-30.87C529.03,808.86,537.86,820.88,537.86,835.97z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a2a0zZNn3w" class="st4" d="M533.72,837.02c0.01-0.05,0.01-0.09,0.01-0.12c-0.01-1.64-8.36,10.39-9.09,8.33
					c-1.22-3.47-3.39-23.79-4.34-24.16c-0.86-0.33-1.78,5.66-2.77,18c-2.63-3.93-5.53-6.87-8.71-8.81
					c-4.77-2.92-0.66,1.59,3.21,6.13c3.73,4.35,5.69,12.1,5.5,12.96c-0.17,0.76-3.81-3.72-7.65-7.36c-1.41-1.33-0.71,0.3,2.08,4.9
					c3.63,5.98,5.48,12.88,5.32,19.88c-0.08,3.27-0.17,7.64-0.28,12.22c-0.05,2.05,1.9,3.56,3.88,3c0.98-0.28-0.05,0.01,0.93-0.27
					c2.32-0.66,3.87-2.85,3.71-5.26c-0.32-5.03-0.57-8.98-0.78-12.26c-0.53-8.31,2.12-16.49,7.41-22.92
					C532.91,840.35,533.44,838.94,533.72,837.02z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="b1dMwEbMC2" class="st5" d="M575.29,837.28c0,15.09-8.83,27.57-16.65,27.57c-7.82,0-18.89-8.73-18.89-23.83
					c0-15.09,11.07-30.87,18.89-30.87C566.46,810.16,575.29,822.19,575.29,837.28z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a4Bf5U1ZKr" class="st4" d="M571.15,838.33c0.01-0.05,0.01-0.08,0.01-0.12c-0.02-1.63-8.37,10.39-9.09,8.33
					c-1.22-3.47-3.38-23.79-4.34-24.16c-0.85-0.33-1.78,5.67-2.77,18c-2.62-3.93-5.53-6.87-8.7-8.81c-4.77-2.92-0.66,1.6,3.21,6.13
					c3.72,4.36,5.69,12.1,5.49,12.97c-0.17,0.75-3.8-3.72-7.64-7.37c-1.41-1.33-0.72,0.3,2.08,4.9c3.63,5.99,5.48,12.88,5.32,19.88
					c-0.08,3.27-0.17,7.63-0.28,12.21c-0.04,2.05,1.91,3.56,3.88,3c0.98-0.28-0.04,0.01,0.94-0.27c2.32-0.66,3.87-2.85,3.71-5.26
					c-0.33-5.03-0.57-8.98-0.78-12.26c-0.53-8.3,2.12-16.49,7.41-22.92C570.34,841.67,570.86,840.24,571.15,838.33z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="d5eZl14q94" class="st12" d="M92.99,170.21l8.47-31.75l-21.93,24.48l4.27,2.3l-16.11,29.82l4.94,2.67l16.11-29.81
				L92.99,170.21z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b6ASexFUaP" class="st12" d="M74.09,563.36l15.2,29.13l-0.35-32.86l-4.7,1.18L58.77,386.27l-4.5,1.58l24.52,174.35
				L74.09,563.36z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="ceGQVDNS2" class="st13" d="M93.1,277.36l11.96,2.77l-10.29,6.31l19.16,15.57l-21.87,2.58l3.88,11.7l-10.85-2.15
					l3.17,24.97L69.5,322.85l-3.91,8.91l-5.03-7.55l-15.99,16.65l-2.14-21.63l-9.51,4.12l-1.09-10.73l-20.44,3.22l11.3-18.24
					l-9.63-4.86l9.85-5.95L5,272.7l21.82-4.41l-5.42-10.22l10.73,2.14l-1.88-23.2l18.8,14.4l1.32-12.91l8.05,10.72l14.63-20.01
					l3.22,24.95l9.14-4.56l-1.44,9.84l23.15-2.27L93.1,277.36z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b5j5Iyvsp" class="st14" d="M75.81,307.62c-10.93,9.88-27.7,8.56-37.41-2.94c-9.72-11.49-8.73-28.85,2.21-38.72
					c10.93-9.88,27.69-8.56,37.41,2.93C87.72,280.39,86.74,297.75,75.81,307.62z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="bWSZnoAEA" class="st8" d="M121.99,187.78h445.81v81.05H121.99V187.78z"/>
		</g>
		<g>
			<g>
				<path class="st9" d="M121.99,187.78h445.81v81.05H121.99V187.78z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="dom4EGMIU" class="st15" d="M190.74,757.23h304.44v124.34H190.74V757.23z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="agcv2RvL" class="st16" d="M190.74,827.03h304.44v41.56H190.74V827.03z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<path id="lSHoaAHA5" class="st14" d="M296.55,880.57l36.31-64.84h-36.31V880.57z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="c5OI5NQhT" class="st17" d="M333.24,816.02l-36.31,64.84h36.31V816.02z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="b1CbuyUDxr" class="st14" d="M259.88,880.57l36.31-64.84h-36.31V880.57z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="b1kBaYLthg" class="st17" d="M296.56,816.02l-36.31,64.84h36.31V816.02z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="ai7WNv8uZ" class="st14" d="M222.86,880.57l36.31-64.84h-36.31V880.57z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="b2B7iCF3ax" class="st17" d="M259.53,816.02l-36.31,64.84h36.31V816.02z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="gyWQpAX3Q" class="st18" d="M110.44,901h464.95v-19.68H110.44V901z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a4N99il6JR" class="st15" d="M498.43,189.06h67.95v78.48h-67.95V189.06z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="aHcDQ7JhN" class="st11" d="M498.39,199.94h55.06v55.05h-55.06V199.94z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="d1Di4Qdnvt" d="M557.55,201.14l2.88,5.7l2.84-5.72l-1.81,0.01l-0.02-6.05l-2.1,0.01l0.02,6.05L557.55,201.14z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="c4euSdEZrk" class="st19" d="M520.65,195.06h39.82v1.66h-39.82V195.06z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="d106JtApK9" d="M519.97,259.06l-5.71,2.85l5.71,2.86v-1.81l32.68-0.21v-2.03l-32.68,0.15L519.97,259.06z"/>
		</g>
	</g>
	<g>
		<g id="a4dPwS3KBC">
			<g>
				<text transform="matrix(1 0 0 1 533.7578 220.4761)" class="st19 st20 st21">CO</text>
			</g>
		</g>
		<g id="b1YqHa7vsb">
			<g>
				<text transform="matrix(1 0 0 1 559.3184 228.8994)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g id="b1mKTrf8hN">
			<g>
				<text transform="matrix(1 0 0 1 490.1758 244.5137)" class="st19 st20 st21">O</text>
			</g>
		</g>
		<g id="cmnpHnUUX">
			<g>
				<text transform="matrix(1 0 0 1 504.9912 252.6162)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="bPRwEGyMm" class="st19" d="M489.32,199.1l7.32-3.38l-2.48,7.66l-1.54-1.36c-2.55,2.49-4.13,4.05-4.77,4.67
				c-4.89,4.79-8.04,11.07-8.96,17.84c-0.33,2.39-1.13,8.38-2.43,17.95l-2.28-0.24c1.35-9.78,2.19-15.89,2.53-18.33
				c0.96-7,4.18-13.49,9.18-18.49c0.66-0.66,2.31-2.32,4.95-4.97L489.32,199.1z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="bd50BiWp" class="st23" d="M477.94,249.98c0,1.45-1.22,2.64-2.73,2.64c-1.5,0-2.72-1.18-2.72-2.64
					c0-1.46,1.22-2.64,2.72-2.64C476.72,247.34,477.94,248.52,477.94,249.98z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="lndvuXZwq" class="st23" d="M484.29,255.7c0,1.45-1.22,2.64-2.73,2.64s-2.72-1.18-2.72-2.64
					c0-1.45,1.22-2.64,2.72-2.64S484.29,254.24,484.29,255.7z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="h7w503v5ob" class="st23" d="M475.21,257.28c0,1.46-1.22,2.64-2.72,2.64c-1.51,0-2.73-1.18-2.73-2.64
					c0-1.45,1.22-2.64,2.73-2.64C473.99,254.65,475.21,255.83,475.21,257.28z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a1bHqADaJz" class="st15" d="M190.96,189.06H123v78.48h67.96V189.06z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a6goQYjMze" class="st11" d="M191,199.94h-55.06v55.05H191V199.94z"/>
			</g>
		</g>
	</g>
	<g>
		<g id="a2lJYFRixa">
			<g>
				<text transform="matrix(1 0 0 1 125.6108 223.7397)" class="st19 st20 st21">CO</text>
			</g>
		</g>
		<g id="a19qBbIkr1">
			<g>
				<text transform="matrix(1 0 0 1 151.1714 232.1626)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g id="aO05uIpE6">
			<g>
				<text transform="matrix(1 0 0 1 177.4727 245.4819)" class="st19 st20 st21">O</text>
			</g>
		</g>
		<g id="a1S0jzOi9g">
			<g>
				<text transform="matrix(1 0 0 1 192.2871 253.5845)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="aDTi6f6ko" d="M132.26,199.52l-2.88,5.7l-2.84-5.72l1.81,0.01l0.02-6.05l2.1,0.01l-0.02,6.05L132.26,199.52z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b3KzLLTNm9" class="st19" d="M169.15,193.45h-39.81v1.66h39.81V193.45z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="aJTT7167" d="M169.84,257.45l5.71,2.85l-5.7,2.86v-1.81l-32.68-0.21l-0.01-2.03l32.68,0.15V257.45z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b18vKBkjdD" class="st19" d="M200.48,197.48l-7.31-3.38l2.48,7.66l1.53-1.36c2.55,2.49,4.14,4.05,4.77,4.67
				c4.89,4.79,8.04,11.07,8.96,17.84c0.33,2.39,1.13,8.38,2.43,17.95l2.27-0.24c-1.35-9.78-2.19-15.89-2.52-18.33
				c-0.97-7-4.19-13.49-9.18-18.49c-0.66-0.66-2.31-2.32-4.95-4.97L200.48,197.48z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="aBF2APS6a" class="st23" d="M214.7,254.45c0-1.45-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
					c0,1.45,1.22,2.64,2.73,2.64C213.48,257.09,214.7,255.9,214.7,254.45z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="bqJ4WxBeC" class="st23" d="M221.04,248.74c0-1.46-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
					c0,1.45,1.22,2.64,2.73,2.64C219.83,251.37,221.04,250.19,221.04,248.74z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="ci58Fj0Lc" class="st23" d="M211.97,247.15c0-1.45-1.22-2.64-2.73-2.64c-1.51,0-2.72,1.18-2.72,2.64
					c0,1.46,1.22,2.64,2.72,2.64C210.75,249.79,211.97,248.61,211.97,247.15z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="cDLmk39FP" class="st5" d="M204.7,258.19h174.31v5.08H204.7V258.19z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="cRbmMooTp" class="st8" d="M121.99,349.88h445.81v81.04H121.99V349.88z"/>
		</g>
		<g>
			<g>
				<path class="st9" d="M121.99,349.88h445.81v81.04H121.99V349.88z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="k2tEvpFgzr" class="st15" d="M498.43,351.16h67.95v78.48h-67.95V351.16z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="c4zAhTvqh" class="st11" d="M498.39,362.03h55.06v55.05h-55.06V362.03z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="c1g63lMSqw" d="M557.55,363.23l2.88,5.69l2.84-5.71l-1.81,0.01l-0.02-6.05l-2.1,0.01l0.02,6.05L557.55,363.23z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a6rHTsFt1z" class="st19" d="M520.65,357.16h39.82v1.65h-39.82V357.16z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b5coydRcS" d="M519.97,421.16l-5.71,2.85l5.71,2.86v-1.81l32.68-0.22v-2.03l-32.68,0.15L519.97,421.16z"/>
		</g>
	</g>
	<g>
		<g id="bW9U36Cys">
			<g>
				<text transform="matrix(1 0 0 1 533.7578 382.5713)" class="st19 st20 st21">CO</text>
			</g>
		</g>
		<g id="acRIMroIL">
			<g>
				<text transform="matrix(1 0 0 1 559.3184 390.9941)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g id="b3GKdppSa9">
			<g>
				<text transform="matrix(1 0 0 1 490.1758 406.6089)" class="st19 st20 st21">O</text>
			</g>
		</g>
		<g id="b69NiUTo">
			<g>
				<text transform="matrix(1 0 0 1 504.9912 414.7114)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="amqQpMbgQ" class="st19" d="M489.32,361.19l7.32-3.38l-2.48,7.66l-1.54-1.36c-2.55,2.49-4.13,4.05-4.77,4.68
				c-4.89,4.78-8.04,11.06-8.96,17.84c-0.33,2.39-1.13,8.38-2.43,17.95l-2.28-0.24c1.35-9.79,2.19-15.89,2.53-18.34
				c0.96-7,4.18-13.49,9.18-18.49c0.66-0.66,2.31-2.32,4.95-4.97L489.32,361.19z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a1XzyBbVLB" class="st23" d="M477.94,412.08c0,1.46-1.22,2.64-2.73,2.64c-1.5,0-2.72-1.18-2.72-2.64
					c0-1.45,1.22-2.64,2.72-2.64C476.72,409.44,477.94,410.62,477.94,412.08z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a16DEiXItd" class="st23" d="M484.29,417.8c0,1.45-1.22,2.64-2.73,2.64s-2.72-1.18-2.72-2.64
					c0-1.46,1.22-2.64,2.72-2.64S484.29,416.34,484.29,417.8z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b5Frem8my1" class="st23" d="M475.21,419.38c0,1.45-1.22,2.64-2.72,2.64c-1.51,0-2.73-1.18-2.73-2.64
					c0-1.46,1.22-2.64,2.73-2.64C473.99,416.74,475.21,417.92,475.21,419.38z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="e1seuDgCDb" class="st15" d="M190.96,351.16H123v78.48h67.96V351.16z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="e22CZeIIuh" class="st11" d="M191,362.03h-55.06v55.05H191V362.03z"/>
			</g>
		</g>
	</g>
	<g>
		<g id="b1Yy35LK0S">
			<g>
				<text transform="matrix(1 0 0 1 125.6108 385.835)" class="st19 st20 st21">CO</text>
			</g>
		</g>
		<g id="b3Xm3GlCfj">
			<g>
				<text transform="matrix(1 0 0 1 151.1714 394.2578)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g id="eoKXK63W1">
			<g>
				<text transform="matrix(1 0 0 1 177.4727 407.5771)" class="st19 st20 st21">O</text>
			</g>
		</g>
		<g id="a9nimTf8D">
			<g>
				<text transform="matrix(1 0 0 1 192.2871 415.6797)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="gy66ofAqC" d="M132.26,361.62l-2.88,5.69l-2.84-5.71l1.81,0.01l0.02-6.05l2.1,0.01l-0.02,6.05L132.26,361.62z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b1cr8eBZPK" class="st19" d="M169.15,355.54h-39.81v1.66h39.81V355.54z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="cZkLCAmbS" d="M169.84,419.55l5.71,2.85l-5.7,2.86v-1.81l-32.68-0.22l-0.01-2.03l32.68,0.15V419.55z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="aE2aZjVT6" class="st19" d="M200.48,359.58l-7.31-3.38l2.48,7.66l1.53-1.36c2.55,2.49,4.14,4.05,4.77,4.68
				c4.89,4.78,8.04,11.06,8.96,17.84c0.33,2.39,1.13,8.38,2.43,17.95l2.27-0.24c-1.35-9.79-2.19-15.89-2.52-18.34
				c-0.97-7-4.19-13.49-9.18-18.49c-0.66-0.66-2.31-2.32-4.95-4.97L200.48,359.58z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="d1ZIXApC0T" class="st23" d="M214.7,416.54c0-1.45-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
					c0,1.46,1.22,2.64,2.73,2.64C213.48,419.19,214.7,418,214.7,416.54z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b60oVbtkHQ" class="st23" d="M221.04,410.83c0-1.45-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
					c0,1.46,1.22,2.64,2.73,2.64C219.83,413.47,221.04,412.29,221.04,410.83z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="h7zO1Znyts" class="st23" d="M211.97,409.25c0-1.46-1.22-2.64-2.73-2.64c-1.51,0-2.72,1.18-2.72,2.64
					c0,1.45,1.22,2.64,2.72,2.64C210.75,411.88,211.97,410.7,211.97,409.25z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="cAeahkgIl" class="st5" d="M291.12,420.28h174.31v5.08H291.12V420.28z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b2ox8fJ8WW" class="st8" d="M121.99,674.07h445.81v81.04H121.99V674.07z"/>
		</g>
		<g>
			<g>
				<path class="st9" d="M121.99,674.07h445.81v81.04H121.99V674.07z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="d13bTaRi2a" class="st15" d="M498.43,675.35h67.95v78.48h-67.95V675.35z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a1vUXsLs4T" class="st11" d="M498.39,686.22h55.06v55.05h-55.06V686.22z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a1hYFTCzJ0" d="M557.55,687.42l2.88,5.69l2.84-5.71l-1.81,0.01l-0.02-6.05l-2.1,0.01l0.02,6.05L557.55,687.42z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="m5QEibbDHw" class="st19" d="M520.65,681.35h39.82V683h-39.82V681.35z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b1a4BIAUsn" d="M519.97,745.35l-5.71,2.85l5.71,2.86v-1.81l32.68-0.22v-2.03l-32.68,0.15L519.97,745.35z"/>
		</g>
	</g>
	<g>
		<g id="jYfyjgL7s">
			<g>
				<text transform="matrix(1 0 0 1 533.7578 706.7617)" class="st19 st20 st21">CO</text>
			</g>
		</g>
		<g id="a3uKxrhgab">
			<g>
				<text transform="matrix(1 0 0 1 559.3184 715.1846)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g id="fLSG1ynUR">
			<g>
				<text transform="matrix(1 0 0 1 490.1758 730.7988)" class="st19 st20 st21">O</text>
			</g>
		</g>
		<g id="b1L3pO98hK">
			<g>
				<text transform="matrix(1 0 0 1 504.9912 738.9023)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="c6HX1J8XrW" class="st19" d="M489.32,685.38l7.32-3.38l-2.48,7.66l-1.54-1.36c-2.55,2.49-4.13,4.05-4.77,4.68
				c-4.89,4.78-8.04,11.06-8.96,17.84c-0.33,2.39-1.13,8.38-2.43,17.95l-2.28-0.24c1.35-9.79,2.19-15.89,2.53-18.34
				c0.96-7,4.18-13.49,9.18-18.49c0.66-0.66,2.31-2.32,4.95-4.97L489.32,685.38z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="aF7LXR2OM" class="st23" d="M477.94,736.27c0,1.46-1.22,2.64-2.73,2.64c-1.5,0-2.72-1.18-2.72-2.64
					c0-1.45,1.22-2.64,2.72-2.64C476.72,733.63,477.94,734.81,477.94,736.27z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a3T0qm6pz6" class="st23" d="M484.29,741.99c0,1.45-1.22,2.64-2.73,2.64s-2.72-1.18-2.72-2.64
					c0-1.46,1.22-2.64,2.72-2.64S484.29,740.53,484.29,741.99z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="g384RkAUNJ" class="st23" d="M475.21,743.57c0,1.45-1.22,2.64-2.72,2.64c-1.51,0-2.73-1.18-2.73-2.64
					c0-1.46,1.22-2.64,2.73-2.64C473.99,740.93,475.21,742.11,475.21,743.57z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="dEzadc3G5" class="st15" d="M190.96,675.35H123v78.48h67.96V675.35z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b1ic71AWBF" class="st11" d="M191,686.22h-55.06v55.05H191V686.22z"/>
			</g>
		</g>
	</g>
	<g>
		<g id="aTeGxwzCj">
			<g>
				<text transform="matrix(1 0 0 1 125.6108 710.0254)" class="st19 st20 st21">CO</text>
			</g>
		</g>
		<g id="b8nIl0jPVZ">
			<g>
				<text transform="matrix(1 0 0 1 151.1714 718.4482)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g id="c69kt2QMfn">
			<g>
				<text transform="matrix(1 0 0 1 177.4727 731.7676)" class="st19 st20 st21">O</text>
			</g>
		</g>
		<g id="j2dL7tYrRg">
			<g>
				<text transform="matrix(1 0 0 1 192.2871 739.8701)" class="st19 st20 st22">2</text>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="g4KrtuuoN" d="M132.26,685.81l-2.88,5.69l-2.84-5.71l1.81,0.01l0.02-6.05l2.1,0.01l-0.02,6.05L132.26,685.81z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b1oe8ZaSIZ" class="st19" d="M169.15,679.73h-39.81v1.66h39.81V679.73z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a7dTvBgO7" d="M169.84,743.74l5.71,2.85l-5.7,2.86v-1.81l-32.68-0.22l-0.01-2.03l32.68,0.15V743.74z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="d1kk0frafT" class="st19" d="M200.48,683.77l-7.31-3.38l2.48,7.66l1.53-1.36c2.55,2.49,4.14,4.05,4.77,4.68
				c4.89,4.78,8.04,11.06,8.96,17.84c0.33,2.39,1.13,8.38,2.43,17.95l2.27-0.24c-1.35-9.79-2.19-15.89-2.52-18.34
				c-0.97-7-4.19-13.49-9.18-18.49c-0.66-0.66-2.31-2.32-4.95-4.97L200.48,683.77z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="aURXCAeb" class="st23" d="M214.7,740.73c0-1.45-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
					c0,1.46,1.22,2.64,2.73,2.64C213.48,743.38,214.7,742.19,214.7,740.73z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="aFzG3Rgxc" class="st23" d="M221.04,735.02c0-1.45-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
					c0,1.46,1.22,2.63,2.73,2.63C219.83,737.66,221.04,736.48,221.04,735.02z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="e5XUG5slwp" class="st23" d="M211.97,733.44c0-1.46-1.22-2.64-2.73-2.64c-1.51,0-2.72,1.18-2.72,2.64
					c0,1.45,1.22,2.64,2.72,2.64C210.75,736.07,211.97,734.89,211.97,733.44z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b246j19LG" class="st5" d="M289.96,745.64h174.31v5.08H289.96V745.64z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a3m6f6yCRv" class="st8" d="M121.99,511.97h445.81v81.05H121.99V511.97z"/>
			</g>
			<g>
				<g>
					<path class="st9" d="M121.99,511.97h445.81v81.05H121.99V511.97z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="ddVPfiprr" class="st15" d="M498.43,513.25h67.95v78.48h-67.95V513.25z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="aQFpQtt5H" class="st11" d="M498.39,524.13h55.06v55.05h-55.06V524.13z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="b217GQFhJP" d="M557.55,525.33l2.88,5.7l2.84-5.72l-1.81,0.01l-0.02-6.05l-2.1,0.01l0.02,6.05L557.55,525.33z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="b1BhzftBNi" class="st19" d="M520.65,519.25h39.82v1.66h-39.82V519.25z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="e3199ElPnl" d="M519.97,583.26l-5.71,2.85l5.71,2.86v-1.81l32.68-0.21v-2.03l-32.68,0.15L519.97,583.26z"/>
			</g>
		</g>
		<g>
			<g id="a90F6hI68">
				<g>
					<text transform="matrix(1 0 0 1 533.7578 544.6665)" class="st19 st20 st21">CO</text>
				</g>
			</g>
			<g id="ip0aXJlko">
				<g>
					<text transform="matrix(1 0 0 1 559.3184 553.0898)" class="st19 st20 st22">2</text>
				</g>
			</g>
		</g>
		<g>
			<g id="aHQ7kcl8O">
				<g>
					<text transform="matrix(1 0 0 1 490.1758 568.7041)" class="st19 st20 st21">O</text>
				</g>
			</g>
			<g id="amCmJJSW8">
				<g>
					<text transform="matrix(1 0 0 1 504.9912 576.8066)" class="st19 st20 st22">2</text>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a9PbAImT3" class="st19" d="M489.32,523.29l7.32-3.38l-2.48,7.66l-1.54-1.36c-2.55,2.49-4.13,4.05-4.77,4.67
					c-4.89,4.79-8.04,11.07-8.96,17.84c-0.33,2.39-1.13,8.38-2.43,17.95l-2.28-0.24c1.35-9.78,2.19-15.89,2.53-18.33
					c0.96-7,4.18-13.49,9.18-18.49c0.66-0.66,2.31-2.32,4.95-4.97L489.32,523.29z"/>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="bZQLiGyW" class="st23" d="M477.94,574.17c0,1.45-1.22,2.64-2.73,2.64c-1.5,0-2.72-1.18-2.72-2.64
						c0-1.46,1.22-2.64,2.72-2.64C476.72,571.53,477.94,572.72,477.94,574.17z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="h5OZEl41" class="st23" d="M484.29,579.89c0,1.45-1.22,2.64-2.73,2.64s-2.72-1.18-2.72-2.64
						c0-1.45,1.22-2.63,2.72-2.63S484.29,578.43,484.29,579.89z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="bikv6wTKe" class="st23" d="M475.21,581.47c0,1.46-1.22,2.64-2.72,2.64c-1.51,0-2.73-1.18-2.73-2.64
						c0-1.45,1.22-2.63,2.73-2.63C473.99,578.84,475.21,580.02,475.21,581.47z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="c2nl1mUsnf" class="st15" d="M190.96,513.25H123v78.48h67.96V513.25z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="a4P0J8aLMd" class="st11" d="M191,524.13h-55.06v55.05H191V524.13z"/>
				</g>
			</g>
		</g>
		<g>
			<g id="a2lwIoDS88">
				<g>
					<text transform="matrix(1 0 0 1 125.6108 547.9302)" class="st19 st20 st21">CO</text>
				</g>
			</g>
			<g id="a29kZsvffE">
				<g>
					<text transform="matrix(1 0 0 1 151.1714 556.3535)" class="st19 st20 st22">2</text>
				</g>
			</g>
		</g>
		<g>
			<g id="c5W8bJ0Cfx">
				<g>
					<text transform="matrix(1 0 0 1 177.4727 569.6724)" class="st19 st20 st21">O</text>
				</g>
			</g>
			<g id="g5JprZ2kb">
				<g>
					<text transform="matrix(1 0 0 1 192.2871 577.7749)" class="st19 st20 st22">2</text>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="b9fc7sFBl" d="M132.26,523.71l-2.88,5.7l-2.84-5.72l1.81,0.01l0.02-6.05l2.1,0.01l-0.02,6.05L132.26,523.71z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="a1xaVbBNAl" class="st19" d="M169.15,517.64h-39.81v1.66h39.81V517.64z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a1wSk34ga" d="M169.84,581.64l5.71,2.85l-5.7,2.86v-1.81l-32.68-0.21l-0.01-2.03l32.68,0.15V581.64z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="a1qgaSLtvo" class="st19" d="M200.48,521.67l-7.31-3.38l2.48,7.66l1.53-1.36c2.55,2.49,4.14,4.05,4.77,4.67
					c4.89,4.79,8.04,11.07,8.96,17.84c0.33,2.39,1.13,8.38,2.43,17.95l2.27-0.24c-1.35-9.78-2.19-15.89-2.52-18.33
					c-0.97-7-4.19-13.49-9.18-18.49c-0.66-0.66-2.31-2.32-4.95-4.97L200.48,521.67z"/>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="i2uyFjuhlY" class="st23" d="M214.7,578.64c0-1.45-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
						c0,1.45,1.22,2.63,2.73,2.63C213.48,581.28,214.7,580.09,214.7,578.64z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="bmtUVWPKS" class="st23" d="M221.04,572.93c0-1.46-1.22-2.64-2.72-2.64c-1.51,0-2.73,1.18-2.73,2.64
						c0,1.45,1.22,2.64,2.73,2.64C219.83,575.56,221.04,574.38,221.04,572.93z"/>
				</g>
			</g>
			<g>
				<g>
					<path id="bta115Y6C" class="st23" d="M211.97,571.34c0-1.45-1.22-2.64-2.73-2.64c-1.51,0-2.72,1.18-2.72,2.64
						c0,1.46,1.22,2.64,2.72,2.64C210.75,573.98,211.97,572.8,211.97,571.34z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="bBLi9Y9bR" class="st5" d="M204.7,582.38h174.31v5.08H204.7V582.38z"/>
			</g>
		</g>
	</g>
</g>
</svg>

</template>

<style scoped>
    svg {
            width:65%;
            height:65%;
        }
	.st0{fill:#8CC63F;}
	.st1{fill:#5A972D;}
	.st2{fill:#B89E6C;}
	.st3{fill:#D0A100;}
	.st4{fill:#997122;}
	.st5{fill:#EB8192;}
	.st6{fill:#D480D2;}
	.st7{fill:#B096C7;}
	.st8{fill:#FFFFFF;}
	.st9{fill-opacity:0;stroke:#000000;stroke-width:3;}
	.st10{fill:#69A432;}
	.st11{fill:#F0E3A6;}
	.st12{fill:#E71738;}
	.st13{fill:#F8B62B;}
	.st14{fill:#FFF100;}
	.st15{fill:#AFD96B;}
	.st16{fill:#6BB9D9;}
	.st17{fill:#236DE2;}
	.st18{fill:#828077;}
	.st19{fill:#0C0C0B;}
	.st20{font-family:'AdobeMingStd-Light-B5pc-H';}
	.st21{font-size:17.9818px;}
	.st22{font-size:9.6825px;}
	.st23{fill:#1A52F9;}
</style>