<template>
<!-- eslint-disable -->
    <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 539 840" style="enable-background:new 0 0 539 840;" xml:space="preserve">
<g>
	<g>
		<g>
			<g>
				<path id="bKkvHSutN_1_" class="st0" d="M176.75,75.36l15.56-0.31l-0.03-62.69h34.84v25.07l-7.09,0.41V19.45h-21.92v64.46h-21.59
					L176.75,75.36z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M177.07,75.68l15.56-0.31l-0.03-62.69h34.2v25.07l-7.09,0.41V19.78h-21.27v64.46h-21.59L177.07,75.68z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="cnvzHvZaO_1_" class="st2" d="M171.42,82.15c1.3-0.65,2.89-0.08,3.47,1.26c1.64,3.8,5.51,12.75,7.15,16.55
					c0.6,1.39,0.01,3-1.33,3.67c-0.48,0.24,0.48-0.24,0,0c-1.3,0.65-2.89,0.08-3.46-1.26c-1.64-3.8-5.51-12.76-7.16-16.56
					C169.49,84.44,170.08,82.83,171.42,82.15C171.91,81.91,170.95,82.39,171.42,82.15z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M171.42,82.15c1.3-0.65,2.89-0.08,3.47,1.26c1.64,3.8,5.51,12.75,7.15,16.55c0.6,1.39,0.01,3-1.33,3.67
						c-0.48,0.24,0.48-0.24,0,0c-1.3,0.65-2.89,0.08-3.46-1.26c-1.64-3.8-5.51-12.76-7.16-16.56
						C169.49,84.44,170.08,82.83,171.42,82.15C171.91,81.91,170.95,82.39,171.42,82.15z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="dgDn7Rw4M_1_" class="st2" d="M149.76,82.15c-1.3-0.65-2.89-0.08-3.46,1.26c-1.64,3.8-5.51,12.75-7.16,16.55
					c-0.59,1.39-0.01,3,1.33,3.67c0.48,0.24-0.48-0.24,0,0c1.3,0.65,2.89,0.08,3.47-1.26c1.64-3.8,5.51-12.76,7.15-16.56
					C151.7,84.44,151.11,82.83,149.76,82.15C149.29,81.91,150.25,82.39,149.76,82.15z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M149.76,82.15c-1.3-0.65-2.89-0.08-3.46,1.26c-1.64,3.8-5.51,12.75-7.16,16.55
						c-0.59,1.39-0.01,3,1.33,3.67c0.48,0.24-0.48-0.24,0,0c1.3,0.65,2.89,0.08,3.47-1.26c1.64-3.8,5.51-12.76,7.15-16.56
						C151.7,84.44,151.11,82.83,149.76,82.15C149.29,81.91,150.25,82.39,149.76,82.15z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="bnZ6037m7_1_" class="st0" d="M145.4,28.8c10.07-2.41,20.56-2.41,30.63,0c1.32,0.31-2.08-0.49,1.23,0.3
					c3.15,0.76,5.37,3.57,5.37,6.8c0,11.14,0,39.04,0,50.18c0,3.32-2.06,6.3-5.16,7.47c-3.14,1.19,0.89-0.33-0.18,0.07
					c-10.03,3.78-21.07,3.96-31.22,0.48c-1.45-0.5,1.49,0.51-2.06-0.71c-3.12-1.07-5.22-4.01-5.22-7.31c0-11.14,0-39.04,0-50.18
					c0-3.24,2.22-6.05,5.37-6.8C147.47,28.31,144.08,29.12,145.4,28.8z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M145.73,28.8c10.07-2.41,20.56-2.41,30.63,0c1.32,0.31-2.08-0.49,1.23,0.3c3.15,0.76,5.37,3.57,5.37,6.8
						c0,11.14,0,39.04,0,50.18c0,3.32-2.06,6.3-5.16,7.47c-3.14,1.19,0.89-0.33-0.18,0.07c-10.03,3.78-21.07,3.96-31.22,0.48
						c-1.45-0.5,1.49,0.51-2.06-0.71c-3.12-1.07-5.22-4.01-5.22-7.31c0-11.14,0-39.04,0-50.18c0-3.24,2.22-6.05,5.37-6.8
						C147.79,28.31,144.4,29.12,145.73,28.8z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="b3ot3LK6mi_1_" class="st3" d="M145.24,42.06c1.15,0.2,1.87,0.33,2.16,0.38c10.09,1.8,20.42,1.68,30.47-0.34
					c0.03-0.01,0.12-0.02,0.25-0.05v26.08c-0.43,0.1-0.7,0.18-0.81,0.2c-9.89,2.49-20.23,2.57-30.16,0.24
					c-0.25-0.06-0.89-0.21-1.91-0.44V42.06z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M144.92,42.06c1.15,0.2,1.87,0.33,2.16,0.38c10.08,1.8,20.42,1.68,30.47-0.34
						c0.03-0.01,0.12-0.02,0.25-0.05v26.08c-0.43,0.1-0.7,0.18-0.81,0.2c-9.89,2.49-20.23,2.57-30.16,0.24
						c-0.25-0.06-0.89-0.21-1.91-0.44V42.06z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a8oKZ2I5p_1_" class="st2" d="M159.77,22.68h3.17c1.75,0.08,6.23,0.3,8.18,0.39c0.31,0.01,0.54,0.27,0.54,0.57l0,4.6
					c0,0.31-0.24,0.57-0.55,0.59c-1.85,0.14-5.97,0.44-7.6,0.57c-1.11,0.08-2.22,0.09-3.33,0.01c-1.83-0.12-6.54-0.44-8.59-0.58
					c-0.31-0.03-0.55-0.28-0.55-0.59l0-4.6c0-0.31,0.24-0.56,0.54-0.57C153.54,22.97,158.02,22.76,159.77,22.68z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M160.1,22.35h3.17c1.75,0.08,6.23,0.3,8.18,0.39c0.31,0.01,0.54,0.27,0.54,0.57l0,4.6
						c0,0.31-0.24,0.57-0.55,0.59c-1.85,0.14-5.97,0.44-7.6,0.57c-1.11,0.08-2.22,0.09-3.33,0.01c-1.83-0.12-6.54-0.44-8.59-0.58
						c-0.31-0.03-0.55-0.28-0.55-0.59l0-4.6c0-0.31,0.24-0.56,0.54-0.57C153.86,22.65,158.35,22.44,160.1,22.35z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a6wQMzRtX_1_" class="st4" d="M160.76,18.81h3.14c3.11,0.09,11.66,0.35,14.97,0.44c0.3,0.01,0.55,0.28,0.55,0.6l0,4.81
					c0,0.31-0.24,0.56-0.55,0.58c-3.14,0.15-11.14,0.52-14.06,0.66l-3.31,0.01c-3.25-0.14-12.23-0.52-15.7-0.67
					c-0.31-0.01-0.55-0.27-0.55-0.58l0-4.81c0-0.32,0.24-0.58,0.55-0.6C149.1,19.16,157.66,18.9,160.76,18.81z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M160.43,18.49h3.14c3.11,0.09,11.66,0.35,14.97,0.44c0.3,0.01,0.55,0.28,0.55,0.6l0,4.81
						c0,0.31-0.24,0.56-0.55,0.58c-3.14,0.15-11.14,0.52-14.06,0.66l-3.31,0.01c-3.25-0.14-12.23-0.52-15.7-0.67
						c-0.31-0.01-0.55-0.27-0.55-0.58l0-4.81c0-0.32,0.24-0.58,0.55-0.6C148.78,18.84,157.33,18.58,160.43,18.49z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="e1CzSZv28_1_" class="st5" d="M306.07,24.78c-1.21,1.74,0.5,17.49-1.21,17.49c-3.82,0-2.91-5.31-2.91-11.85
					c0-6.54-0.91-11.86,2.91-11.86c1.21,0,3.33,0.59,6.36,1.76c1.66,0.64,1.32,3.09-0.46,3.24
					C308.03,23.8,306.47,24.21,306.07,24.78z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M306.07,24.78c-1.21,1.74,0.5,17.49-1.21,17.49c-3.82,0-2.91-5.31-2.91-11.85
						c0-6.54-0.91-11.86,2.91-11.86c1.21,0,3.33,0.59,6.36,1.76c1.66,0.64,1.32,3.09-0.46,3.24
						C308.03,23.8,306.47,24.21,306.07,24.78z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="adVpTQUJ_1_" class="st2" d="M296.59,82.15c1.3-0.65,2.88-0.08,3.46,1.26c1.64,3.8,5.51,12.75,7.15,16.55
					c0.6,1.39,0.01,3-1.33,3.67c-0.48,0.24,0.48-0.24,0,0c-1.3,0.65-2.88,0.08-3.46-1.26c-1.64-3.8-5.51-12.76-7.16-16.56
					C294.66,84.44,295.24,82.83,296.59,82.15C297.07,81.91,296.11,82.39,296.59,82.15z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M296.59,82.15c1.3-0.65,2.88-0.08,3.46,1.26c1.64,3.8,5.51,12.75,7.15,16.55c0.6,1.39,0.01,3-1.33,3.67
						c-0.48,0.24,0.48-0.24,0,0c-1.3,0.65-2.88,0.08-3.46-1.26c-1.64-3.8-5.51-12.76-7.16-16.56
						C294.66,84.44,295.24,82.83,296.59,82.15C297.07,81.91,296.11,82.39,296.59,82.15z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="c3skghpMV9_1_" class="st2" d="M274.92,82.15c-1.3-0.65-2.88-0.08-3.46,1.26c-1.64,3.8-5.51,12.75-7.15,16.55
					c-0.6,1.39-0.01,3,1.33,3.67c0.48,0.24-0.48-0.24,0,0c1.3,0.65,2.88,0.08,3.46-1.26c1.64-3.8,5.51-12.76,7.16-16.56
					C276.86,84.44,276.27,82.83,274.92,82.15C274.45,81.91,275.41,82.39,274.92,82.15z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M274.92,82.15c-1.3-0.65-2.88-0.08-3.46,1.26c-1.64,3.8-5.51,12.75-7.15,16.55c-0.6,1.39-0.01,3,1.33,3.67
						c0.48,0.24-0.48-0.24,0,0c1.3,0.65,2.88,0.08,3.46-1.26c1.64-3.8,5.51-12.76,7.16-16.56
						C276.86,84.44,276.27,82.83,274.92,82.15C274.45,81.91,275.41,82.39,274.92,82.15z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="fnmpr8AbT_1_" class="st6" d="M270.41,28.26c2.47-0.6,8.38-1.51,11.35-4.45c2.02-2,1.16-6.43,2.87-6.5
					c3.28-0.14,2.91-0.47,6.18-0.12c1.13,0.12,1.37,3.68,2.9,5.74c2.24,3.03,7.83,3.1,9.46,3.5c0.02,0.01,0.06,0.03,0.12,0.08
					c2.78,2.09,4.41,5.36,4.41,8.83c0,11.14,0,39.04,0,50.18c0,3.32-2.06,6.29-5.17,7.47c3.44-1.3,3.43-1.3-0.04,0.01
					c-2.73,1.03-10.43,0.83-12.59,2.99c-1.44,1.45,3.95,3.21,2.13,3.94c-1.45,0.57-8.33,0.39-9.84,0.31
					c-1.09-0.05,3.52-4.07,2.43-4.2c-3.25-0.39-10.43-1.48-13.59-2.56c-4.78-1.64-5.43-1.86-1.95-0.67
					c-3.12-1.07-5.22-4.01-5.22-7.3c0-11.14,0-39.04,0-50.18c0-3.23,2.22-6.05,5.36-6.8C265.65,29.4,266.04,29.3,270.41,28.26z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M270.73,28.26c2.47-0.6,8.38-1.51,11.35-4.45c2.02-2,1.16-6.43,2.87-6.5c3.28-0.14,2.91-0.47,6.18-0.12
						c1.13,0.12,1.37,3.68,2.9,5.74c2.24,3.03,7.83,3.1,9.46,3.5c0.02,0.01,0.06,0.03,0.12,0.08c2.78,2.09,4.41,5.36,4.41,8.83
						c0,11.14,0,39.04,0,50.18c0,3.32-2.06,6.29-5.17,7.47c3.44-1.3,3.43-1.3-0.04,0.01c-2.73,1.03-10.43,0.83-12.59,2.99
						c-1.44,1.45,3.95,3.21,2.13,3.94c-1.45,0.57-8.33,0.39-9.84,0.31c-1.09-0.05,3.52-4.07,2.43-4.2
						c-3.25-0.39-10.43-1.48-13.59-2.56c-4.78-1.64-5.43-1.86-1.95-0.67c-3.12-1.07-5.22-4.01-5.22-7.3c0-11.14,0-39.04,0-50.18
						c0-3.23,2.22-6.05,5.36-6.8C265.97,29.4,266.37,29.3,270.73,28.26z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a2mtmooY42_1_" class="st4" d="M285.93,14.3h2.93c2.22,0.08,8.19,0.3,10.6,0.39c0.29,0.01,0.51,0.25,0.51,0.54
					c0,0.98,0,3.4,0,4.37c0,0.3-0.22,0.54-0.51,0.56c-2.29,0.13-7.83,0.46-9.92,0.58l-3.08,0.01c-2.33-0.12-8.59-0.46-11.12-0.59
					c-0.29-0.02-0.52-0.26-0.52-0.56c0-0.98,0-3.4,0-4.37c0-0.3,0.23-0.54,0.52-0.54C277.74,14.6,283.71,14.37,285.93,14.3z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M286.25,14.62h2.93c2.22,0.08,8.19,0.3,10.6,0.39c0.29,0.01,0.51,0.25,0.51,0.54c0,0.98,0,3.4,0,4.37
						c0,0.3-0.22,0.54-0.51,0.56c-2.29,0.13-7.83,0.46-9.92,0.58l-3.08,0.01c-2.33-0.12-8.59-0.46-11.12-0.59
						c-0.29-0.02-0.52-0.26-0.52-0.56c0-0.98,0-3.4,0-4.37c0-0.3,0.23-0.54,0.52-0.54C278.07,14.92,284.03,14.7,286.25,14.62z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="baukTozzc_1_" class="st2" d="M233.72,82.15c1.3-0.65,2.89-0.08,3.46,1.26c1.64,3.8,5.51,12.75,7.16,16.55
					c0.59,1.39,0.01,3-1.33,3.67c-0.48,0.24,0.48-0.24,0,0c-1.3,0.65-2.89,0.08-3.47-1.26c-1.64-3.8-5.51-12.76-7.15-16.56
					C231.78,84.44,232.37,82.83,233.72,82.15C234.19,81.91,233.23,82.39,233.72,82.15z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M233.72,82.15c1.3-0.65,2.89-0.08,3.46,1.26c1.64,3.8,5.51,12.75,7.16,16.55c0.59,1.39,0.01,3-1.33,3.67
						c-0.48,0.24,0.48-0.24,0,0c-1.3,0.65-2.89,0.08-3.47-1.26c-1.64-3.8-5.51-12.76-7.15-16.56
						C231.78,84.44,232.37,82.83,233.72,82.15C234.19,81.91,233.23,82.39,233.72,82.15z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="aySBYlFwJ_1_" class="st2" d="M212.06,82.15c-1.3-0.65-2.89-0.08-3.47,1.26c-1.64,3.8-5.51,12.75-7.15,16.55
					c-0.6,1.39-0.01,3,1.33,3.67c0.48,0.24-0.48-0.24,0,0c1.3,0.65,2.89,0.08,3.46-1.26c1.64-3.8,5.51-12.76,7.16-16.56
					C213.99,84.44,213.4,82.83,212.06,82.15C211.57,81.91,212.53,82.39,212.06,82.15z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M212.06,82.15c-1.3-0.65-2.89-0.08-3.47,1.26c-1.64,3.8-5.51,12.75-7.15,16.55c-0.6,1.39-0.01,3,1.33,3.67
						c0.48,0.24-0.48-0.24,0,0c1.3,0.65,2.89,0.08,3.46-1.26c1.64-3.8,5.51-12.76,7.16-16.56C213.99,84.44,213.4,82.83,212.06,82.15
						C211.57,81.91,212.53,82.39,212.06,82.15z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="eeiP2KFIU_1_" class="st2" d="M223.62,74.81c-1.46,0.04-2.62,1.25-2.59,2.71c0.09,4.21,0.31,14.2,0.4,18.4
					c0.03,1.46,1.24,2.62,2.71,2.59c0.53-0.02-0.53,0.01,0,0c1.46-0.04,2.62-1.25,2.59-2.71c-0.09-4.22-0.31-14.2-0.4-18.4
					C226.28,75.93,225.07,74.77,223.62,74.81C223.08,74.83,224.14,74.79,223.62,74.81z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M223.62,74.81c-1.46,0.04-2.62,1.25-2.59,2.71c0.09,4.21,0.31,14.2,0.4,18.4
						c0.03,1.46,1.24,2.62,2.71,2.59c0.53-0.02-0.53,0.01,0,0c1.46-0.04,2.62-1.25,2.59-2.71c-0.09-4.22-0.31-14.2-0.4-18.4
						C226.28,75.93,225.07,74.77,223.62,74.81C223.08,74.83,224.14,74.79,223.62,74.81z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				
					<linearGradient id="c50iT75ltT_2_" gradientUnits="userSpaceOnUse" x1="-316.758" y1="2230.8611" x2="-316.0488" y2="2182.0081" gradientTransform="matrix(1 0 0 -1 539 2264.5)">
					<stop  offset="0" style="stop-color:#86DBE7"/>
					<stop  offset="1" style="stop-color:#314DD0"/>
				</linearGradient>
				<path id="c50iT75ltT_1_" class="st7" d="M200.68,33.64h43.84v49.6l-20.38,11.86l-23.45-11.86V33.64z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M201.01,33.96h43.84v49.6l-20.38,11.86l-23.45-11.86V33.96z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a1uXWHQ0j3_1_" class="st8" d="M200.68,45.88h43.84V62h-43.84V45.88z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M201.01,46.21h43.84v16.12h-43.84V46.21z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a2y84yzcak_1_" class="st0" d="M244.94,41.37c-0.38-0.35-0.62-0.56-0.71-0.64c-1.3-1.17-1.13-3.35,0.33-4.28
					c0.05-0.03,0.17-0.11,0.38-0.24l27.94,0.03l0.23,52.95c-0.57,1.05-1.5,1.58-2.78,1.58c-1.28,0-2.15-0.44-2.61-1.32l0.23-48.08
					H244.94z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M245.26,41.05c-0.38-0.35-0.62-0.56-0.71-0.64c-1.3-1.17-1.13-3.35,0.33-4.28
						c0.05-0.03,0.17-0.11,0.38-0.24l27.94,0.03l0.23,52.95c-0.57,1.05-1.5,1.58-2.78,1.58c-1.28,0-2.15-0.44-2.61-1.32l0.23-48.08
						H245.26z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="aBqGLxD30_1_" class="st1" d="M201.66,46.07l5.19,7.79l5.19,7.8"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="e1dKAKh6W_1_" class="st1" d="M207.11,46.03l5.19,7.8l5.19,7.79"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="angtUkJ1N_1_" class="st1" d="M212.51,46.25l5.19,7.8l5.19,7.79"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="b1p7GxGfLK_1_" class="st1" d="M217.7,46.22l5.19,7.79l5.19,7.8"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="axdHWedEe_1_" class="st1" d="M223.36,46.05l5.19,7.8l5.19,7.8"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="a1DqOybp_1_" class="st1" d="M229.56,46.27l5.19,7.8l5.19,7.79"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="ax5ATNjO6_1_" class="st1" d="M234.46,45.73l5.19,7.79l5.19,7.8"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="e18Jt074uL_1_" class="st1" d="M200.94,52.84l3.06,4.43l3.06,4.42"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path id="g1JaYk4IS6_1_" class="st1" d="M238.46,45.73l3.06,4.42l3.06,4.42"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="b2ooCBz0lg_1_" class="st0" d="M220.67,33.64h4.51v51.57h-4.51V33.64z"/>
			</g>
			<g>
				<g>
					<path class="st1" d="M220.99,33.96h4.51v51.57h-4.51V33.96z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a5CdnsAP1U_1_" class="st9" d="M226.72,85.12c0,0.84-1.55,1.53-3.47,1.53c-1.91,0-3.47-0.68-3.47-1.53
					c0-0.84,1.55-1.53,3.47-1.53C225.17,83.59,226.72,84.28,226.72,85.12z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="h53oh89dtE_1_" class="st9" d="M214.34,75c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C213.64,73.41,214.34,74.12,214.34,75z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M214.34,75c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C213.64,73.41,214.34,74.12,214.34,75z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="cbSJy9lXoE_1_" class="st9" d="M212.35,74.71c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59
					s0.7-1.59,1.55-1.59C211.65,73.12,212.35,73.83,212.35,74.71z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M212.35,74.71c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
						C211.65,73.12,212.35,73.83,212.35,74.71z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a1CDBW8NKa_1_" class="st9" d="M218.5,80.4c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C217.81,78.81,218.5,79.53,218.5,80.4z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M218.5,80.4c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C217.81,78.81,218.5,79.53,218.5,80.4z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a2DtD5Hoz0_1_" class="st9" d="M217.34,70.99c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.71-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C216.64,69.4,217.34,70.11,217.34,70.99z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M217.34,70.99c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.71-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C216.64,69.4,217.34,70.11,217.34,70.99z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="c9wCkkKUWC_1_" class="st9" d="M239.67,74.73c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.69-1.59,1.55-1.59C238.98,73.14,239.67,73.85,239.67,74.73z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M239.67,74.73c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.69-1.59,1.55-1.59
						C238.98,73.14,239.67,73.85,239.67,74.73z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="jrIF4G1KN_1_" class="st9" d="M210.16,76.22c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C209.47,74.63,210.16,75.34,210.16,76.22z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M210.16,76.22c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C209.47,74.63,210.16,75.34,210.16,76.22z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="d9C3dAUB5_1_" class="st9" d="M230.37,78.64c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.71-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C229.68,77.06,230.37,77.77,230.37,78.64z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M230.37,78.64c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.71-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C229.68,77.06,230.37,77.77,230.37,78.64z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="c4mid5G03c_1_" class="st9" d="M232.63,83.12c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C231.93,81.53,232.63,82.24,232.63,83.12z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M232.63,83.12c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C231.93,81.53,232.63,82.24,232.63,83.12z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a7a0tniLb_1_" class="st9" d="M234.54,72.17c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59
					c0-0.88,0.69-1.59,1.55-1.59C233.84,70.58,234.54,71.29,234.54,72.17z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M234.54,72.17c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59c0-0.88,0.69-1.59,1.55-1.59
						C233.84,70.58,234.54,71.29,234.54,72.17z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="b197e0pKno_1_" class="st9" d="M219.19,75.66c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C218.5,74.07,219.19,74.78,219.19,75.66z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M219.19,75.66c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C218.5,74.07,219.19,74.78,219.19,75.66z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="d3dTuGd2zn_1_" class="st9" d="M244.03,68.1c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					s0.7-1.59,1.55-1.59C243.33,66.51,244.03,67.23,244.03,68.1z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M244.03,68.1c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
						C243.33,66.51,244.03,67.23,244.03,68.1z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="b4OH1xI5Wh_1_" class="st9" d="M217.61,66.26c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C216.92,64.67,217.61,65.37,217.61,66.26z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M217.61,66.26c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.71-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C216.92,64.67,217.61,65.37,217.61,66.26z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="h7rCfZZwZ_1_" class="st9" d="M211.65,68.69c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C210.95,67.1,211.65,67.81,211.65,68.69z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M211.65,68.69c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C210.95,67.1,211.65,67.81,211.65,68.69z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="cNn8FZiqj_1_" class="st9" d="M221.84,88.09c0,0.88-0.69,1.59-1.55,1.59s-1.55-0.71-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59S221.84,87.22,221.84,88.09z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M221.84,88.09c0,0.88-0.69,1.59-1.55,1.59s-1.55-0.71-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						S221.84,87.22,221.84,88.09z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="bicL4hu1J_1_" class="st9" d="M213.26,79.2c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
					C212.57,77.61,213.26,78.33,213.26,79.2z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M213.26,79.2c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
						C212.57,77.61,213.26,78.33,213.26,79.2z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a2ZU2NS4r_1_" class="st9" d="M236.47,74.64c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.69-1.59,1.55-1.59C235.77,73.05,236.47,73.76,236.47,74.64z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M236.47,74.64c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.69-1.59,1.55-1.59
						C235.77,73.05,236.47,73.76,236.47,74.64z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="e7mmR5sX5_1_" class="st9" d="M237.8,80.93c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
					C237.1,79.34,237.8,80.05,237.8,80.93z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M237.8,80.93c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
						C237.1,79.34,237.8,80.05,237.8,80.93z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="d2dnSfR9cQ_1_" class="st9" d="M216.69,84.13c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C215.99,82.54,216.69,83.26,216.69,84.13z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M216.69,84.13c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C215.99,82.54,216.69,83.26,216.69,84.13z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a1PCIBJaOT_1_" class="st9" d="M229.98,66.71c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C229.29,65.12,229.98,65.83,229.98,66.71z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M229.98,66.71c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C229.29,65.12,229.98,65.83,229.98,66.71z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a9HsGpU0A2_1_" class="st9" d="M232.97,77.71c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C232.27,76.12,232.97,76.84,232.97,77.71z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M232.97,77.71c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C232.27,76.12,232.97,76.84,232.97,77.71z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="g5wqBAnJaW_1_" class="st9" d="M206.09,74.81c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59
					c0-0.88,0.7-1.59,1.55-1.59C205.39,73.21,206.09,73.92,206.09,74.81z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M206.09,74.81c0,0.88-0.7,1.59-1.55,1.59c-0.85,0-1.55-0.72-1.55-1.59c0-0.88,0.7-1.59,1.55-1.59
						C205.39,73.21,206.09,73.92,206.09,74.81z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="bhY0w17TJ_1_" class="st9" d="M206.85,81.06c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					s0.7-1.59,1.55-1.59C206.16,79.47,206.85,80.18,206.85,81.06z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M206.85,81.06c0,0.88-0.7,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
						C206.16,79.47,206.85,80.18,206.85,81.06z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="lpJc6Wjzp_1_" class="st9" d="M232.18,74.17c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					c0-0.88,0.69-1.59,1.55-1.59C231.49,72.58,232.18,73.29,232.18,74.17z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M232.18,74.17c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59c0-0.88,0.69-1.59,1.55-1.59
						C231.49,72.58,232.18,73.29,232.18,74.17z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="eUYFvyhe8_1_" class="st9" d="M207.99,69.69c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59
					s0.7-1.59,1.55-1.59C207.3,68.1,207.99,68.82,207.99,69.69z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M207.99,69.69c0,0.88-0.69,1.59-1.55,1.59c-0.86,0-1.55-0.72-1.55-1.59s0.7-1.59,1.55-1.59
						C207.3,68.1,207.99,68.82,207.99,69.69z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="bARthaElN_1_" class="st9" d="M241.06,73.28c-0.58,0.62-1.54,0.58-2.14-0.08c-0.6-0.66-0.61-1.69-0.03-2.31
					c0.58-0.61,1.54-0.58,2.14,0.08C241.63,71.64,241.64,72.67,241.06,73.28z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M241.06,73.28c-0.58,0.62-1.54,0.58-2.14-0.08c-0.6-0.66-0.61-1.69-0.03-2.31
						c0.58-0.61,1.54-0.58,2.14,0.08C241.63,71.64,241.64,72.67,241.06,73.28z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="bArsvAzTK_1_" class="st9" d="M240.4,80.27c-0.58,0.62-1.54,0.58-2.14-0.08c-0.6-0.66-0.61-1.7-0.03-2.31
					c0.58-0.61,1.54-0.58,2.14,0.08C240.96,78.62,240.98,79.66,240.4,80.27z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M240.4,80.27c-0.58,0.62-1.54,0.58-2.14-0.08c-0.6-0.66-0.61-1.7-0.03-2.31
						c0.58-0.61,1.54-0.58,2.14,0.08C240.96,78.62,240.98,79.66,240.4,80.27z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a4nHVGBu4h_1_" class="st9" d="M237.33,70.93c-0.59,0.62-1.54,0.58-2.14-0.08s-0.61-1.69-0.03-2.31
					c0.58-0.61,1.54-0.58,2.14,0.08C237.89,69.28,237.91,70.31,237.33,70.93z"/>
			</g>
			<g>
				<g>
					<path class="st10" d="M237.33,70.93c-0.59,0.62-1.54,0.58-2.14-0.08s-0.61-1.69-0.03-2.31c0.58-0.61,1.54-0.58,2.14,0.08
						C237.89,69.28,237.91,70.31,237.33,70.93z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="ac7mdIimQ_1_" class="st11" d="M94.32,740.82h243.68V103.9H94.32V740.82z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M94.64,741.14h243.68V104.22H94.64V741.14z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a1ltEjIh7r_1_" class="st3" d="M39.52,213.49h350.69v68.98H39.52V213.49z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M39.84,213.81h350.69v68.98H39.84V213.81z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b4vd5ZwLGh_1_" class="st3" d="M40.17,103.9h350.69v37.39H40.17V103.9z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M40.49,104.22h350.69v37.39H40.49V104.22z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="bA8hHgtSg_1_" class="st3" d="M39.52,337.27h350.69v68.98H39.52V337.27z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M39.84,337.59h350.69v68.98H39.84V337.59z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="d13ezD9VnZ_1_" class="st3" d="M40.81,584.81H391.5v68.98H40.81V584.81z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M40.49,584.49h350.69v68.98H40.49V584.49z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b4MJycAtGV_1_" class="st13" d="M373.45,214.14h16.12v67.69h-16.12V214.14z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b20zj72LSn_1_" class="st13" d="M374.09,584.81h16.12v67.69h-16.12V584.81z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="c2E98xD6Bf_1_" class="st3" d="M40.17,461.04h350.69v68.98H40.17V461.04z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M40.49,461.36h350.69v68.98H40.49V461.36z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a8ZjBDLj7u_1_" class="st14" d="M383.12,229.57v0.72c0,1.76-1.43,3.18-3.18,3.18h-6.52c-1.76,0-3.18-1.43-3.18-3.18
				v-0.72c0-1.76,1.43-3.18,3.18-3.18h6.52C381.69,226.39,383.12,227.81,383.12,229.57z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M383.12,229.57v0.72c0,1.76-1.43,3.18-3.18,3.18h-6.52c-1.76,0-3.18-1.43-3.18-3.18v-0.72
					c0-1.76,1.43-3.18,3.18-3.18h6.52C381.69,226.39,383.12,227.81,383.12,229.57z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b2Z1ui73Oh_1_" class="st14" d="M380.57,595.12c1.76,0,3.19,1.43,3.19,3.19v0.81c0,1.72-1.44,3.12-3.21,3.09
				c-1.79,0-4.7,0-6.49,0c-1.76,0.03-3.19-1.37-3.19-3.09v-0.82c0-1.76,1.43-3.18,3.18-3.18H380.57z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M380.57,595.12c1.76,0,3.19,1.43,3.19,3.19v0.81c0,1.72-1.44,3.12-3.21,3.09c-1.79,0-4.7,0-6.49,0
					c-1.76,0.03-3.19-1.37-3.19-3.09v-0.82c0-1.76,1.43-3.18,3.18-3.18H380.57z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="cbMd2ALTC_1_" class="st13" d="M373.45,337.91h16.12v67.69h-16.12V337.91z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="aiNxxWBsR_1_" class="st14" d="M383.76,350.77v0.71c0,1.76-1.43,3.19-3.19,3.19h-6.51c-1.76,0-3.19-1.43-3.19-3.19
				v-0.72c0-1.76,1.43-3.18,3.18-3.18h6.52C382.34,347.58,383.76,349.01,383.76,350.77z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M383.76,350.77v0.71c0,1.76-1.43,3.19-3.19,3.19h-6.51c-1.76,0-3.19-1.43-3.19-3.19v-0.72
					c0-1.76,1.43-3.18,3.18-3.18h6.52C382.34,347.58,383.76,349.01,383.76,350.77z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="d2hjyoCIAh_1_" class="st13" d="M374.74,461.04h16.12v67.69h-16.12V461.04z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="d3lhzONeN_1_" class="st13" d="M40.17,214.14h16.12v67.69H40.17V214.14z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="cfp9zNSH1_1_" class="st14" d="M375.36,470.06c1.79,0,4.7,0,6.49,0c1.76-0.03,3.2,1.36,3.2,3.09v0.82
				c0,1.76-1.43,3.18-3.18,3.18h-6.52c-1.76,0-3.18-1.43-3.18-3.18v-0.82C372.16,471.42,373.6,470.03,375.36,470.06z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M375.36,470.06c1.79,0,4.7,0,6.49,0c1.76-0.03,3.2,1.36,3.2,3.09v0.82c0,1.76-1.43,3.18-3.18,3.18h-6.52
					c-1.76,0-3.18-1.43-3.18-3.18v-0.82C372.16,471.42,373.6,470.03,375.36,470.06z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="au4TabaII_1_" class="st14" d="M54.2,220.59c1.89-0.14,3.46,1.49,3.37,3.47c0,0.48,0,0.95,0,1.42
				c0.1,1.98-1.47,3.6-3.37,3.47c-1.71,0-4.45,0-6.15,0c-1.89,0.13-3.46-1.49-3.37-3.47c0-0.48,0-0.95,0-1.42
				c-0.1-1.98,1.47-3.61,3.37-3.47C49.75,220.59,52.5,220.59,54.2,220.59z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M54.2,220.59c1.89-0.14,3.46,1.49,3.37,3.47c0,0.48,0,0.95,0,1.42c0.1,1.98-1.47,3.6-3.37,3.47
					c-1.71,0-4.45,0-6.15,0c-1.89,0.13-3.46-1.49-3.37-3.47c0-0.48,0-0.95,0-1.42c-0.1-1.98,1.47-3.61,3.37-3.47
					C49.75,220.59,52.5,220.59,54.2,220.59z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="bagCP9YbQ_1_" class="st13" d="M39.52,337.91h16.12v67.69H39.52V337.91z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="afg4dM6MS_1_" class="st14" d="M57.57,350.77v0.72c0,1.76-1.43,3.18-3.18,3.18h-6.52c-1.76,0-3.19-1.43-3.19-3.19v-0.71
				c0-1.76,1.43-3.19,3.19-3.19h6.51C56.14,347.58,57.57,349.01,57.57,350.77z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M57.57,350.77v0.72c0,1.76-1.43,3.18-3.18,3.18h-6.52c-1.76,0-3.19-1.43-3.19-3.19v-0.71
					c0-1.76,1.43-3.19,3.19-3.19h6.51C56.14,347.58,57.57,349.01,57.57,350.77z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a16Ku2d8ff_1_" class="st13" d="M41.46,585.45h16.12v67.69H41.46V585.45z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="c2dz02MSJS_1_" class="st13" d="M41.46,461.68h16.12v67.69H41.46V461.68z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="a1rkMxZc5G_1_" class="st14" d="M59.51,598.31v0.72c0,1.76-1.43,3.19-3.19,3.19H49.8c-1.76,0-3.19-1.43-3.19-3.19v-0.72
				c0-1.76,1.43-3.18,3.18-3.18h6.52C58.08,595.12,59.51,596.55,59.51,598.31z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M59.51,598.31v0.72c0,1.76-1.43,3.19-3.19,3.19H49.8c-1.76,0-3.19-1.43-3.19-3.19v-0.72
					c0-1.76,1.43-3.18,3.18-3.18h6.52C58.08,595.12,59.51,596.55,59.51,598.31z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="f9gUbFAET_1_" class="st16" d="M491.89,665.97c0.5,2.32,5.26-7.49,10.96-10.65c4.13-2.29,9.11,1.71,11.56,2.85
					c2.49,1.15,3.35,7.34,1.54,12.72c-1.09,3.23-4.74,5.17-5.09,8.36c-0.38,3.48,8.61,0.68,9.46,17.35s-17.7,17.82-33.81,17.82
					c-16.1,0-38.52,0.68-38.52-18.94c0-6.02-0.37-9.19,7.7-15.43c8.07-6.24,11.09,9.78,11.56,2.23c1.12-18.2,6.99-31.8,14.63-31.8
					C485.84,650.48,490.18,658.13,491.89,665.97z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="bc73W5CtS_1_" class="st17" d="M489.52,675.96c0.4,1.82,4.16-5.9,8.66-8.39c3.26-1.8,7.19,1.35,9.13,2.24
					c1.97,0.91,2.64,5.78,1.21,10.02c-0.86,2.54-3.74,4.07-4.02,6.59c-0.3,2.74,6.81,0.54,7.48,13.66
					c0.67,13.13-13.98,14.04-26.69,14.04s-30.42,0.53-30.42-14.92c0-4.74-0.29-7.24,6.09-12.15c6.38-4.92,8.75,7.7,9.12,1.75
					c0.89-14.34,5.52-25.04,11.57-25.04C484.75,663.76,488.17,669.78,489.52,675.96z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b2aVAhkarm_1_" class="st18" d="M468.65,695.59c-0.32-2.4,14.52,20.85,15.21,18.6c1.14-3.71-10.04-18.62-10.81-30.04
					c-0.35-5.13,0.33-11.22,2.04-18.26c-0.81,7.18-0.64,13.27,0.5,18.26c2.66,11.66,8.27,18.05,11.06,20.8
					c0.82,0.81,1.29-15.48,2.18-15.88c1.19-0.53,0.32,19.91,1.68,18.53c1.87-1.9,5.4-7.51,9.85-10.62c2.13-1.5,3-4.76,2.59-9.79
					c-0.09-1.12,1.34-1.66,2.02-0.77c1.65,2.17,1.79,5.38,0.39,9.6c-0.86,2.61-6.15,6.71-9.76,11.55
					c-3.47,4.65-5.29,10.09-5.1,11.02c0.16,0.81,4.13-1.03,7.7-4.92c5.96-6.49,12.67-16.63,12.29-14.76
					c-1.59,7.64-7.25,15.72-17.02,24.25c-1.88,1.64-2.95,4.04-2.89,6.54c0.1,5,0.32,16.11,0.43,21.13c0.04,1.88-1.8,3.24-3.58,2.66
					c-0.93-0.3-0.04-0.01-0.96-0.32c-2.16-0.7-3.58-2.77-3.45-5.04c0.3-5.49,1.16-20.95,1.5-27.15c0.01-0.21-0.07-0.4-0.22-0.54
					C474.91,711.93,469.69,703.65,468.65,695.59z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a3befg3asA_1_" class="st14" d="M58.86,474.54v0.72c0,1.76-1.43,3.18-3.18,3.18h-6.52c-1.76,0-3.19-1.43-3.19-3.19
				v-0.71c0-1.76,1.43-3.19,3.19-3.19h6.51C57.43,471.35,58.86,472.78,58.86,474.54z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M58.86,474.54v0.72c0,1.76-1.43,3.18-3.18,3.18h-6.52c-1.76,0-3.19-1.43-3.19-3.19v-0.71
					c0-1.76,1.43-3.19,3.19-3.19h6.51C57.43,471.35,58.86,472.78,58.86,474.54z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="d39dh02WZ9_1_" class="st14" d="M62.29,595.77c1.67,0,3.01,1.35,3.01,3.02c0,0.69,0-0.28,0,0.41
				c0,1.67-1.35,3.02-3.01,3.02c-3.26,0-10.06,0-13.32,0c-1.66,0-3.01-1.35-3.01-3.02c0-0.68,0,0.28,0-0.41
				c0-1.67,1.35-3.02,3.01-3.02C52.24,595.77,59.03,595.77,62.29,595.77z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="a3cZs2dLs_1_" class="st19" d="M6,749.84h516.36V833H6V749.84z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M6.32,749.52h516.36v83.16H6.32V749.52z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="eTns8Cwm8_1_" class="st14" d="M374.74,110.88v574.38l0.18,21.74l57.07,11.57l8.51,0.23l-0.24,46.52l15.71-0.24
				l0.16-15.23h4.99v14.83h10.96L471.92,750l4.68,0.1l0.07,14.57h16.68l-0.32-14.83h4.2l-0.15,14.83h15.82l-0.3-14.24l3.97-0.27
				l0.33,19.67l-80.27-0.41l-0.7-43.43l-4.36-0.03l-69.08-13.74v-27.49H53.7V110.99l229.26,0.12l0.19-10.43h8.82l-0.19,10.31
				L374.74,110.88z M67.24,668.61h295.89V124.53H67.24V668.61z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M375.06,110.56v574.38l0.18,21.74l57.07,11.57l8.51,0.23l-0.23,46.52l15.06-0.24l0.16-14.59h4.99v14.83
					h10.96l-0.16-14.67l4.68,0.1l0.07,14.57h17.32l-0.32-14.83h4.2l-0.15,14.83h15.82l-0.3-14.24l3.97-0.27l0.33,19.67l-80.27-0.41
					l-0.7-43.43l-4.36-0.03l-69.08-13.74v-27.49H54.03V110.67l229.26,0.12l0.19-10.43h8.82l-0.19,10.31L375.06,110.56z
					 M66.92,668.94h295.89V124.85H66.92V668.94z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="avZSgXQVI_1_" class="st14" d="M384.41,230.05v0.4c0,1.67-1.35,3.02-3.02,3.02h-13.29c-1.67,0-3.02-1.35-3.02-3.02v-0.4
				c0-1.67,1.35-3.02,3.02-3.02h13.29C383.06,227.03,384.41,228.38,384.41,230.05z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b152Nyk0jA_1_" class="st14" d="M385.05,350.6v0.4c0,1.67-1.35,3.02-3.02,3.02h-13.29c-1.67,0-3.02-1.35-3.02-3.02v-0.4
				c0-1.67,1.35-3.02,3.02-3.02h13.29C383.7,347.58,385.05,348.93,385.05,350.6z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="ahRBYrcFq_1_" class="st14" d="M386.99,473.09v0.4c0,1.67-1.35,3.02-3.02,3.02h-13.29c-1.67,0-3.02-1.35-3.02-3.02v-0.4
				c0-1.67,1.35-3.02,3.02-3.02h13.29C385.63,470.06,386.99,471.42,386.99,473.09z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="g1BTfBoTI_1_" class="st14" d="M386.34,598.15v0.4c0,1.67-1.35,3.02-3.02,3.02h-13.29c-1.67,0-3.02-1.35-3.02-3.02v-0.4
				c0-1.67,1.35-3.02,3.02-3.02h13.29C384.99,595.12,386.34,596.48,386.34,598.15z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="bWDqo1DUh_1_" class="st14" d="M64.02,475.02v0.4c0,1.67-1.35,3.02-3.02,3.02H47.7c-1.67,0-3.02-1.35-3.02-3.02v-0.4
				c0-1.67,1.35-3.02,3.02-3.02h13.29C62.66,472,64.02,473.35,64.02,475.02z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b4xdoaS0Hv_1_" class="st14" d="M62.73,224.25v0.4c0,1.67-1.35,3.02-3.02,3.02H46.41c-1.67,0-3.02-1.35-3.02-3.02v-0.4
				c0-1.67,1.35-3.02,3.02-3.02h13.29C61.38,221.23,62.73,222.58,62.73,224.25z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b5AlD5eiNa_1_" class="st14" d="M62.73,351.25v0.4c0,1.67-1.35,3.02-3.02,3.02H46.41c-1.67,0-3.02-1.35-3.02-3.02v-0.4
				c0-1.67,1.35-3.02,3.02-3.02h13.29C61.38,348.22,62.73,349.58,62.73,351.25z"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a1Aab4JV8V_1_" class="st20" d="M283.76,261.5l22.65,6.27l-0.16-25.21l-7.13,6l-12.09-16.69l-8.25,6.95l12.1,16.69
					L283.76,261.5z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M283.76,261.5l22.65,6.27l-0.16-25.21l-7.13,6l-12.09-16.69l-8.25,6.95l12.1,16.69L283.76,261.5z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a1OR3Of9J_1_" class="st20" d="M123.33,243.9l0.04,25.21l22.6-6.48l-7.17-5.94l11.96-16.8l-8.31-6.87l-11.96,16.8
					L123.33,243.9z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M123.33,243.9l0.04,25.21l22.6-6.48l-7.17-5.94l11.96-16.8l-8.31-6.87l-11.96,16.8L123.33,243.9z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a26eibvIr_1_" class="st20" d="M200.36,259.91L214.37,280l14.53-20.09l-8.88-0.14l0.27-21.14l-10.59-0.15v21.43H200.36
					z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M200.36,259.91L214.37,280l14.53-20.09l-8.88-0.14l0.27-21.14l-10.59-0.15v21.43H200.36z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="aa2AXvN1b_1_" class="st20" d="M285.05,385.42l22.65,6.27l-0.16-25.21l-7.12,6l-12.1-16.69l-8.25,6.95l12.09,16.69
					L285.05,385.42z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M285.05,385.42l22.65,6.27l-0.16-25.21l-7.12,6l-12.1-16.69l-8.25,6.95l12.09,16.69L285.05,385.42z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="i1MbwgUA3d_1_" class="st20" d="M201.23,384.32l14.01,19.59l14.53-19.59l-9.1-0.14l0.27-21.14l-10.59-0.16v21.43
					H201.23z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M201.23,384.32l14.01,19.59l14.53-19.59l-9.1-0.14l0.27-21.14l-10.59-0.16v21.43H201.23z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="b3R0gdfKEK_1_" class="st20" d="M124.62,367.82l0.04,25.21l22.59-6.48l-7.17-5.94l11.96-16.8l-8.3-6.87l-11.96,16.8
					L124.62,367.82z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M124.62,367.82l0.04,25.21l22.59-6.48l-7.17-5.94l11.96-16.8l-8.3-6.87l-11.96,16.8L124.62,367.82z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="b2aesWbB5Q_1_" class="st20" d="M285.05,508.53l22.65,6.27l-0.16-25.21l-7.12,6l-12.1-16.7l-8.25,6.95l12.09,16.69
					L285.05,508.53z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M285.05,508.53l22.65,6.27l-0.16-25.21l-7.12,6l-12.1-16.7l-8.25,6.95l12.09,16.69L285.05,508.53z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="b21KcHo8Vu_1_" class="st20" d="M201.23,506.81l14.01,20.21l14.53-20.21l-9.1-0.14l0.27-20.49l-10.59-0.15v20.78
					H201.23z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M201.23,506.81l14.01,20.21l14.53-20.21l-9.1-0.14l0.27-20.49l-10.59-0.15v20.78H201.23z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a3qaFFIHD_1_" class="st20" d="M124.62,490.93l0.04,25.21l22.59-6.48l-7.17-5.94l11.96-16.8l-8.3-6.87l-11.96,16.8
					L124.62,490.93z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M124.62,490.93l0.04,25.21l22.59-6.48l-7.17-5.94l11.96-16.8l-8.3-6.87l-11.96,16.8L124.62,490.93z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="akvtDzaTt_1_" class="st20" d="M282.47,631.72l22.65,6.27l-0.16-25.21l-7.13,6l-12.09-16.69l-8.25,6.95l12.1,16.69
					L282.47,631.72z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M282.47,631.72l22.65,6.27l-0.16-25.21l-7.13,6l-12.09-16.69l-8.25,6.95l12.1,16.69L282.47,631.72z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="a1KYv7Pv8C_1_" class="st20" d="M198.69,630.58l14.01,19.63l14.53-19.63l-9.14-0.14l0.27-21.14l-10.59-0.16v21.43
					H198.69z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M198.69,630.58l14.01,19.63l14.53-19.63l-9.14-0.14l0.27-21.14l-10.59-0.16v21.43H198.69z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="bRmHEaLaQ_1_" class="st20" d="M122.04,614.12l0.04,25.21l22.6-6.47l-7.17-5.94l11.96-16.81l-8.31-6.87l-11.96,16.81
					L122.04,614.12z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M122.04,614.12l0.04,25.21l22.6-6.47l-7.17-5.94l11.96-16.81l-8.31-6.87l-11.96,16.81L122.04,614.12z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a10RNlfnQ_1_" class="st9" d="M166.52,213.49h97.99v10.96h-97.99V213.49z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,213.49h97.99v10.96h-97.99V213.49z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="d4GtlRQ3i2_1_" class="st21" d="M166.52,221.87h97.99v10.96h-97.99V221.87z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,221.87h97.99v10.96h-97.99V221.87z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="eAgdL49I5_1_" class="st9" d="M166.52,337.27h97.99v10.96h-97.99V337.27z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,337.27h97.99v10.96h-97.99V337.27z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="b8aGPrt11_1_" class="st21" d="M166.52,345.65h97.99v10.96h-97.99V345.65z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,345.65h97.99v10.96h-97.99V345.65z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="foSDKbGM3_1_" class="st9" d="M166.52,461.04h97.99V472h-97.99V461.04z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,461.04h97.99V472h-97.99V461.04z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="c1up9pCQzG_1_" class="st21" d="M166.52,469.42h97.99v10.96h-97.99V469.42z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,469.42h97.99v10.96h-97.99V469.42z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="b1gnLzCDRw_1_" class="st9" d="M166.52,584.81h97.99v10.96h-97.99V584.81z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,584.81h97.99v10.96h-97.99V584.81z"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path id="afWWRG86f_1_" class="st21" d="M166.52,593.19h97.99v10.96h-97.99V593.19z"/>
			</g>
			<g>
				<g>
					<path class="st15" d="M166.52,593.19h97.99v10.96h-97.99V593.19z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="e3sfSroEuD_1_" class="st3" d="M42.74,738.88h350.69v10.96H42.74V738.88z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M42.42,739.2h350.69v10.96H42.42V739.2z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="h3sg6qgzNc_1_" class="st9" d="M100.12,783.36h246.9v23.85h-246.9V783.36z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="h3cbogoUpV_1_" class="st22" d="M310.27,757.58l0.12,7.09l43.08,0.56v51.66H94.32v-51.57h195.19l0.26-8.55l-3.72,0.17
				l-0.51-3.23h30.31l-0.55,3.87H310.27z M100.76,814.31h245.61v-45.77H100.76V814.31z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="a21LWBL3Qp_1_" class="st0" d="M35.01,827.4v0.23c0,1.9-1.54,3.44-3.44,3.44H20.4c-1.9,0-3.44-1.54-3.44-3.44v-0.22
				c0-1.9,1.54-3.44,3.44-3.44h11.18C33.47,823.97,35.01,825.51,35.01,827.4z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M35.01,827.4v0.23c0,1.9-1.54,3.44-3.44,3.44H20.4c-1.9,0-3.44-1.54-3.44-3.44v-0.22
					c0-1.9,1.54-3.44,3.44-3.44h11.18C33.47,823.97,35.01,825.51,35.01,827.4z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="aaNa1zfii_1_" class="st23" d="M77.94,757.45l3.36-1.69c4.56,0.13,7.41,0.21,8.55,0.24c1.48,0.05,2.59,1.38,2.35,2.84
				c0.3-1.84,0.25-1.54-0.15,0.91c-0.18,1.1,0.8,5.36,0.6,7.33c-0.23,2.22-1.68,2.12-2.38,2.84c-0.02,0.03-0.44-1.84-0.46-1.81
				c-0.23,0.23-0.53-2-0.88-6.67l-6.36,0.06c-0.05,0.05-0.08,0.08-0.09,0.09c-2,2.04-3.07,4.81-2.96,7.66
				c0.06,1.42,0.2,4.97,0.43,10.64c-0.99,0.22-1.6,0.36-1.85,0.41c-1.26,0.28-2.47-0.68-2.47-1.98c0-3.87,0-12.94,0-16.81
				c0-1.58,0.79-3.06,2.11-3.93C77.76,757.57,77.83,757.52,77.94,757.45z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M77.94,757.45l3.36-1.69c4.56,0.13,7.41,0.21,8.55,0.24c1.48,0.05,2.59,1.38,2.35,2.84
					c0.3-1.84,0.25-1.54-0.15,0.91c-0.18,1.1,0.8,5.36,0.6,7.33c-0.23,2.22-1.68,2.12-2.38,2.84c-0.02,0.03-0.44-1.84-0.46-1.81
					c-0.23,0.23-0.53-2-0.88-6.67l-6.36,0.06c-0.05,0.05-0.08,0.08-0.09,0.09c-2,2.04-3.07,4.81-2.96,7.66
					c0.06,1.42,0.2,4.97,0.43,10.64c-0.99,0.22-1.6,0.36-1.85,0.41c-1.26,0.28-2.47-0.68-2.47-1.98c0-3.87,0-12.94,0-16.81
					c0-1.58,0.79-3.06,2.11-3.93C77.76,757.57,77.83,757.52,77.94,757.45z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b8rxjopZ8_1_" class="st0" d="M141.5,39.4c0.28,1.32,0.46,2.15,0.54,2.48c0.72,3.34-1.87,6.47-5.29,6.39
				c-20.73-0.51-70.88-1.75-90.28-2.22c-7.32-0.18-13.36,5.69-13.4,13.02c-0.41,99.15-1.44,347.01-3.09,743.6
				c19.29,0.08,31.36,0.13,36.18,0.15c4.3,0.02,7.83-3.39,7.96-7.68c0.08-2.35,0.26-8.23,0.55-17.56h8.69v25.32l0,0
				c-1.19,5.99-6.4,10.35-12.49,10.35c-6.82,0-23.87,0-51.15-0.01c1.73-405.33,2.82-658.66,3.25-759.99
				c0.04-9.2,7.63-16.57,16.83-16.35C53.36,37.22,87.26,38.05,141.5,39.4z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M141.5,39.4c0.28,1.32,0.46,2.15,0.54,2.48c0.72,3.34-1.87,6.47-5.29,6.39
					c-20.73-0.51-70.88-1.75-90.28-2.22c-7.32-0.18-13.36,5.69-13.4,13.02c-0.41,99.15-1.44,347.01-3.09,743.6
					c19.29,0.08,31.36,0.13,36.18,0.15c4.3,0.02,7.83-3.39,7.96-7.68c0.08-2.35,0.26-8.23,0.55-17.56h8.69v25.32l0,0
					c-1.19,5.99-6.4,10.35-12.49,10.35c-6.82,0-23.87,0-51.15-0.01c1.73-405.33,2.82-658.66,3.25-759.99
					c0.04-9.2,7.63-16.57,16.83-16.35C53.36,37.22,87.26,38.05,141.5,39.4z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="eEph9wBEd_1_" class="st14" d="M39.97,812.34c0,7.21-6.32,13.05-14.11,13.05s-14.11-5.85-14.11-13.05
				c0-7.2,6.32-13.05,14.11-13.05S39.97,805.14,39.97,812.34z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M39.97,812.34c0,7.21-6.32,13.05-14.11,13.05s-14.11-5.85-14.11-13.05c0-7.2,6.32-13.05,14.11-13.05
					S39.97,805.14,39.97,812.34z"/>
			</g>
		</g>
	</g>
	<g id="a1ZuA3wKoa_1_">
		<g>
			<text transform="matrix(1 0 0 1 16.5996 797.752)" class="st24 st25">M</text>
		</g>
	</g>
	<g>
		<g>
			<path id="bJQX1BVc1_1_" class="st11" d="M50.48,814.31h350.69V833H50.48V814.31z"/>
		</g>
		<g>
			<g>
				<path class="st12" d="M50.8,813.98h350.69v18.69H50.8V813.98z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="c1lRudqiGj_1_" class="st19" d="M292.22,756.93h15.47v14.83h-15.47V756.93z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="a2Xc2Cqhao_1_" class="st11" d="M74.98,777.06l16.76,0.64v-3.62l3.74,0.22l0.45,13.07l-4.71,0.43l-0.19-5.43
				l-16.06-0.31V777.06z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M74.98,777.06l16.76,0.64v-3.62l3.74,0.22l0.45,13.07l-4.71,0.43l-0.19-5.43l-16.06-0.31V777.06z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a10mv7ZFm_1_" class="st26" d="M87.54,767.25c1.96,0,5.12,0,7.08,0c1.25-0.07,2.27,0.97,2.27,2.25c0,0.45,0-0.45,0,0
				c0,1.29-1.03,2.32-2.27,2.25c-1.96,0-5.12,0-7.08,0c-1.23,0.06-2.25-0.97-2.25-2.25c0-0.45,0,0.45,0,0
				C85.29,768.23,86.31,767.19,87.54,767.25z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M87.54,767.25c1.96,0,5.12,0,7.08,0c1.25-0.07,2.27,0.97,2.27,2.25c0,0.45,0-0.45,0,0
					c0,1.29-1.03,2.32-2.27,2.25c-1.96,0-5.12,0-7.08,0c-1.23,0.06-2.25-0.97-2.25-2.25c0-0.45,0,0.45,0,0
					C85.29,768.23,86.31,767.19,87.54,767.25z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="ae3nCogpO_1_" class="st11" d="M292.22,781.43h38.78l-0.21-5.16h7.07l0.22,9.67l-45.86-0.22V781.43z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M292.22,781.43h38.78l-0.21-5.16h7.07l0.22,9.67l-45.86-0.22V781.43z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="g3gZL4rcBe_1_" class="st11" d="M100.12,803.35h246.9v4.51h-246.9V803.35z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M100.12,803.35h246.9v4.51h-246.9V803.35z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="ax3Q49Bzi_1_" class="st11" d="M295.61,783.24c0,3.38-2.74,6.12-6.12,6.12c-3.38,0-6.12-2.74-6.12-6.12
				c0-3.38,2.75-6.12,6.12-6.12C292.87,777.11,295.61,779.86,295.61,783.24z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M295.61,783.24c0,3.38-2.74,6.12-6.12,6.12c-3.38,0-6.12-2.74-6.12-6.12c0-3.38,2.75-6.12,6.12-6.12
					C292.87,777.11,295.61,779.86,295.61,783.24z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="aqWUWLSSQ_1_" class="st14" d="M332.19,771.11c1.06,0,1.93,0.86,1.93,1.93c0,1.08,0,2.16,0,3.23
				c-0.01,1.06-0.87,1.92-1.93,1.92c-0.39,0,0.39,0,0,0c-1.07,0-1.93-0.86-1.93-1.92c0-1.08,0-2.16,0-3.23
				C330.26,771.98,331.12,771.11,332.19,771.11C332.58,771.11,331.81,771.11,332.19,771.11z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M332.19,771.11c1.06,0,1.93,0.86,1.93,1.93c0,1.08,0,2.16,0,3.23c-0.01,1.06-0.87,1.92-1.93,1.92
					c-0.39,0,0.39,0,0,0c-1.07,0-1.93-0.86-1.93-1.92c0-1.08,0-2.16,0-3.23C330.26,771.98,331.12,771.11,332.19,771.11
					C332.58,771.11,331.81,771.11,332.19,771.11z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a2sIjrw8Ge_1_" class="st9" d="M338.64,777.99v-3.88l19.34-0.44l-0.45,36.12l55.42,0.25l-0.46,22.24l-4.23-0.53v-18.09
				l-50.85-0.12l-4.59-0.44v-34.9L338.64,777.99z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M338.64,777.99v-3.88l19.34-0.44l-0.45,36.12l55.42,0.25l-0.46,22.24l-4.23-0.53v-18.09l-50.85-0.12
					l-4.59-0.44v-34.9L338.64,777.99z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="bQ651IIyz_1_" class="st14" d="M334.77,771.11c1.07,0,1.93,0.86,1.93,1.93c0,1.08,0,2.16,0,3.24
				c-0.01,1.06-0.87,1.92-1.93,1.92c-0.39,0,0.39,0,0,0c-1.07,0-1.93-0.86-1.93-1.92c0-1.08,0-2.16,0-3.24
				C332.84,771.98,333.7,771.11,334.77,771.11C335.16,771.11,334.38,771.11,334.77,771.11z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M334.77,771.11c1.07,0,1.93,0.86,1.93,1.93c0,1.08,0,2.16,0,3.24c-0.01,1.06-0.87,1.92-1.93,1.92
					c-0.39,0,0.39,0,0,0c-1.07,0-1.93-0.86-1.93-1.92c0-1.08,0-2.16,0-3.24C332.84,771.98,333.7,771.11,334.77,771.11
					C335.16,771.11,334.38,771.11,334.77,771.11z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="gqX02K8sV_1_" class="st14" d="M337.99,770.47c1.06,0,1.93,0.86,1.93,1.93c0,1.08,0,2.16,0,3.24
				c-0.01,1.06-0.87,1.92-1.93,1.92c-0.39,0,0.39,0,0,0c-1.07,0-1.93-0.86-1.93-1.92c0-1.08,0-2.16,0-3.24
				C336.06,771.33,336.92,770.47,337.99,770.47C338.38,770.47,337.61,770.47,337.99,770.47z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M337.99,770.47c1.06,0,1.93,0.86,1.93,1.93c0,1.08,0,2.16,0,3.24c-0.01,1.06-0.87,1.92-1.93,1.92
					c-0.39,0,0.39,0,0,0c-1.07,0-1.93-0.86-1.93-1.92c0-1.08,0-2.16,0-3.24C336.06,771.33,336.92,770.47,337.99,770.47
					C338.38,770.47,337.61,770.47,337.99,770.47z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="bjkXUnY3D_1_" class="st27" d="M357.62,809.22l8.1,4.83v-4.26l-7.81,3.78L357.62,809.22z"/>
		</g>
		<g>
			<g>
				<path class="st15" d="M357.62,809.22l8.1,4.83v-4.26l-7.81,3.78L357.62,809.22z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b21Edj5PBN_1_" class="st28" d="M366.28,803.85c0,2.22-2.02,4.03-4.51,4.03c-2.49,0-4.51-1.8-4.51-4.03
				c0-2.22,2.02-4.03,4.51-4.03C364.26,799.82,366.28,801.63,366.28,803.85z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M366.28,803.85c0,2.22-2.02,4.03-4.51,4.03c-2.49,0-4.51-1.8-4.51-4.03c0-2.22,2.02-4.03,4.51-4.03
					C364.26,799.82,366.28,801.63,366.28,803.85z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a1anaTZ2BD_1_" class="st10" d="M361.33,807.73l-0.16,1.93l0.64,2.1"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="b2FwPU3bww_1_" class="st10" d="M359.59,800.12v2.55v2.71l1.13,2.51"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="c2p0fETqkF_1_" class="st10" d="M363.46,800.12v2.5v2.71l-1.13,2.51"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="f12hFYcU8_1_" class="st10" d="M361.85,800.03l-0.41,2.48l-0.45,2.68l0.7,2.66"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a3xqFasM6Q_1_" class="st10" d="M364.37,800.86l0.47,2.11l-0.19,2.23l-0.56,2.11"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="b1PvNmCL48_1_" class="st14" d="M400.53,738.24h3.22v10.96h-3.22V738.24z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M400.85,738.56h3.22v10.96h-3.22V738.56z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="awxoUztR1_1_" class="st16" d="M458.04,676.82c0.5,1.9,5.26-6.13,10.96-8.72c4.13-1.87,9.11,1.41,11.56,2.33
					c2.49,0.94,3.35,6.01,1.54,10.42c-1.09,2.64-4.74,4.23-5.09,6.85c-0.38,2.85,8.61,0.55,9.46,14.2
					c0.85,13.65-17.7,14.59-33.81,14.59c-16.1,0-38.52,0.55-38.52-15.5c0-4.93-0.37-7.52,7.7-12.63c8.07-5.11,11.09,8.01,11.56,1.82
					c1.12-14.9,6.99-26.04,14.63-26.04C452,664.14,456.33,670.4,458.04,676.82z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="c1BPUvKQIT_1_" class="st17" d="M455.68,685c0.4,1.5,4.16-4.83,8.66-6.87c3.26-1.48,7.19,1.11,9.13,1.84
					c1.97,0.74,2.64,4.73,1.21,8.21c-0.86,2.08-3.74,3.33-4.02,5.39c-0.3,2.24,6.81,0.44,7.48,11.18
					c0.67,10.75-13.98,11.5-26.69,11.5c-12.72,0-30.42,0.43-30.42-12.22c0-3.88-0.29-5.92,6.09-9.95c6.38-4.03,8.75,6.3,9.12,1.44
					c0.89-11.74,5.52-20.51,11.57-20.51C450.91,675.02,454.33,679.95,455.68,685z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="e3zbXESXs8_1_" class="st18" d="M434.8,701.08c-0.32-1.97,14.52,17.07,15.21,15.23c1.14-3.04-10.04-15.24-10.81-24.59
					c-0.26-3.13,0.12-6.87,1.15-11.2c0.09-0.37,0.63-0.28,0.6,0.09c-0.32,4.37-0.06,8.08,0.79,11.11
					c2.66,9.54,8.27,14.77,11.06,17.03c0.82,0.66,1.29-12.67,2.18-13c1.19-0.43,0.32,16.3,1.68,15.18c1.87-1.56,5.4-6.15,9.85-8.7
					c1.96-1.12,2.81-3.56,2.55-7.31c-0.08-1.19,1.41-1.79,2.17-0.86c1.46,1.77,1.55,4.24,0.28,7.39c-0.86,2.14-6.15,5.49-9.76,9.46
					c-3.47,3.81-5.29,8.26-5.1,9.02c0.16,0.66,4.13-0.84,7.7-4.03c5.96-5.31,12.67-13.61,12.29-12.08
					c-1.55,6.15-7.16,12.71-16.79,19.66c-2,1.45-3.16,3.79-3.1,6.26c0.1,3.95,0.29,11.92,0.39,15.88c0.05,1.92-1.77,3.35-3.63,2.86
					c-0.91-0.24,0.08,0.02-0.84-0.23c-2.16-0.58-3.61-2.6-3.46-4.84c0.3-4.36,1.11-16.41,1.45-21.47c0.01-0.2-0.07-0.39-0.24-0.52
					C441.05,714.43,435.85,707.66,434.8,701.08z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="i1Ks05pcSI_1_" class="st14" d="M424.38,693.76h7.09v3.31l-4.51-0.44v8.09h-2.58V693.76z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M424.7,694.08h6.45v3.31l-4.51-0.44v8.09h-1.93V694.08z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a8bsZO1Iz_1_" class="st14" d="M426.31,738.24h3.22v10.96h-3.22V738.24z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M425.99,738.56h3.22v10.96h-3.22V738.56z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a8OaA4qQd_1_" class="st14" d="M397.95,700.85h33.52v41.26h-33.52V700.85z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M398.27,701.17h33.52v41.26h-33.52V701.17z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a1EW3WeywH_1_" class="st3" d="M399.78,732.43l29.11-0.36l0.1,8.09l-29.11,0.36L399.78,732.43z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M400.1,732.11l29.11-0.36l0.1,8.09l-29.11,0.36L400.1,732.11z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="c53krFcwA9_1_" class="st29" d="M500.39,676.26c0.5,1.9,5.27-6.13,10.96-8.72c4.13-1.88,9.11,1.4,11.56,2.33
					c2.49,0.95,3.35,6.01,1.53,10.42c-1.09,2.64-4.74,4.23-5.09,6.85c-0.38,2.85,8.61,0.56,9.46,14.2
					c0.85,13.64-17.7,14.59-33.8,14.59c-16.11,0-38.52,0.55-38.52-15.51c0-4.93-0.37-7.52,7.7-12.63
					c8.07-5.11,11.09,8.01,11.56,1.82c1.12-14.9,6.99-26.03,14.64-26.03C494.35,663.59,498.68,669.85,500.39,676.26z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="c47y814gKA_1_" class="st30" d="M498.02,684.44c0.4,1.5,4.16-4.83,8.66-6.87c3.26-1.48,7.19,1.11,9.13,1.84
					c1.97,0.75,2.65,4.73,1.21,8.21c-0.86,2.08-3.74,3.33-4.02,5.4c-0.3,2.24,6.81,0.44,7.48,11.18
					c0.67,10.75-13.98,11.49-26.69,11.49c-12.72,0-30.42,0.43-30.42-12.22c0-3.88-0.29-5.92,6.09-9.95c6.38-4.02,8.75,6.3,9.13,1.44
					c0.88-11.74,5.52-20.51,11.56-20.51C493.25,674.46,496.68,679.39,498.02,684.44z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="h18f6slZ65_1_" class="st31" d="M517.29,702.37c0.31-1.97-14.52,17.07-15.21,15.23c-1.14-3.04,10.04-15.24,10.81-24.59
					c0.26-3.13-0.12-6.87-1.15-11.2c-0.09-0.37-0.63-0.28-0.6,0.09c0.32,4.37,0.06,8.08-0.79,11.11
					c-2.66,9.54-8.27,14.77-11.06,17.03c-0.82,0.66-1.29-12.67-2.18-13c-1.19-0.43-0.32,16.3-1.68,15.18
					c-1.87-1.56-5.4-6.15-9.85-8.7c-1.96-1.12-2.81-3.56-2.55-7.31c0.08-1.19-1.42-1.79-2.17-0.86c-1.46,1.77-1.55,4.24-0.29,7.39
					c0.86,2.14,6.16,5.49,9.77,9.46c3.47,3.81,5.29,8.26,5.1,9.02c-0.16,0.66-4.13-0.84-7.7-4.03
					c-5.96-5.31-12.67-13.61-12.29-12.08c1.55,6.15,7.16,12.71,16.79,19.66c2,1.45,3.16,3.79,3.1,6.26
					c-0.1,3.95-0.29,11.92-0.39,15.88c-0.05,1.92,1.77,3.35,3.63,2.86c0.91-0.24-0.08,0.02,0.84-0.23c2.16-0.58,3.61-2.6,3.46-4.84
					c-0.3-4.36-1.11-16.41-1.45-21.47c-0.02-0.2,0.07-0.39,0.23-0.52C511.05,715.72,516.25,708.95,517.29,702.37z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a3KBUsv3M_1_" class="st32" d="M494.84,737.86c-2.6,0-4.71,2.04-4.71,4.56c0,0.1,0,0.19,0.01,0.28
				c-1.88,0.39-3.26,1.66-3.26,3.19l0,0c0,1.82,1.99,3.3,4.43,3.3c3.06,0,8.06,0,11.11,0c2.45,0,4.43-1.48,4.43-3.3l0,0
				c0-1.59-1.51-2.92-3.52-3.24c-0.17-1.72-1.68-3.07-3.51-3.07c-0.4,0-0.79,0.06-1.15,0.18
				C497.82,738.62,496.42,737.86,494.84,737.86z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M494.84,737.54c-2.6,0-4.71,2.04-4.71,4.56c0,0.1,0,0.19,0.01,0.28c-1.88,0.39-3.26,1.66-3.26,3.19l0,0
					c0,1.82,1.99,3.3,4.43,3.3c3.06,0,8.06,0,11.11,0c2.45,0,4.43-1.48,4.43-3.3l0,0c0-1.59-1.51-2.92-3.52-3.24
					c-0.17-1.72-1.68-3.07-3.51-3.07c-0.4,0-0.79,0.06-1.15,0.18C497.82,738.29,496.42,737.54,494.84,737.54z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="d1zLSW6J8Q_1_" class="st32" d="M514.28,737.86c2.6,0,4.71,2.04,4.71,4.56c0,0.1,0,0.19-0.01,0.28
				c1.88,0.39,3.27,1.66,3.27,3.19l0,0c0,1.82-1.98,3.3-4.43,3.3c-3.06,0-8.06,0-11.12,0c-2.45,0-4.43-1.48-4.43-3.3l0,0
				c0-1.59,1.51-2.92,3.51-3.24c0.18-1.72,1.69-3.07,3.52-3.07c0.4,0,0.79,0.06,1.15,0.18C511.3,738.62,512.7,737.86,514.28,737.86z
				"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M514.28,738.18c2.6,0,4.71,2.04,4.71,4.56c0,0.1,0,0.19-0.01,0.28c1.88,0.39,3.27,1.66,3.27,3.19l0,0
					c0,1.82-1.98,3.3-4.43,3.3c-3.06,0-8.06,0-11.12,0c-2.45,0-4.43-1.48-4.43-3.3l0,0c0-1.59,1.51-2.92,3.51-3.24
					c0.18-1.72,1.69-3.07,3.52-3.07c0.4,0,0.79,0.06,1.15,0.18C511.3,738.94,512.7,738.18,514.28,738.18z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="a98xZgdvH_1_" class="st33" d="M458.87,737.86c-2.6,0-4.71,2.04-4.71,4.56c0,0.1,0.01,0.19,0.01,0.28
				c-1.88,0.39-3.26,1.66-3.26,3.19l0,0c0,1.82,1.98,3.29,4.41,3.3c3.06,0,8.07,0,11.14,0c2.45,0,4.43-1.48,4.43-3.3l0,0
				c0-1.59-1.51-2.92-3.52-3.24c-0.18-1.72-1.68-3.07-3.51-3.07c-0.41,0-0.79,0.06-1.15,0.18
				C461.86,738.62,460.46,737.86,458.87,737.86z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M458.87,738.18c-2.6,0-4.71,2.04-4.71,4.56c0,0.1,0.01,0.19,0.01,0.28c-1.88,0.39-3.26,1.66-3.26,3.19l0,0
					c0,1.82,1.98,3.29,4.41,3.3c3.06,0,8.07,0,11.14,0c2.45,0,4.43-1.48,4.43-3.3l0,0c0-1.59-1.51-2.92-3.52-3.24
					c-0.18-1.72-1.68-3.07-3.51-3.07c-0.41,0-0.79,0.06-1.15,0.18C461.86,738.94,460.46,738.18,458.87,738.18z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="a3IHtQj3YM_1_" class="st34" d="M490.66,689.12c0,19.84-8.23,36.24-15.52,36.24c-7.29,0-17.61-11.47-17.61-31.31
					c0-19.84,10.32-40.57,17.61-40.57C482.43,653.48,490.66,669.29,490.66,689.12z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="hIv4WOy7M_1_" class="st31" d="M461.59,690.5c-0.01-0.06-0.01-0.11-0.01-0.15c0.01-2.15,7.79,13.66,8.47,10.95
					c1.14-4.56,3.16-31.27,4.05-31.76c0.8-0.44,1.66,7.45,2.59,23.67c2.45-5.16,5.15-9.03,8.12-11.58c4.45-3.84,0.62,2.1-2.99,8.05
					c-3.47,5.72-5.31,15.9-5.12,17.04c0.17,0.99,3.55-4.89,7.13-9.68c1.97-2.64,0.96,0.49-3.03,9.37c-2.7,6-4.04,12.53-3.93,19.11
					c0.08,5.12,0.24,15.39,0.35,21.74c0.03,1.82-1.81,3.09-3.51,2.41c-0.94-0.37-0.19-0.08-1.13-0.45c-2.14-0.86-3.51-2.98-3.4-5.29
					c0.32-6.94,0.78-17.33,1.02-22.62c0.35-7.83-1.84-15.56-6.25-22.03C462.81,697.64,462.03,694.71,461.59,690.5z"/>
			</g>
		</g>
	</g>
	<g id="b2M2ZE4BbT_1_">
		<g>
			<text transform="matrix(1 0 0 1 412.252 609.9883)" class="st24 st35">CO</text>
		</g>
	</g>
	<g id="d7DwLunLX_1_">
		<g>
			<text transform="matrix(1 0 0 1 494.332 609.9883)" class="st24 st35">O</text>
		</g>
	</g>
	<g id="e64wqcTaC_1_">
		<g>
			<text transform="matrix(1 0 0 1 454.6895 608.791)" class="st24 st36">2</text>
		</g>
	</g>
	<g id="ae1J1Lx1G_1_">
		<g>
			<text transform="matrix(1 0 0 1 517.4365 608.9727)" class="st24 st36">2</text>
		</g>
	</g>
	<g>
		<g>
			<path id="d5L1myXLbw_1_" d="M438.87,572.4l5.54,5.69c0.2-3.37,0.32-5.47,0.37-6.31c0.04-0.73-0.43-1.39-1.13-1.61
				c-0.19-0.06-0.68-0.2-1.46-0.43l-1.33-12.9l-1.06,0.24l1.02,12.9L438.87,572.4z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M438.87,572.4l5.54,5.69c0.2-3.37,0.32-5.47,0.37-6.31c0.04-0.73-0.43-1.39-1.13-1.61
					c-0.19-0.06-0.68-0.2-1.46-0.43l-1.33-12.9l-1.06,0.24l1.02,12.9L438.87,572.4z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="c2vmH6EAi_1_" d="M499.47,562.43l-5.89-5.32l0.05,7.57l2.7,0.62l2.17,12.79l1.03-0.31l-1.84-12.81L499.47,562.43z"/>
		</g>
		<g>
			<g>
				<path class="st10" d="M499.79,562.43l-5.89-5.32l0.05,7.57l2.7,0.62l2.17,12.79l1.03-0.31L498,564.97L499.79,562.43z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path id="fRIZlWlAJ_1_" class="st37" d="M491.83,56.08l11.15,2.59l-9.59,5.88l17.86,14.52l-20.38,2.4l3.62,10.91l-10.11-2
					l2.96,23.28l-17.49-15.16l-3.65,8.3l-4.7-7.04l-14.9,15.52l-2-20.16l-8.86,3.84l-1.02-10l-19.05,3l10.54-17.01l-8.97-4.53
					l9.18-5.54l-16.69-13.13l20.34-4.11L425,38.1l10,2l-1.75-21.62l17.53,13.42l1.23-12.04l7.5,9.99l13.63-18.65l3,23.26l8.52-4.25
					l-1.34,9.17l21.58-2.11L491.83,56.08z"/>
			</g>
		</g>
		<g>
			<g>
				<path id="b3Zkmy3Vu_1_" class="st38" d="M475.71,84.29c-10.19,9.21-25.82,7.97-34.87-2.74c-9.06-10.71-8.14-26.89,2.06-36.09
					c10.19-9.21,25.81-7.98,34.87,2.73C486.82,58.91,485.9,75.08,475.71,84.29z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path id="d16BFZcmcs_1_" class="st39" d="M366.53,249.94l2.88,5.08l2.43-5.31l-1.68,0.07l-0.23-5.51l-1.95,0.08l0.23,5.52
				L366.53,249.94z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="d3zpCLPHqs_1_" class="st39" d="M367.29,312.71l2.88,5.08l2.43-5.31l-1.68,0.07l-0.23-5.51l-1.95,0.08l0.23,5.51
				L367.29,312.71z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="bBxXnF3m6_1_" class="st39" d="M366.62,392.9l2.87,5.09l2.43-5.31l-1.68,0.07l-0.24-5.51l-1.94,0.08l0.23,5.51
				L366.62,392.9z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="dwwGhx8fC_1_" class="st39" d="M58.48,317.34l2.92,5.06l2.38-5.33l-1.68,0.09l-0.28-5.51l-1.95,0.1l0.28,5.51
				L58.48,317.34z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="esXvq8but_1_" class="st39" d="M58.47,406.41l2.87,5.09l2.44-5.31l-1.68,0.07l-0.23-5.51l-1.95,0.08l0.23,5.51
				L58.47,406.41z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b1jTZFJhtl_1_" class="st39" d="M57.77,251.54l2.87,5.08l2.43-5.31l-1.68,0.07l-0.24-5.51l-1.94,0.08l0.23,5.52
				L57.77,251.54z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="c2hbLo7Qyu_1_" class="st39" d="M29.26,228.5l-2.55-5.25l-2.76,5.14l1.68,0.04l-0.11,5.51l1.95,0.04l0.11-5.51
				L29.26,228.5z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="c3cgHyIEjz_1_" class="st39" d="M29.93,169.63l-2.55-5.25l-2.75,5.15l1.68,0.03l-0.12,5.51l1.95,0.05l0.12-5.52
				L29.93,169.63z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="eYsk6zaAN_1_" class="st39" d="M29.93,106.01l-2.55-5.25l-2.75,5.15l1.68,0.03l-0.12,5.52l1.95,0.04l0.12-5.52
				L29.93,106.01z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="d1jLqFUAOK_1_" class="st39" d="M29.93,288.91l-2.55-5.25l-2.75,5.15l1.68,0.03l-0.12,5.52l1.95,0.04l0.12-5.52
				L29.93,288.91z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="eGoiWJut7_1_" class="st39" d="M235.49,42.38l5.58-2.59l-4.93-2.72l-0.02,1.72l-5.78-0.07l-0.03,2h5.18V42.38z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="h2JWfJMP9_1_" class="st39" d="M258.7,40.32l3.33-1.51l-2.68-1.59v0.94h-3.87v1.29h3.22V40.32z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="d6d3TPXsBt_1_" class="st39" d="M269.3,43.22l1.43,3.11l1.68-2.98l-0.99-0.04l0.13-3.24l-1.14-0.05l-0.13,3.24
				L269.3,43.22z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="a4OACWA3_1_" class="st39" d="M269.02,63.76l1.43,3.11l1.68-2.99l-0.99-0.04l0.13-3.23l-1.14-0.05L270,63.8
				L269.02,63.76z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="b3VeePgbp2_1_" class="st39" d="M231.98,88.02l1.49-3.08l-3.37,0.61l0.6,0.79l-2.58,1.95l0.69,0.91l2.58-1.95
				L231.98,88.02z"/>
		</g>
	</g>
	<g>
		<g>
			<path id="c5zoQsbneG_1_" class="st3" d="M214.5,87.93l-1.49-3.08l3.37,0.61l-0.59,0.79l2.57,1.95l-0.69,0.91l-2.58-1.95
				L214.5,87.93z"/>
		</g>
	</g>
</g>
</svg>
</template>
<style scoped>
    svg {
            width:65%;
            height:65%;
        }
	.st0{fill:#86DBE7;}
	.st1{fill-opacity:0;stroke:#1C2B1D;stroke-width:3;}
	.st2{fill:#13A8A8;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#8F9191;}
	.st5{fill:#D6E786;}
	.st6{fill:#FFC900;}
	.st7{fill:url(#c50iT75ltT_2_);}
	.st8{fill:#8694E7;}
	.st9{fill:#314DD0;}
	.st10{fill-opacity:0;stroke:#1C2B1D;}
	.st11{fill:#D9D9D9;}
	.st12{fill-opacity:0;stroke:#000000;stroke-width:3;}
	.st13{fill:#26D57A;}
	.st14{fill:#D58A26;}
	.st15{fill-opacity:0;stroke:#1C2B1D;stroke-width:2;}
	.st16{fill:#8CC63F;}
	.st17{fill:#5A972D;}
	.st18{fill:#B89E6C;}
	.st19{fill:#F0F0F0;}
	.st20{fill:#98E6E7;}
	.st21{fill:#EEEDC7;}
	.st22{fill:#252525;}
	.st23{fill:#3A7E88;}
	.st24{font-family:'AdobeMingStd-Light-B5pc-H';}
	.st25{font-size:21.2734px;}
	.st26{fill:#12A2B7;}
	.st27{fill:#D6BF56;}
	.st28{fill:#0D3D87;}
	.st29{fill:#D480D2;}
	.st30{fill:#B096C7;}
	.st31{fill:#997122;}
	.st32{fill:#12A63F;}
	.st33{fill:#5ADE82;}
	.st34{fill:#D0A100;}
	.st35{font-size:27.7199px;}
	.st36{font-size:9.0251px;}
	.st37{fill:#F8B62B;}
	.st38{fill:#FFF100;}
	.st39{fill:#3C5744;}
</style>