<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <title>green-tower</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but green-tower doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="_mdspcontent" style="height:100%;">
    <div id="app" style="overflow: auto;"></div>
    </div>
    <!-- built files will be auto injected -->
     <!-- OS Bar integration -->
    <script src="//static.eu1.mindsphere.io/osbar/v4/js/main.min.js"></script>
    <script>
        _mdsp.init({
            title: "MindSphere Taiwan",
            appId: "_mdspcontent"
        });
    </script>
  </body>
</html>
