<template>
    <div class="floor">
        <div class="row" style="height:100%;width:100%;">
        <div class="col-lg-2" >
        </div>
        <div class="col-lg-8" style="align-content:center;">
        <div class="floorCard">
        <VoF/>
        </div>
        </div>
        <div class="col-lg-2">
        </div>
        </div>
    </div>
</template>
<script>
import VoF from './svg/VegOnFloor'
export default {
    name: 'Floor',
    components: {
        VoF
    }
}
</script>
<style scoped>
    .floor {
        /* background: rgba(255, 255, 255, .2); */
        background: none;
        margin: 0;
        align-content: center;
        vertical-align: baseline;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .floorCard {
        background: rgba(255, 255, 255, .5);
        height: 100%;
        width: 100%;
        text-align: center;
        vertical-align: baseline;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25%;
        overflow: hidden;
    }
</style>