<template>
<!-- eslint-disable -->
  <div class="home" style="height:95%;width:100%;padding:2%;">
    <div class="row" style="height:100%;width:100%;">
      <div class="col-md-4" style="height:100%;width:100%;">
        <div class="row" style="width: 100%;">
        <div class="card text-white mb-3 widget" style="width: 100%;">
          <div class="card-header" style="background:rgba(0, 0, 0, .3);"><i class="fas fa-temperature-high"></i>&nbsp;&nbsp;Temerature</div>
          <div class="card-body">
            <h5 class="card-title">Outside</h5>
            <p class="card-text">{{ taipei.temp }}&nbsp;&deg;C</p>
            <h5 class="card-title">Inside</h5>
            <p class="card-text" v-if="insideTemp">{{ insideTemp }}&nbsp;&deg;C</p>
            <p class="card-text" v-if="!insideTemp">Loading...</p>
          </div>
        </div>
        </div>
        <div class="row" style="width: 100%;">
        <div class="card text-white mb-3 widget" style="width: 100%;">
          <div class="card-header" style="background:rgba(0, 0, 0, .3);"><i class="fas fa-tint"></i>&nbsp;&nbsp;Humidity</div>
          <div class="card-body">
            <h5><p class="card-text">{{ taipei.humd }}&nbsp;%</p></h5>
          </div>
        </div>
        </div>
        <div class="row" style="width: 100%;">
        <div class="card text-white mb-3 widget" style="width: 100%;">
          <div class="card-header" style="background:rgba(0, 0, 0, .3);"><i class="fas fa-car-battery"></i>&nbsp;&nbsp;Voltage</div>
          <div class="card-body">
            <h5><p class="card-text" v-if="voltage">{{ voltage }}&nbsp;&nbsp;V</p></h5>
            <p class="card-text" v-if="!voltage">Loading...</p>
          </div>
        </div>
        </div>
        <div class="row" style="width: 100%;">
          <div class="col-md-6 padding-0" style="width: 100%;padding-right:1%;">
            <div class="card text-white mb-3 widget" style="width:100%;height:100%;">
              <div class="card-header" style="background:rgba(0, 0, 0, .3);"><i class="fas fa-water"></i>&nbsp;&nbsp;Water Flow</div>
              <div class="card-body">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target=".waterFlowModal">Open</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 padding-0" style="width: 100%;padding-left:1%;">
            <div class="card text-white mb-3 widget" style="width:100%;height:100%;">
              <div class="card-header" style="background:rgba(0, 0, 0, .3);"><i class="fas fa-recycle"></i>&nbsp;&nbsp;Air Conversion</div>
              <div class="card-body">
                <a class="btn btn-info" href="#" data-toggle="modal" data-target=".airConverModal">Open</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 padding-0">
      <Building/>
      <div class="row" style="height:5%;">
      <div style="width:10%;color:white;margin:auto;">
      <h4>Water Storage</h4>
      </div>
      <div class="progress" style="width:90%;height:100%;border: 2px black solid ;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;border: 2px white solid;">20%</div>
      </div>
      </div>
      </div>
    </div>
    <!-- Modals -->
      <AirConverModal class="airConverModal"/>
      <WaterFlowModal class="waterFlowModal"/>
  </div>
</template>

<script>
/* eslint-disable */
import Building from './svg/Buildingz'
import AirConverModal from './Modals/AirConverModal'
import WaterFlowModal from './Modals/WaterFlowModal'
// ServicesImport
import mspTsService from '@/services/msp/timeseries'
export default {
  name: 'Home',
  mixins:[mspTsService],
  data() {
    return {
      taipei:{
        temp: 0,
        humd: 0,
        pressure: 0
      },
      insideTemp: null,
      voltage: null,
      waterStorage: null
    }
  } ,
  components: {
    Building,
    AirConverModal,
    WaterFlowModal
  },
  methods: {
    async getTaipeiWeather() {
			try{
        let data = await this.getWeatherSiemens();
        this.taipei.temp = data.main.temp;
        this.taipei.humd = data.main.humidity;
        this.taipei.pressure = data.main.pressure;
			}catch(e){
				console.log(e);
			}
    },
    async getData(){
        try{
          let data = await  this.getTimeseries('aspect_Virtual_Motor_Condition');
          data.forEach(element => {
              if(element['Motor_Temp']){
                var target = element['Motor_Temp'];
                this.insideTemp = target;
                this.voltage = target;
              }
            });
        }catch(e){
          console.log(e);
        }
    }
  },
  created() {
    this.getTaipeiWeather();
    this.getData();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.widget {
    color: white;
    background: rgba(0, 0, 0, .2);
}
.widget:first-child::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top: 3px rgb(2, 184, 165) solid;
    border-left: 3px rgb(2, 184, 165) solid;
    transition: .2s;
}
.widget:last-child::after {
    content: '';
    position: absolute;
    bottom:0;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom: 3px rgb(2, 184, 165) solid;
    border-right: 3px rgb(2, 184, 165) solid;
    transition: .2s;
}
</style>
