<template>
<div class="order">
    <div class="row" style="height:100%;width:100%;">
        <div class="col-md-1" style="height:100%;width:100%;">
            <div style="float:left;margin:5%;">Catergory</div>
        </div>
        <div class="col-md-11" style="height:100%;width:100%;">
             <div class="row" style="margin:2%;">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 float-right">
            <div class="float-right"> 
                <div class="box">
                    <div class="notifications">
                        <a  class="cart" href="#/orderlist"><i class="fas fa-shopping-cart"></i></a>
                        <span class="num" style="color:black;">4</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="row grid">
                <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="itemGrid">
                        <div class="itemTitle">
                            <h3>Lettuce</h3>
                        </div>
                        <div class="itemImg">
                            <img src="@/assets/vegetables/lettuce.svg"/>
                        </div>
                        <div class="itemBtn">
                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-cart-plus"></i></a>
                            <h4>Quantities:&nbsp;4</h4>
                            <h4>Estimated days:&nbsp;&nbsp;3&nbsp;days</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <h2 class="modal-title" id="exampleModalLabel">Lettuce</h2>
            <div class="modal-body">
                <LifeCycle/>
                <hr>
                <div class="progress" style="margin-bottom:1%;height:4%;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%;height:100%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3 Days Left</div>
                </div>
                <h3>Estimated days:&nbsp;3</h3>
                <center>
                     <h3>Quantities:</h3>
               <div class="input-group mb-3" style="width:20%;">
                <input type="number" class="form-control" value="4" max="10" min="1" >
                </div>
                </center>
            </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        </div>
</div>
</template>
<script>
/* eslint-disable */
import LifeCycle from './svg/LifeCycle'
export default {
    name: 'Order',
    components: {
        LifeCycle
    }
}
</script>
<style scoped>
.order {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
}
.grid {
    height:40%;
    width:100%;
    margin-top:2%;
}
.itemGrid {
    height:22em;
    width:100%;
    background: rgba(255,255,255,.8);
    border: 1px black solid;
    border-radius: 5%;
    box-shadow: 10px 10px 10px black;

}
.itemImg{
    height: 35%;
    width:100%;
    align-content: center;
    background: none;
    margin-top: 5%;
}
.itemTitle{
    width:100%;
    align-content: center;
    background: none;
     margin-top: 3%;
}
.itemBtn {
    height: 35%;
    width:100%;
    align-content: center;
    /* margin-top: 2%; */
}
.fa-cart-plus{
    font-size: 2.5em;
    padding: 10%;
    color: rgb(6, 86, 82);
}
.fa-cart-plus:hover {
    color: rgb(2, 184, 165);
}
img {
    height: 100%;
    width: 100%;
}
.notifications {
    width: 35px;
    height: 35px;
    background: none;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
}
.notifications .fas:hover{
    color:rgb(2, 184, 165);
}
.notifications .fas {
    color: white;
    line-height: 35px;
    font-size: 20px;
}
.notifications .num {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff2c74;
    color: #fff;
    line-height: 20px;
    font-family: sans-serif;
    text-align: center;
}
    .modal,
    .modal-dialog,
    .modal-content
     {
        height: 85%;
        width: 100%;
    }
    .modal-content {
        margin-top: 10%;
        background: white;
        box-shadow: 5px 10px 10px black;
         border-radius: 12px;
    }
</style>