<template>
    <div class="orderlist">
        <div class="row" style="padding:1%;">
            <a class="back" href="#/order"><i class="fas fa-chevron-left">&nbsp;Back</i></a>
        </div>
        <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Estimated days</th>
                <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Lettuce</td>
                <td>3</td>
                <td style="width:25%;">
                    <div class="row"  style="height:100%;width:100%;">
                    <div class="col-6">
                    <input type="number" class="form-control" value="4" max="10" min="1">
                    </div>
                    <div class="col-6">
                    <a href="#"><i class="fas fa-trash-alt" style="font-size:30px;"></i></a>
                    </div>
                    </div> 
                </td>
                </tr>
                <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                </tr> -->
            </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-success submit">Submit</button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'OrderList',
}
</script>
<style scoped>
.orderlist {
    margin: 2%;
}
.table{
    background: rgba(255,255,255,.8);
    /* border: 1px black solid;
    border-radius: 12px; */
    /* border-radius: 12px !important; */
    border-width: 3px !important;
    border-style: solid !important;
    border-color: black !important;
    box-shadow: 10px 10px 10px black;
}
.back {
    font-size:1.7em;
    color:white;
}
.back:hover{
    color:rgb(2, 184, 165);
}
</style>