<template>
<div class="plantDash">
    <div class="row" style="margin-bottom:2%;box-shadow: 5px 10px 10px black;border:1px white solid;padding:0.5%;">
        <div class="col-md-4">
            <div class="float-left align-middle" style="margin:auto;"><h5>Dashboard of Plants</h5></div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 float-right">
            <div class="float-right"> 
                <div class="box">
                    <div class="notifications">
                        <a href="#" data-toggle="modal" data-target=".messages-model">
                            <i class="fas fa-bell"></i>
                        </a>
                        <span v-if="msgNum != 0" class="num" style="color:black;">{{ msgNum }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2><span class="title">General Statistics</span></h2>
    <div class="scrolling">
    <div class="row">
        <div class="col-lg-3 padding-0" style="height:100%;">
        <div class="widget" style="height:100%;">
            <div class="row" style="margin:2%;">
             Humidity
            </div>
            <div class="row" style="padding:0;margin:0;height:250px;">
                <HumidityChart/>
            </div>
        </div>
        </div>
        <div class="col-lg-3 padding-0" style="height:100%;">
        <div class="widget" style="height:100%;">
            <div class="row" style="margin:2%;">
            Temperature
            </div>
            <div class="row" style="padding:0;margin:0;height:250px;">
                <TemperChart/>
            </div>
        </div>
        </div>
        <div class="col-lg-3 padding-0" style="height:100%;">
        <div class="widget" style="height:100%;">
            <div class="row" style="margin:2%;">
            Soil Moisture
            </div>
            <div class="row" style="padding:0;margin:0;height:250px;">
                <SoilMoisture/>
            </div>
        </div>
        </div>
        <div class="col-lg-3 padding-0" style="height:100%;">
        <div class="widget" style="height:100%;">
            <div class="row" style="margin:2%;">
            Sunlight
            </div>
            <div class="row" style="padding:0;margin:0;height:250px">
                <SunLight/>
            </div>
        </div>
        </div>
        <div class="col-lg-3 padding-0" style="height:100%;">
        <div class="widget" style="height:100%;">
            <div class="row" style="margin:2%;">
            Carbonic Acid
            </div>
            <div class="row" style="padding:0;margin:0;height:250px">
                <CarbonicAcid/>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="text-center" style="margin-bottom:2%;">
        <h5>Scroll&nbsp;&nbsp;>></h5>
    </div>
    <h2><span class="title">Sensor Data</span></h2>
    <div class="row">
        <div class="col-lg-4 padding-0">
        <div class="widget">
            <div class="row" style="margin:2%;">
             Water Pump
            </div>
            <div class="row" style="margin:3%;">
                <div class="col-md-6">
                    <WaterPump/>
                </div>
                <div class="col-md-6" style="padding:7%;text-align:center;">
                        <h3>{{waterPump}}&nbsp;&deg;C</h3>
                        <hr style="background:white;width:100%;">
                        <h4>Rotating</h4>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 padding-0">
        <div class="widget">
            <div class="row" style="margin:2%;">
             Fertilizer
            </div>
            <div class="row" style="margin:3%;">
                <div class="col-md-6">
                    <Fertilizer/>
                </div>
                <div class="col-md-6" style="padding:7%;text-align:center;">
                        <h3>86%</h3>
                        <hr style="background:white;width:100%;">
                        <h4>Usable</h4>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 padding-0" style="height:30%;">
        <div class="widget">
            <div class="row" style="margin:2%;">
                <div class="col-md-4">
             Water Tank
                </div>
                <div class="col-md-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" :style="{width: percent + '%'}">{{ percent}}%</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:3%;">
                <div class="col-md-6">
                    <WaterTank/>
                </div>
                <div class="col-md-6" style="padding:6%;text-align:center;">
                        <h3>258&nbsp;l</h3>
                        <hr style="background:white;width:100%;">
                        <h4>Usable Capacity</h4>
                        <button class="supplementBtn" v-on:click="supplyment">+</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Modal -->
    <MsgsModal class="messages-model"/>
</div>
</template>
<script>
/* eslint-disable */
import WaterPump from './svg/WaterPump';
import Fertilizer from './svg/Fertilizer';
import WaterTank from './svg/WaterTank'
import TemperChart from './elements/Charts/Temper'
import HumidityChart from './elements/Charts/Humidity'
import SoilMoisture from './elements/Charts/SoilMoisture'
import SunLight from './elements/Charts/SunLight'
import CarbonicAcid from './elements/Charts/CarbonicAcid'
// ModalsImport
import MsgsModal from './Modals/MsgsModal'
// ServicesImport
import msgService from '@/services/noti'
import mspTsService from '@/services/msp/timeseries'
export default {
    name: 'PlantsDash',
    mixins: [msgService,mspTsService],
    components: {
        WaterPump,
        Fertilizer,
        WaterTank,
        //Charts
        TemperChart,
        HumidityChart,
        SoilMoisture,
        SunLight,
        CarbonicAcid,
        //Modals
        MsgsModal
    },
    data() {
        return{
        percent: 20,
        waterPump: null,
        fertilizer: null,
        waterTank: null
        }
    },
    methods: {
        supplyment() {
            if(this.percent == 100){
                this.percent = 100;
            }else {
                this.percent += 10;
            }
            this.createMsgSocket();
        },
        async getData(){
            try{
            let data = await  this.getTimeseries('aspect_Virtual_Motor_Condition');
            data.forEach(element => {
                if(element['Motor_Temp']){
                    var target = element['Motor_Temp'];
                    this.waterPump = target;
                }
                });
            }catch(e){
            console.log(e);
            }
        }
    },
    created() {
        this.msgSubscribe();
        this.msgDeletedSubscribeById();
        this.msgReadSubscribe();
        this.msgSolvedSubscribe();
        this.getAllMsg();
        this.getData();
    }
}
</script>
<style scoped>
.plantDash{
    height: 100%;
    width: 100%;
    padding: 2%;
}
div {
     color: white;
}

.widget {
    margin: 2%;
    border: 2px rgb(6, 86, 82) solid;   
    background: rgba(0, 0, 0, .2);
}
.widget:first-child::before {
    content: '';
    margin: 2%;
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top: 3px rgb(2, 184, 165) solid;
    border-left: 3px rgb(2, 184, 165) solid;
    /* border: 2px white solid; */
    transition: .2s;
}
.widget:last-child::after {
    content: '';
    margin: 2%;
    position: absolute;
    bottom:0;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom: 3px rgb(2, 184, 165) solid;
    border-right: 3px rgb(2, 184, 165) solid;
    /* border: 2px rgb(2, 184, 165) solid; */
    transition: .2s;
}
h2 {
    margin: 1%;
}
.title {
    color: white;
    /* border: 2px rgb(6, 86, 82) solid; */
    padding: 0.5%;
}
.title:first-child::before {
    content: '';
    margin: 1%;
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 2px rgb(2, 184, 165) solid;
    border-left: 2px rgb(2, 184, 165) solid;
    /* border: 2px white solid; */
    transition: .2s;
}
.title:last-child::after {
    content: '';
    margin: 1%;
    position: relative;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 2px rgb(2, 184, 165) solid;
    border-right: 2px rgb(2, 184, 165) solid;
    /* border: 2px rgb(2, 184, 165) solid; */
    transition: .2s;
}
.notifications {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.notifications:hover {
    /* width: 250px;
    height: 30px;
    text-align: left; */
    border: 1px black solid;
}
.notifications .fas {
    color: #cecece;
    line-height: 30px;
    font-size: 20px;
}
.notifications .num {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff2c74;
    color: #fff;
    line-height: 20px;
    font-family: sans-serif;
    text-align: center;
}
.supplementBtn {
   color:rgb(6, 86, 82);
    background:white;
    border:2px rgb(6, 86, 82) solid;
    border-radius:50%;
    width:35px;
    height:35px;
  box-shadow: 0 5px #999;
}

.supplementBtn:hover {
    color:rgb(2, 184, 165);
    background:white;
    border:2px rgb(2, 184, 165) solid;
}

.supplementBtn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.scrolling > .row {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.scrolling > .row > .col-lg-3 {
  display: inline-block;
  float: none;
}
</style>