<template>
  <div id="sideNav">
        <div class="link">
        <a class="navItem" href="/#/">Building</a>
        </div>
        <div class="link">
        <a class="navItem" href="/#/order">Order</a>
        </div>
        <!-- <div class="link">
        <a class="navItem" href="#">Link</a>
        </div> -->
</div>
</template>
<script>
export default {
    name: 'SideBar'
}
</script>
<style scoped>
#sideNav {
    padding-top: 10%;
    padding-left: 10%;
    text-align: left;
    height:100%;
    width:100%;
    /* background: black; */
}
li {
  color: lightgray;
  margin-top: 7%;
}
a {
    font-size: 1.2rem;
    padding: 2%;
    color: rgb(1, 133, 119);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
a:hover {
    color: rgb(2, 184, 165);
}
.link {
    /* margin-top: 6%; */
    margin: 6%;
    border:2px rgb(6, 86, 82) solid;
    background: rgb(13, 37, 43);
    text-align: center;
    width:90%;
}
.link:hover {
    margin-top: 6%;
    border:2px rgb(2, 184, 165) solid;
    background: rgb(13, 37, 43);
    text-align: center;
    width: 90%;
}

</style>