<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <AirConver/>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
import AirConver from './svg/AirConver'
export default {
    components: {
        AirConver
    }
}
</script>
<style scoped>
    .modal,
    .modal-dialog,
    .modal-content
     {
        height: 100%;
        width: 100%;
    }
    .modal-content {
        margin-top: 10%;
        padding-right: 4%;
        background: lightskyblue;
        padding-top: 6%;
        box-shadow: 5px 10px 10px black;
        border-radius: 12px;
    }
</style>