<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color:gray;">Messages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <div data-spy="scroll" data-offset="0" style="color:gray;">
                    <h4 v-if="checkSubject('TestSocket')" id="list-item-1" style="padding:1%;;border-bottom:2px lightgray solid;">Tempature</h4>
                    <div style="color:gray;margin:auto;">
                    <ul style="list-style-type:none;">
                        <li v-for="(value,key,index) in this.msg" :key="index" :value="value" >
                        <div class="row" v-if="value.subject=='TestSocket'" style="margin-top:2%;">
                            <div class="col-lg-4">
                                <div style="color:gray;">{{value.timestamp}}</div>
                                <div style="color:gray;">{{value.body}}</div>
                            </div>
                            <div class="col-lg-2">
                                <center>
                                <h2 style="margin:0%;color:gray;">{{  value.priority }}</h2>
                                </center>
                            </div>
                            <div class="col-lg-2">
                                <div v-if="value.solved == false" style="color:red;margin-top:3%;">
                                    Unsolved
                                </div>
                                 <div v-if="value.solved == true" style="color:green;margin-top:3%;">
                                    Solved
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div v-if="value.read == false" style="color:red;margin-top:3%;">
                                    Unread
                                </div>
                                 <div v-if="value.read == true" style="color:green;margin-top:3%;">
                                    read
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" v-on:click="readMsgSocket(value._id)" style="margin:4%;"><i class="fas fa-glasses"></i></a>
                                <a href="#" v-on:click="solvedMsgSocket(value._id)" style="margin:4%;"><i class="fas fa-check-square"></i></a>
                                <a href="#" v-on:click="deleteMsgSocketById(value._id)" style="margin:4%;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                    </div>
                </center>
            </div>
            </div>
        </div>
        </div>
</template>
<script>
// ServicesImport
import msgService from '@/services/noti'
export default {
    mixins:[msgService],
    created() {
        this.msgSubscribe();
        this.msgDeletedSubscribeById();
        this.msgReadSubscribe();
        this.msgSolvedSubscribe();
        this.getAllMsg();
    }
}
</script>
<style scoped>
/* .modal,
.modal-dialog, */
.modal-content
 {
    height: 100%;
    width: 100%;
}    
.modal-content {
    margin-top: 10%;
    background: white;
    box-shadow: 5px 10px 10px black;
    border-radius: 12px;
}
</style>