<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <Vegs/>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
import Vegs from './svg/Vegs'
export default {
    components: {
        Vegs
    }
}
</script>
<style scoped>
    .modal,
    .modal-dialog,
    .modal-content
     {
        height: 100%;
        width: 100%;
    }
    .modal-content {
        margin-top: 15%;
        background: lightskyblue;
        /* padding-top: 10%; */
        box-shadow: 5px 10px 10px black;
        border-radius: 12px;
    }
</style>