<template>
  <div style="width:100%;height:100%;">
    <line-chart
      class="lineChart"
      v-if="loaded"
      :chartdata="chartdata"
      :options="options"/>
      <div v-if="!loaded" class="spinner-border" role="status" style="margin-top:25%;rgb(0,255,127);">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</template>

<script>
/* eslint-disable */
import LineChart from './LineChart.js'
// ServicesImport
import mspTsService from '@/services/msp/timeseries'

export default {
  name: 'LineChartContainer',
  components: { LineChart },
  mixins:[mspTsService],
  data: () => ({
    loaded: false,
    chartdata: null,
    options: {
        legend: {
        display: false
        },
        layout: {
            padding: {
                left: 5,
                right: 5,
                top: 5,
                bottom: 5
            }
        },
         scales: {
            yAxes: [{
                display: false,
            }],
            xAxes: [{
                display: false
            }]
        },
      annotation: null,
      responsive: true,
      maintainAspectRatio: false
    },
  }),
  methods: {
    async getData(selection){
       var start = new Date();
       start.setHours(start.getHours() - 8);
       start = start.toISOString().toString().slice(0,13) + ':00:00Z';
       var end = new Date().toISOString().toString().slice(0,13) + ':00:00Z';
      try{
        this.loaded = false;
        let data = await this.getAggregates('aspect_Virtual_Motor_Condition',start,end,1,'hour',selection);
        var labels = [];
        var datasets = {
            label: selection,
            backgroundColor: 'rgb(0,255,127)',
            data: [],
            pointBackgroundColor: '#fff',
            pointBorderColor:'rgb(0,0,0)'
          };
          data.forEach(element => {
              if(element[selection]){
                labels.push(selection);
                var average = element[selection].average;
                datasets.data.push(average);
                if (average >= 25){
                  this.drawAnno();
                }
              }
            });
        this.chartdata = {
            labels: labels,
            datasets: [datasets]
        };
        this.loaded = true;
      }catch(e){
        console.error(e);
      }
        // setTimeout(this.getData,5000);
    },
    drawAnno() {
        this.options.annotation = {
          annotations: [{
              type: 'line',
              mode: 'horizontal',
              scaleID: 'y-axis-0',
              value: '25',
              borderColor: 'black',
              borderWidth: 2,
              label: {
                      backgroundColor: 'rgba(0,0,0,0.8)',
                      fontFamily: "sans-serif",
                      fontSize: 12,
                      fontStyle: "bold",
                      fontColor: "#fff",
                      xPadding: 6,
                      yPadding: 6,
                      cornerRadius: 6,
                      position: "center",
                      xAdjust: 0,
                      yAdjust: 0,
                      enabled:true,
                      content: "25"
                  }
          }]
      }
    }
  },
  created() {
    this.getData('Motor_Temp');
  }
}
</script>
<style scoped>
    .lineChart {
        text-align: center;
        width: 100%;
        height: 100%;
    }
</style>