<template>
 <!-- eslint-disable -->
    <div style="padding-top: 5%;">
     <svg version="1.1" id="layer1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 771 872" style="enable-background:new 0 0 771 872;" xml:space="preserve">
        <g class="st0">
            <rect x="417.5" y="23.5" width="327" height="49"/>
            <path d="M744,24v48H418V24H744 M745,23H417v50h328V23L745,23z"/>
        </g>
        <line class="st1" x1="720.5" y1="200.25" x2="440.74" y2="200.25"/>
        <g class="st0">
            <rect x="453.5" y="73.5" width="255" height="76"/>
            <path d="M708,74v75H454V74H708 M709,73H453v77h256V73L709,73z"/>
        </g>
        <g class="st0">
            <rect x="441.5" y="199.5" width="299" height="9"/>
            <path d="M740,200v8H442v-8H740 M741,199H441v10h300V199L741,199z"/>
        </g>
        <g class="st0">
            <rect x="453.5" y="209.5" width="255" height="76"/>
            <path d="M708,210v75H454v-75H708 M709,209H453v77h256V209L709,209z"/>
        </g>
        <polyline class="st1" points="443.5,336.25 443.5,286.25 771.5,286.5 720.5,336.5 721,336.5 441,336.25 "/>
        <g class="st0">
            <rect x="420.5" y="336.5" width="299" height="9"/>
            <path d="M719,337v8H421v-8H719 M720,336H420v10h300V336L720,336z"/>
        </g>
        <g class="st0">
            <rect x="453.5" y="345.5" width="255" height="76"/>
            <path d="M708,346v75H454v-75H708 M709,345H453v77h256V345L709,345z"/>
        </g>
        <polygon class="st1" points="720.5,472.25 720.5,422.25 392.5,422.25 440.74,472.25 "/>
        <g class="st0">
            <rect x="441.5" y="472.5" width="299" height="9"/>
            <path d="M740,473v8H442v-8H740 M741,472H441v10h300V472L741,472z"/>
        </g>
        <g class="st0">
            <rect x="453.5" y="482.5" width="255" height="76"/>
            <path d="M708,483v75H454v-75H708 M709,482H453v77h256V482L709,482z"/>
        </g>
        <polyline class="st1" points="443.5,608.25 443.5,558.25 771.5,558.5 720.5,608.5 721,608.5 441,608.25 "/>
        <g class="st0">
            <rect x="420.5" y="609.5" width="299" height="9"/>
            <path d="M719,610v8H421v-8H719 M720,609H420v10h300V609L720,609z"/>
        </g>
        <g class="st0">
            <rect x="453.5" y="619.5" width="255" height="76"/>
            <path d="M708,620v75H454v-75H708 M709,619H453v77h256V619L709,619z"/>
        </g>
        <polygon class="st1" points="720.5,746.25 720.5,696.25 392.5,696.25 440.74,746.25 "/>
        <g class="st0">
            <rect x="441.5" y="746.5" width="299" height="9"/>
            <path d="M740,747v8H442v-8H740 M741,746H441v10h300V746L741,746z"/>
        </g>
        <g class="st0">
            <rect x="453.5" y="756.5" width="255" height="115"/>
            <path d="M708,757v114H454V757H708 M709,756H453v116h256V756L709,756z"/>
        </g>
        <polygon class="st1" points="720.5,200.5 720.5,150.5 392.5,150.5 440.74,200.5 "/>
        <g>
            <circle class="st2" cx="200" cy="97.5" r="50">
                 <animate attributeName="fill-opacity" values="1; 0.8; 0.7;0.8; 1;" dur="3s" repeatCount="indefinite" />
            </circle>
            <text x="200" y="97.5" text-anchor="middle" stroke="red" stroke-width="1px"> Label</text>
        </g>
        <g>
            <circle class="st2" cx="50" cy="59.5" r="50">
                <animate attributeName="fill-opacity" values="1; 0.8; 0.7;0.8; 1;" dur="3s" repeatCount="indefinite" />
            </circle>
             <text x="50" y="59.5" text-anchor="middle" stroke="red" stroke-width="1px"> Label</text>
        </g>
        <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><circle class="st4" cx="424.5" cy="151.5" r="16">
            <animate attributeName="r" values="16; 19; 22;19; 16" dur="3s" repeatCount="indefinite" />
        </circle></a>
        <circle class="st4" cx="745" cy="286" r="16">
            <animate attributeName="r" values="16; 19; 22;19; 16" dur="3s" repeatCount="indefinite" />
        </circle>
        <circle class="st4" cx="425" cy="422" r="16">
        </circle>
        <circle class="st4" cx="745" cy="559" r="16">
        </circle>
        <circle class="st4" cx="425" cy="697" r="16">
        </circle>
        </svg>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <VoF class="vof"/>
            </div>
            </div>
        </div>
        </div>
    </div>

</template>
<script>
import VoF from './VegOnFloor';
export default {
    components: {
        VoF
    }
}
</script>
<style scoped>
    /* rect:hover {
        background:rgb(2, 184, 165);
    } */
    .st1:hover {
        fill: rgb(2, 184, 165);
        /* stroke: rgb(2, 184, 165); */
        pointer-events: all;
    }
    a {
        fill: rgba(1, 133, 119,.4);
    }
    svg {
        width:60%;
        height:100%;
        /* margin-top: 3%; */
        fill: rgba(1, 133, 119,.4);
        /* stroke:black; */
    }
    .st0{opacity:0.5;stroke:white;stroke-miterlimit:10;}
    .st1{opacity:0.5;stroke:white;stroke-miterlimit:10;}
    .st2{fill:rgb(253, 225, 43);}
    .st4{fill:rgba(237, 28, 36, .7);}
    .st4:hover {
        fill: rgba(237, 28, 36, 1);;
        /* stroke: rgb(2, 184, 165); */
        pointer-events: all;
    }
    .modal,
    .modal-dialog,
    .modal-content
     {
        height: 85%;
        width: 100%;
    }
    .modal-content {
        margin-top: 15%;
        background: lightskyblue;
        padding-top: 10%;
        box-shadow: 5px 10px 10px black;
         border-radius: 12px;
    }
</style>