<template>
 <!-- eslint-disable -->
    <div>
        <svg version="1.1" id="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 665 259" style="enable-background:new 0 0 665 259;" xml:space="preserve">
            <g class="vg2" v-if="vg2">
                <path class="st0" d="M242.09,86.04c-9.66,0-17.49-7.83-17.49-17.49c0-1.93,1.57-3.5,3.5-3.5c9.66,0,17.49,7.83,17.49,17.49
                    C245.58,84.48,244.02,86.04,242.09,86.04z"/>
                <path class="st0" d="M242.09,114.02c-9.66,0-17.49-7.83-17.49-17.49c0-1.93,1.57-3.5,3.5-3.5c9.66,0,17.49,7.83,17.49,17.49
                    C245.58,112.46,244.02,114.02,242.09,114.02z"/>
                <path class="st1" d="M249.08,114.02c9.66,0,17.49-7.83,17.49-17.49c0-1.93-1.57-3.5-3.5-3.5c-9.66,0-17.49,7.83-17.49,17.49
                    C245.58,112.46,247.15,114.02,249.08,114.02z"/>
                <path class="st1" d="M249.08,86.04c9.66,0,17.49-7.83,17.49-17.49c0-1.93-1.57-3.5-3.5-3.5c-9.66,0-17.49,7.83-17.49,17.49
                    C245.58,84.48,247.15,86.04,249.08,86.04z"/>
                <path class="st2" d="M249.16,68.56v69.87c0,1.82-1.36,3.4-3.17,3.56c-2.11,0.18-3.82-1.42-3.82-3.48V68.63
                    c0-1.82,1.36-3.4,3.17-3.56C247.45,64.89,249.16,66.49,249.16,68.56z"/>
                <path class="st0" d="M245.67,142V65.06c1.96,0,3.5,1.54,3.5,3.5v69.95C249.16,140.46,247.63,142,245.67,142z"/>
                <path class="st0" d="M247.89,37.76c-0.63-0.63-1.47-0.91-2.31-0.91c-0.84,0-1.68,0.28-2.31,0.91c-0.35,0.28-8.18,7.65-8.18,16.81
                    s7.83,16.3,8.18,16.58c0.63,0.63,1.47,0.91,2.31,0.91c0.84,0,1.68-0.28,2.31-0.91c0.35-0.28,8.18-7.41,8.18-16.58
                    S248.24,38.03,247.89,37.76z"/>
                <path class="st1" d="M256.16,54.57c0,9.16-7.83,16.3-8.18,16.58c-0.63,0.63-1.47,0.91-2.31,0.91V36.85c0.84,0,1.68,0.28,2.31,0.91
                    C248.32,38.03,256.16,45.4,256.16,54.57z"/>
                <path class="st0" d="M186.13,114.02c-9.66,0-17.49-7.83-17.49-17.49c0-1.93,1.57-3.5,3.5-3.5c9.66,0,17.49,7.83,17.49,17.49
                    C189.63,112.46,188.06,114.02,186.13,114.02z"/>
                <path class="st0" d="M186.13,86.04c-9.66,0-17.49-7.83-17.49-17.49c0-1.93,1.57-3.5,3.5-3.5c9.66,0,17.49,7.83,17.49,17.49
                    C189.63,84.48,188.06,86.04,186.13,86.04z"/>
                <path class="st1" d="M193.12,114.02c9.66,0,17.49-7.83,17.49-17.49c0-1.93-1.57-3.5-3.5-3.5c-9.66,0-17.49,7.83-17.49,17.49
                    C189.63,112.46,191.19,114.02,193.12,114.02z"/>
                <path class="st1" d="M193.12,86.04c9.66,0,17.49-7.83,17.49-17.49c0-1.93-1.57-3.5-3.5-3.5c-9.66,0-17.49,7.83-17.49,17.49
                    C189.63,84.48,191.19,86.04,193.12,86.04z"/>
                <path class="st2" d="M193.21,68.56v69.87c0,1.82-1.36,3.4-3.17,3.56c-2.11,0.18-3.82-1.42-3.82-3.48V68.63
                    c0-1.82,1.36-3.4,3.17-3.56C191.49,64.89,193.21,66.49,193.21,68.56z"/>
                <path class="st0" d="M189.71,142V65.06c1.96,0,3.5,1.54,3.5,3.5v69.95C193.21,140.46,191.67,142,189.71,142z"/>
                <path class="st0" d="M191.93,37.76c-0.63-0.63-1.47-0.91-2.31-0.91c-0.84,0-1.68,0.28-2.31,0.91c-0.35,0.28-8.18,7.65-8.18,16.81
                    s7.83,16.3,8.18,16.58c0.63,0.63,1.47,0.91,2.31,0.91c0.84,0,1.68-0.28,2.31-0.91c0.35-0.28,8.18-7.41,8.18-16.58
                    S192.28,38.03,191.93,37.76z"/>
                <path class="st1" d="M200.2,54.57c0,9.16-7.83,16.3-8.18,16.58c-0.63,0.63-1.47,0.91-2.31,0.91V36.85c0.84,0,1.68,0.28,2.31,0.91
                    C192.37,38.03,200.2,45.4,200.2,54.57z"/>
            </g>
            <g class="vg1" v-if="vg1">
                <g>
                    <path class="st3" d="M105.94,82.02L75.83,97.15c-0.6,0.3-1.19,0.63-1.76,0.97l12.03,1.51C96.63,100.95,105.94,92.69,105.94,82.02z
                        "/>
                    <path class="st3" d="M44.43,73.56L19.94,58.01c0,11.11,8.95,20.11,20,20.11h10c0,0,0,0,0-0.01
                        C48.32,76.39,46.47,74.86,44.43,73.56z"/>
                </g>
                <path class="st4" d="M106.37,80.16l-11.09-2.09c-5.77-1.09-11.66,0.45-16.18,4.22c-4.43,3.7-6.99,9.12-7.08,14.9
                    c-5.14,3.25-9.25,7.72-12.02,12.95V98.2c0-7.89-2.92-15.28-8.03-20.94C51.6,64.9,43.33,56,32.01,56h-12c-1.1,0-2,0.91-2,2.02
                    c0,12.19,9.87,22.11,22,22.11h9.11c4.38,4.9,6.88,11.27,6.88,18.07v28.11c0,1.01,0.71,1.91,1.71,2.05
                    c1.24,0.18,2.29-0.78,2.29-1.99c0-10.78,5.52-20.54,14.56-26.05l11.34,1.43c0.81,0.1,1.62,0.15,2.44,0.15
                    c4.76,0,9.4-1.74,13.01-4.95c4.22-3.75,6.65-9.15,6.65-14.81C108,81.17,107.31,80.34,106.37,80.16z M39.94,76.11
                    c-8.58,0-15.77-6.07-17.56-14.17l20.98,13.32c0.41,0.26,0.77,0.57,1.16,0.85C44.53,76.11,39.94,76.11,39.94,76.11z M98.64,93.82
                    c-3.37,2.99-7.85,4.37-12.3,3.82l-5.6-0.7l22.8-11.46C102.83,88.67,101.13,91.61,98.64,93.82z"/>
            </g>
            <g>
                <path class="st5" d="M650.38,130.5c-5.43-1.8-10.48-3.9-15.14-6.3c-41.92-21.6-97.16-21.6-139.08,0c-29.11,14.7-66.37,14.7-95.09,0
                    c-21.35-10.8-45.41-16.2-69.86-16.2c-23.29,0-47.35,5.4-67.92,16.2c-29.11,14.7-66.37,14.7-95.09,0
                    c-41.92-21.6-97.16-21.6-139.08,0c-3.49,1.8-7.37,2.7-11.25,3C7.76,127.8,0,134.4,0,142.2V244c0,8.28,8.69,15,19.41,15h623.6
                    c10.72,0,19.41-6.72,19.41-15v-99.7C662.41,138.3,657.75,132.6,650.38,130.5z"/>
                <path class="st6" d="M665,144.3V244c0,8.28-8.69,15-19.41,15h-311.8V108c24.45,0,48.52,5.4,69.86,16.2
                    c28.72,14.7,65.98,14.7,95.09,0c41.92-21.6,97.16-21.6,139.08,0c4.66,2.4,9.7,4.5,15.14,6.3C660.34,132.6,665,138.3,665,144.3z"/>
                <path class="st7" d="M159.96,201h-38.31c-9.97,0-18.71-5.65-19.79-13.31c-1.28-9.05,7.84-16.69,19.29-16.69h38.31
                    c9.97,0,18.71,5.65,19.79,13.31C180.53,193.36,171.41,201,159.96,201z"/>
                <path class="st8" d="M568.8,201h-38.31c-9.97,0-18.71-5.65-19.79-13.31c-1.28-9.05,7.84-16.69,19.29-16.69h38.31
                    c9.97,0,18.71,5.65,19.79,13.31C589.36,193.36,580.24,201,568.8,201z"/>
                <path class="st7" d="M352.32,201h-37.99c-10.1,0-18.88-5.83-19.74-13.61c-1.01-9.06,7.86-16.39,19.33-16.39h38.81
                    c11.47,0,20.33,7.34,19.33,16.39C371.2,195.17,362.42,201,352.32,201z"/>
                <path class="st8" d="M352.79,201h-19v-30h19.41c11.47,0,20.33,7.34,19.33,16.39C371.67,195.17,362.89,201,352.79,201z"/>
            </g>
            <g class="vg4" v-if="vg4">
                <path class="st9" d="M626.97,38.5v26.22H517.35V38.5c0-11.89,9.87-21.84,21.76-21.08c2.19-6.07,9.36-10.51,15.77-8.4
                    C558.75,3.46,565.16,0,572.16,0c7,0,13.41,3.46,17.29,9.02c6.32-2.11,13.58,2.33,15.77,8.4C617.02,16.75,626.97,26.61,626.97,38.5z
                    "/>
                <path class="st10" d="M626.97,38.5v26.22h-54.81V0c7,0,13.41,3.46,17.29,9.02c6.33-2.11,13.58,2.33,15.77,8.4
                    C617.02,16.75,626.97,26.61,626.97,38.5z"/>
                <path class="st9" d="M644.07,51.22c0-9.27-7.87-16.86-17.14-16.86c-3.54,0-7,1.18-9.86,3.29c-3.37-2.11-7.25-3.29-11.21-3.29
                    c-10.03,0-18.46,7.08-20.57,16.86c-2.87-0.08-5.73,0.34-8.6,1.26c-1.6,0.51-3.12,1.18-4.55,2.02l-2.56,52.66l12.51,36.54
                    c10.54-1.18,19.81-7.42,24.79-16.86c5.73,0.84,12.9-0.25,21.25-8.6c7.81-7.95,9.52-18.66,4.92-27.4
                    c6.75-3.63,11.04-10.62,11.04-18.55c0-3.96-1.18-7.84-3.29-11.21C642.89,58.21,644.07,54.76,644.07,51.22z"/>
                <path class="st10" d="M626.53,70.4c-1.04-2.08-3.58-2.92-5.66-1.89l-10.76,5.38V55.53c0-2.17-1.59-4.06-3.74-4.3
                    c-2.54-0.28-4.69,1.7-4.69,4.19v24.67c-1.17,4.59-2.7,9.04-4.53,13.36l-4.66-6.7c-1.33-1.91-3.96-2.38-5.87-1.05
                    c-1.91,1.33-2.38,3.96-1.05,5.87l7.3,10.49c-4.8,8.74-10.85,16.77-18.27,23.64c-1.71,1.59-1.81,4.25-0.23,5.96
                    c1.58,1.71,4.26,1.81,5.96,0.23c7.38-6.84,13.63-14.66,18.65-23.21l14.91,1.54c2.5,0.21,4.4-1.58,4.63-3.76
                    c0.24-2.31-1.45-4.39-3.76-4.63l-11.57-1.2c2.57-5.43,4.66-11.1,6.24-16.96l15.22-7.61C626.73,75.02,627.57,72.49,626.53,70.4z"/>
                <path class="st11" d="M575.16,105.71l9.11,31.53l-5.06,6.66l-0.08,0.08h-13.24c-1.26,0-2.53-0.08-3.71-0.25
                    c-0.08,0-0.08,0-0.17-0.08c-10.45-1.1-19.64-7.42-24.62-16.78c-5.73,0.84-12.9-0.25-21.25-8.6c-4.72-4.8-7.62-10.96-7.53-16.95
                    c0.08-3.71,1.21-7.25,2.89-10.45c-6.74-3.63-11.32-10.62-11.32-18.55c0-3.96,1.18-7.84,3.29-11.21c-2.11-2.87-3.29-6.32-3.29-9.86
                    c0-9.27,7.87-16.86,17.14-16.86c3.54,0,7,1.18,9.86,3.29c3.37-2.11,7.25-3.29,11.21-3.29c10.2,0,18.72,7.25,20.66,16.86
                    c2.78-0.08,5.73,0.34,8.52,1.26c1.6,0.51,3.12,1.18,4.55,2.02c5.56,3.2,9.86,8.43,11.63,14.67c2.44,8.6,0.59,17.28-5.14,23.86
                    C575.25,96.94,573.98,101.5,575.16,105.71z"/>
                <path class="st12" d="M575.2,105.71l9.11,31.53l-5.06,6.66l-0.08,0.08h-7V54.54c5.56,3.2,9.86,8.43,11.63,14.67
                    c2.44,8.6,0.59,17.28-5.14,23.86C575.28,96.94,574.01,101.5,575.2,105.71z"/>
                <path class="st9" d="M583.97,142.28c-0.51,0.68-1.1,1.1-1.86,1.43c-1.18,0.42-1.86,0.25-2.95,0.25c0,0-0.08,0-0.08-0.08
                    c-2.36-1.69-4.64-3.37-6.91-5.14c-3.79-3.04-7.59-6.24-11.3-9.95c-5.4-5.4-10.54-11.89-15.43-20.15l-15.01,1.6
                    c-2.53,0.17-4.39-1.6-4.64-3.79c-0.25-2.28,1.43-4.39,3.79-4.64l11.64-1.18c-2.61-5.4-4.72-11.13-6.33-16.95l-15.18-7.59
                    c-2.11-1.1-2.95-3.63-1.94-5.65c1.1-2.11,3.63-2.95,5.65-1.94l10.8,5.4V55.51c0-2.19,1.64-4.1,3.82-4.29
                    c2.55-0.22,4.61,1.71,4.61,4.2v24.71c1.18,4.55,2.7,9.02,4.55,13.32l4.64-6.75c1.35-1.86,3.96-2.36,5.9-1.01
                    c1.86,1.35,2.36,3.96,1.01,5.9l-7.34,10.54c3.37,6.07,7,11.22,10.79,15.6c3.2,3.71,6.49,7,9.95,9.95
                    c3.96,3.46,8.01,6.58,12.14,9.53C584.39,138.06,585.57,140.17,583.97,142.28z"/>
                <path class="st10" d="M583.96,142.27c-0.51,0.68-1.1,1.1-1.86,1.43c-1.18,0.42-1.85,0.25-2.95,0.25c0,0-0.08,0-0.08-0.08
                    c-2.36-1.69-4.64-3.37-6.91-5.14v-11.04c3.96,3.46,8.01,6.58,12.14,9.53C584.38,138.05,585.57,140.16,583.96,142.27z"/>
            </g>
            <g class="vg3" v-if="vg3">
                <g>
                    <path class="st13" d="M430.88,88.35c2.84,0.67,5.94,0.66,9.26-0.74c5.69-2.4,9.74-7.86,9.87-14.04
                        c0.14-6.92-4.25-12.82-10.4-14.98c-0.43-6.28-5.65-11.24-12.04-11.24c-0.02,0-0.04,0-0.05,0c0.11-0.95,0.05-1.96-0.26-3.01
                        c-0.86-2.95-3.46-5.21-6.51-5.57c-2.5-0.3-4.8,0.6-6.41,2.19c-1.53-1.38-3.53-2.24-5.76-2.24c-4.77,0-8.63,3.86-8.63,8.63
                        c0,0.01,0,0.03,0,0.04c-5.79,0.44-10.36,5.27-10.36,11.18c0,0.9,0.12,1.78,0.32,2.62c-6.9,0.29-12.4,5.95-12.4,12.92
                        c0,2.36,0.64,4.57,1.75,6.47c-2.12,1.74-3.47,4.38-3.47,7.34c0,4.13,2.65,7.64,6.33,8.94c-0.48,16.88,5.55,26.84,17.2,40.25
                        c0.21,0.24,0.42,0.48,0.63,0.72c0.05,0.05,0.09,0.1,0.14,0.15c4.85,5.44,15.77,1.27,13.42-5.62
                        c-12.55-36.83,26.14-31.5,26.14-31.5s1.11-11.14-8.88-11.66c0.01-0.28,0.03-0.56,0.04-0.84
                        C430.83,88.37,430.85,88.36,430.88,88.35z"/>
                    <path class="st14" d="M400.08,137.99c-0.05-0.05-0.09-0.1-0.14-0.15c-0.21-0.24-0.42-0.48-0.63-0.72
                        c-11.65-13.41-17.68-23.37-17.2-40.25c-3.69-1.3-6.33-4.81-6.33-8.94c0-2.96,1.35-5.6,3.47-7.34c-1.1-1.91-1.75-4.11-1.75-6.47
                        c0-6.97,5.51-12.63,12.4-12.92c-0.2-0.84-0.32-1.71-0.32-2.62c0-4.69,2.89-8.69,6.98-10.37c-0.27-0.89-0.62-1.78-1.07-2.68
                        c-2.26-4.47-6.23-7.28-9.85-6.69c-2.99,0.49-5.08,2.92-5.98,6.2c-2.51-1.69-5.29-2.34-7.8-1.46c-5.38,1.9-7.08,9.63-4,16.8
                        c0.01,0.02,0.02,0.04,0.03,0.06c-5.83,2.79-7.39,11.07-3.69,18.55c0.54,1.09,1.17,2.09,1.85,3.02
                        c-6.44,2.66-8.15,10.76-4.09,17.83c1.3,2.26,3.03,4.12,4.96,5.52c-0.91,2.18-0.71,4.86,0.74,7.34c1.95,3.33,5.6,5.3,9.02,5.28
                        c6.01,11.81,13.39,16.39,24.56,21.13c0.12,0.05,0.23,0.1,0.35,0.15C401.06,138.91,400.54,138.51,400.08,137.99z"/>
                    <path class="st14" d="M404.46,82.61c0.11-0.23,0.16-0.48,0.16-0.72c1.31-3.3,2.89-6.08,4.54-8.39c8.21-1.71,14.41,0.86,14.54,0.92
                        c0.24,0.11,0.49,0.15,0.73,0.15c0.71,0,1.38-0.41,1.68-1.1c0.41-0.93-0.02-2.01-0.94-2.41c-0.25-0.11-5.31-2.27-12.57-1.74
                        c3.55-3.7,6.66-5.38,7.13-5.61c2.66-1.27,6.55,0.37,7.83,1.12c0.29,0.17,0.61,0.25,0.93,0.25c0.63,0,1.24-0.32,1.58-0.9
                        c0.51-0.87,0.23-1.99-0.65-2.51c-0.21-0.12-4.33-2.5-8.54-2.03c0.36-1.49,1.16-2.84,1.57-3.38c0.61-0.8,0.46-1.95-0.34-2.56
                        c-0.8-0.61-1.95-0.46-2.57,0.34c-0.12,0.15-2.52,3.33-2.51,7c-2.66,1.63-9.55,6.58-14.36,16.52c-0.26,0.53-0.51,1.11-0.76,1.69
                        c-5-3.42-4.17-9.49-4.13-9.79c0.16-1-0.52-1.93-1.52-2.09c-1-0.16-1.94,0.52-2.1,1.52c-0.53,3.32,0.23,10.17,6.4,13.85
                        c-1.36,4.01-2.4,8.79-2.71,14.44c-0.04,0.18-0.04,0.35-0.03,0.53c-0.19,3.96-0.01,8.35,0.63,13.15c-2.32-1.28-3.38-3.15-3.45-3.27
                        c-0.48-0.89-1.58-1.23-2.47-0.76c-0.89,0.47-1.24,1.58-0.77,2.47c0.1,0.18,2.29,4.24,7.36,5.8c1.32,7.24,3.67,15.38,7.48,24.51
                        c1.24-0.08,2.45-0.41,3.52-0.94c0.01-0.02,0.01-0.04,0.02-0.06c-3.99-9.5-6.4-17.87-7.69-25.27c-0.01-0.04-0.01-0.09-0.02-0.13
                        c-0.95-5.55-1.26-10.54-1.08-15c2.56-4.37,10.1-4.55,10.18-4.55c1.01-0.02,1.82-0.85,1.8-1.86c-0.01-1-0.83-1.81-1.83-1.81
                        c-0.01,0-0.01,0-0.02,0c-0.3,0-5.52,0.12-9.66,2.71c0.51-3.63,1.35-6.84,2.39-9.69C404.3,82.9,404.39,82.76,404.46,82.61z"/>
                </g>
            </g>
            </svg>
    </div>
</template>
<script>
var vg1 = true;
var vg2 = true;
var vg3 = true;
var vg4 = true;
export default {
    data() {
        return {
            vg1,
            vg2,
            vg3,
            vg4
        }
    },
    methods: {
    },
    created(){
    }
    
}
</script>
<style scoped>
	.st0{fill:#A8D32A;}
	.st1{fill:#93BF00;}
	.st2{fill:#B9DD39;}
	.st3{fill:#439416;}
	.st4{fill:#3D8A1C;}
	.st5{fill:#7E5D40;}
	.st6{fill:#684D34;}
	.st7{fill:#5C442F;}
	.st8{fill:#4C3828;}
	.st9{fill:#56C225;}
	.st10{fill:#49A520;}
	.st11{fill:#90E36A;}
	.st12{fill:#70DA40;}
	.st13{fill:#88C057;}
	.st14{fill:#659C35;}
    .vg1{
        opacity: 0; 
        animation: hideshow 8s ease infinite;
    }
    .vg2{
        opacity: 0; 
        animation: hideshow 8s 2s ease infinite;
    }
     .vg3{
         opacity: 0; 
        animation: hideshow 8s 4s ease infinite;
    }
     .vg4{
         opacity: 0; 
        animation: hideshow 8s 6s ease infinite;
    }
    @keyframes hideshow {
        0% { opacity: 1; }
        10% { opacity: 1; }
        15% { opacity: 0; }
        100% { opacity: 0; }
    }
</style>