<template>
<!-- eslint-disable -->
<div>
    <a onclick="window.location.href='#/plantsdash'" data-dismiss="modal">
   <svg version="1.1" id="layer01" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 881 393" style="enable-background:new 0 0 881 393;" xml:space="preserve">
        <line class="fl01" x1="139.5" y1="393.5" x2="31.5" y2="260.5"/>
        <polyline class="fl01" points="31.5,260.5 821.5,259.5 825.5,392.5 139.5,393.5 "/>
        <line class="fl01" x1="821.5" y1="259.5" x2="825.5" y2="392.5"/>
        <path class="fl02" d="M287.97-56.86c-0.31,0-0.63,0-0.94,0"/>
        <g>
            <g>
                <path class="vg1" d="M233.19,59.73c0-4.72-2.9-8.79-7.15-10.95c2.01-3.78,3.17-7.99,3.17-12.47c0-15.92-14.27-28.82-31.86-28.82
                    c-4.6,0-8.96,0.9-12.91,2.49c-4.71-5.86-12.32-9.69-20.94-9.69c-9.77,0-18.27,4.9-22.68,12.12c-4.86-3.09-10.77-4.92-17.15-4.92
                    c-16.5,0-29.87,12.1-29.87,27.02c0,1.12,0.1,2.21,0.24,3.29c-11.72,3.65-20.16,13.69-20.16,25.53c0,9.24,5.13,17.38,12.95,22.25
                    c-3.12,3.87-4.98,8.62-4.98,13.77c0,12.93,11.59,23.42,25.89,23.42c5.99,0,11.48-1.86,15.86-4.94
                    c5.77,7.34,15.24,12.14,25.96,12.14c11.33,0,21.26-5.37,26.91-13.43c3.8,5.87,10.83,9.83,18.9,9.83c12.1,0,21.91-8.87,21.91-19.81
                    c0-2.45-0.52-4.79-1.42-6.96c7.86-3.01,13.37-10.05,13.37-18.25c0-3.88-1.25-7.5-3.39-10.56
                    C230.19,68.66,233.19,64.53,233.19,59.73z"/>
                <path class="vg2" d="M118.14,120.7c-3.2,1.29-6.69,2.07-10.42,2.07c-14.3,0-25.89-10.49-25.89-23.42c0-5.16,1.86-9.9,4.98-13.77
                    C79,80.71,73.87,72.57,73.87,63.33c0-4.47,1.21-8.69,3.34-12.39c-8.54-4.68-19.79-3.73-27.17,2.94c-0.65,0.59-1.23,1.21-1.78,1.85
                    c-8.29-3.66-18.56-2.39-25.44,3.84c-5.37,4.86-7.4,11.58-6.13,17.86c-3.89,0.55-7.63,2.16-10.63,4.87
                    c-7.52,6.8-7.52,17.82,0,24.62c3.15,2.85,7.12,4.49,11.21,4.95c-1.23,6.61,0.95,13.63,6.59,18.73c5.96,5.39,14.3,7.29,21.95,5.73
                    c-1.41,4.89-0.02,10.32,4.22,14.16c6.36,5.75,16.67,5.75,23.04,0c1.43-1.29,2.52-2.77,3.3-4.34c5.88,2.16,12.87,1.07,17.64-3.24
                    c2.26-2.04,3.7-4.54,4.35-7.16c3.54,0.96,7.51,0.22,10.31-2.31c2.74-2.48,3.58-6,2.6-9.16
                    C113.74,123.49,116.02,122.22,118.14,120.7z"/>
                <path class="vg2" d="M286.5,86.07c-0.65-0.59-1.34-1.12-2.04-1.61c4.04-7.5,2.64-16.79-4.24-23.01c-5.37-4.86-12.8-6.7-19.75-5.54
                    c-0.61-3.52-2.39-6.9-5.38-9.61c-7.52-6.8-19.71-6.8-27.23,0c-0.49,0.45-0.9,0.94-1.32,1.42c-0.17,0.35-0.31,0.72-0.49,1.06
                    c4.25,2.16,7.15,6.23,7.15,10.95c0,4.8-3.01,8.93-7.37,11.06c2.13,3.06,3.39,6.67,3.39,10.56c0,8.2-5.51,15.24-13.37,18.25
                    c0.9,2.17,1.42,4.51,1.42,6.96c0,10.94-9.81,19.81-21.91,19.81c-2.83,0-5.52-0.51-8.01-1.4c0.27,0.28,0.42,0.61,0.71,0.87
                    c2.26,2.04,5.02,3.35,7.92,3.94c-1.06,3.2-0.24,6.8,2.55,9.32c2.74,2.48,6.64,3.24,10.13,2.35c1.14,2.94,2.98,5.71,5.58,8.06
                    c9.25,8.37,24.25,8.37,33.51,0c2.42-2.19,4.19-4.73,5.34-7.45c5.88,0.84,12.11-0.76,16.65-4.87c5.14-4.65,6.76-11.26,4.88-17.16
                    c4.35-0.68,8.52-2.53,11.88-5.57C295.17,106.64,295.17,93.92,286.5,86.07z"/>
                <path class="vg3" d="M208.66,142.98c-3.49,0.88-7.38,0.13-10.13-2.35c-1.63-1.48-2.59-3.32-2.89-5.24
                    c-0.17-1.07-0.56-2.1-1.14-3.01c-20.2,19.2-34.31,54.56-34.31,54.56c6.71-21.96,5.65-43.87,3.57-58.49
                    c-4.27,1.94-9.1,3.05-14.21,3.05c-4.98,0-9.67-1.07-13.86-2.92c9.03,29.39,3.87,77.35,3.87,77.35
                    c-9.66-35.58-30.9-57.82-40.94-66.73c-0.72,0.52-1.36,1.12-1.81,1.87c-0.72,1.21-1.65,2.34-2.78,3.37
                    c-4.77,4.31-11.76,5.39-17.64,3.24c-0.79,1.57-1.88,3.05-3.3,4.34c-1.7,1.54-3.7,2.63-5.81,3.35c25.89,0,55.58,47.44,59.41,98.04
                    c0.28,3.75,3.78,6.61,7.86,6.61h25.64c3.97,0,7.28-2.74,7.73-6.37c2.37-19.25,9.67-99.74,50.25-99.74
                    c-1.39-0.81-2.71-1.75-3.92-2.84C211.64,148.69,209.8,145.92,208.66,142.98z"/>
                <path class="vg2" d="M121.42,66.74c-0.62,0-1.26-0.1-1.88-0.33c-12.98-4.67-19.41-18.19-14.34-30.14
                    c5.07-11.94,19.74-17.87,32.75-13.21c2.65,0.95,3.96,3.71,2.92,6.15c-1.04,2.44-4.02,3.65-6.68,2.7
                    c-7.69-2.77-16.38,0.74-19.38,7.81c-3.01,7.08,0.8,15.08,8.49,17.84c2.65,0.95,3.96,3.71,2.92,6.15
                    C125.43,65.6,123.48,66.74,121.42,66.74z"/>
                <path class="vg1" d="M253.5,116.44c-3.11,0-6.22-0.54-9.21-1.61c-6.29-2.26-11.24-6.64-13.95-12.34c-1.14-2.4,0.05-5.2,2.66-6.25
                    c2.63-1.05,5.66,0.05,6.79,2.44c1.6,3.37,4.54,5.96,8.26,7.31c3.73,1.34,7.79,1.26,11.45-0.21c3.66-1.48,6.48-4.18,7.93-7.6
                    c1.45-3.43,1.38-7.17-0.23-10.54c-1.14-2.4,0.05-5.2,2.66-6.25c2.62-1.05,5.65,0.04,6.79,2.44c2.71,5.69,2.85,12.01,0.39,17.81
                    c-2.46,5.79-7.21,10.35-13.4,12.85C260.38,115.79,256.94,116.44,253.5,116.44z"/>
                <path class="vg2" d="M182.9,104.71c-8.82,0-17.4-4.25-22.04-11.82c-1.4-2.28-0.53-5.18,1.95-6.47c2.47-1.29,5.63-0.49,7.02,1.79
                    c1.97,3.2,5.17,5.51,9.02,6.5c3.84,0.98,7.88,0.53,11.36-1.28c3.48-1.81,5.99-4.76,7.06-8.31c1.07-3.55,0.57-7.26-1.39-10.46
                    c-1.4-2.28-0.53-5.18,1.95-6.47c2.47-1.29,5.63-0.49,7.02,1.79c3.33,5.41,4.16,11.69,2.35,17.68
                    c-1.81,5.99-6.04,10.97-11.92,14.03C191.37,103.74,187.1,104.71,182.9,104.71z"/>
                <path class="vg2" d="M164.8,79.09c-3.69,0-7.43-0.75-10.97-2.32c-12.54-5.59-17.81-19.53-11.74-31.08
                    c1.24-2.35,4.32-3.35,6.89-2.21c2.56,1.14,3.63,3.98,2.4,6.34c-3.59,6.84-0.48,15.09,6.95,18.4c7.42,3.3,16.39,0.44,19.98-6.4
                    c1.24-2.35,4.31-3.35,6.89-2.21c2.56,1.14,3.63,3.98,2.4,6.34C183.23,74.25,174.19,79.09,164.8,79.09z"/>
                <path class="vg2" d="M125.6,105.74c-3.44,0-6.87-0.66-10.12-1.96c-12.77-5.14-18.61-18.88-13.03-30.64
                    c1.14-2.39,4.16-3.5,6.79-2.45c2.61,1.05,3.8,3.85,2.66,6.25c-3.3,6.96,0.16,15.1,7.72,18.14c3.67,1.48,7.73,1.55,11.45,0.2
                    c3.72-1.34,6.65-3.94,8.25-7.31c1.14-2.39,4.16-3.49,6.79-2.45c2.61,1.05,3.8,3.85,2.66,6.25c-2.7,5.7-7.65,10.08-13.94,12.35
                    C131.84,105.2,128.72,105.74,125.6,105.74z"/>
                <path class="vg2" d="M182.96,53.94c-0.81,0-1.63-0.03-2.46-0.1c-6.72-0.59-12.79-3.56-17.08-8.35c-1.81-2.02-1.5-5.01,0.7-6.68
                    c2.21-1.68,5.45-1.38,7.26,0.64c2.54,2.84,6.13,4.6,10.11,4.95c4.03,0.38,7.87-0.75,10.95-3.09c6.36-4.83,7.27-13.53,2.02-19.39
                    c-1.81-2.02-1.5-5.01,0.7-6.68c2.21-1.68,5.45-1.38,7.26,0.64c8.87,9.89,7.34,24.59-3.41,32.75
                    C194.43,52.09,188.81,53.94,182.96,53.94z"/>
                <path class="vg1" d="M51.37,111.22c-3.16,0-6.37-0.55-9.47-1.7c-12.91-4.82-19.15-18.42-13.92-30.31
                    c1.07-2.43,4.07-3.59,6.72-2.62c2.64,0.99,3.91,3.75,2.84,6.19c-3.1,7.03,0.59,15.09,8.24,17.94c7.66,2.87,16.4-0.55,19.49-7.59
                    c1.07-2.44,4.09-3.6,6.72-2.62c2.64,0.99,3.91,3.75,2.84,6.19C70.84,105.73,61.37,111.22,51.37,111.22z"/>
            </g>
        </g>
        <g id="surface1_1_">
            <path class="vg4" d="M360.75,230.4c-12.33,0-22.32-8.28-22.32-18.5c0-2.04,2-3.7,4.46-3.7c12.33,0,22.32,8.28,22.32,18.5
                C365.21,228.74,363.22,230.4,360.75,230.4z"/>
            <path class="vg4" d="M360.75,200.8c-12.33,0-22.32-8.28-22.32-18.5c0-2.04,2-3.7,4.46-3.7c12.33,0,22.32,8.28,22.32,18.5
                C365.21,199.14,363.22,200.8,360.75,200.8z"/>
            <path class="vg5" d="M369.68,230.4c12.33,0,22.32-8.28,22.32-18.5c0-2.04-2-3.7-4.46-3.7c-12.33,0-22.32,8.28-22.32,18.5
                C365.21,228.74,367.21,230.4,369.68,230.4z"/>
            <path class="vg5" d="M369.68,200.8c12.33,0,22.32-8.28,22.32-18.5c0-2.04-2-3.7-4.46-3.7c-12.33,0-22.32,8.28-22.32,18.5
                C365.21,199.14,367.21,200.8,369.68,200.8z"/>
            <path class="vg6" d="M369.57,182.29v73.93c0,1.93-1.74,3.6-4.05,3.76c-2.7,0.19-4.88-1.5-4.88-3.69v-73.93
                c0-1.93,1.74-3.6,4.05-3.76C367.39,178.42,369.57,180.11,369.57,182.29z"/>
            <path class="vg4" d="M365.11,260v-81.41c2.5,0,4.46,1.63,4.46,3.7v74C369.57,258.37,367.61,260,365.11,260z"/>
            <path class="vg4" d="M368.16,149.71c-0.8-0.67-1.88-0.96-2.95-0.96s-2.14,0.3-2.95,0.96c-0.45,0.3-10.45,8.09-10.45,17.79
                s10,17.24,10.45,17.54c0.8,0.67,1.88,0.96,2.95,0.96s2.14-0.3,2.95-0.96c0.45-0.3,10.45-7.84,10.45-17.54S368.61,150,368.16,149.71
                z"/>
            <path class="vg5" d="M378.5,167.49c0,9.69-10,17.24-10.45,17.54c-0.8,0.67-1.88,0.96-2.95,0.96v-37.25c1.07,0,2.14,0.3,2.95,0.96
                C368.5,150,378.5,157.8,378.5,167.49z"/>
            <path class="vg4" d="M289.32,230.4c-12.33,0-22.32-8.28-22.32-18.5c0-2.04,2-3.7,4.46-3.7c12.33,0,22.32,8.28,22.32,18.5
                C293.79,228.74,291.79,230.4,289.32,230.4z"/>
            <path class="vg4" d="M289.32,200.8c-12.33,0-22.32-8.28-22.32-18.5c0-2.04,2-3.7,4.46-3.7c12.33,0,22.32,8.28,22.32,18.5
                C293.79,199.14,291.79,200.8,289.32,200.8z"/>
            <path class="vg5" d="M298.25,230.4c12.33,0,22.32-8.28,22.32-18.5c0-2.04-2-3.7-4.46-3.7c-12.33,0-22.32,8.28-22.32,18.5
                C293.79,228.74,295.78,230.4,298.25,230.4z"/>
            <path class="vg5" d="M298.25,200.8c12.33,0,22.32-8.28,22.32-18.5c0-2.04-2-3.7-4.46-3.7c-12.33,0-22.32,8.28-22.32,18.5
                C293.79,199.14,295.78,200.8,298.25,200.8z"/>
            <path class="vg6" d="M298.14,182.29v73.93c0,1.93-1.74,3.6-4.05,3.76c-2.7,0.19-4.88-1.5-4.88-3.69v-73.93
                c0-1.93,1.74-3.6,4.05-3.76C295.96,178.42,298.14,180.11,298.14,182.29z"/>
            <path class="vg4" d="M293.68,260v-81.41c2.5,0,4.46,1.63,4.46,3.7v74C298.14,258.37,296.18,260,293.68,260z"/>
            <path class="vg4" d="M296.73,149.71c-0.8-0.67-1.88-0.96-2.95-0.96s-2.14,0.3-2.95,0.96c-0.45,0.3-10.45,8.09-10.45,17.79
                s10,17.24,10.45,17.54c0.8,0.67,1.88,0.96,2.95,0.96s2.14-0.3,2.95-0.96c0.45-0.3,10.45-7.84,10.45-17.54S297.18,150,296.73,149.71
                z"/>
            <path class="vg5" d="M307.07,167.49c0,9.69-10,17.24-10.45,17.54c-0.8,0.67-1.88,0.96-2.95,0.96v-37.25c1.07,0,2.14,0.3,2.95,0.96
                C297.07,150,307.07,157.8,307.07,167.49z"/>
            <g>
                <g>
                    <path class="vg1" d="M500.02,202.69c3.11,0.74,6.5,0.72,10.12-0.81c6.22-2.62,10.65-8.59,10.78-15.35
                        c0.16-7.56-4.64-14.01-11.37-16.37c-0.47-6.87-6.18-12.29-13.16-12.29c-0.02,0-0.04,0-0.06,0c0.12-1.04,0.05-2.14-0.28-3.29
                        c-0.94-3.22-3.78-5.7-7.11-6.09c-2.73-0.32-5.25,0.65-7.01,2.39c-1.67-1.51-3.86-2.45-6.3-2.45c-5.21,0-9.44,4.22-9.44,9.44
                        c0,0.02,0,0.03,0,0.05c-6.33,0.48-11.33,5.76-11.33,12.22c0,0.99,0.13,1.94,0.35,2.86c-7.54,0.31-13.56,6.51-13.56,14.12
                        c0,2.58,0.7,4.99,1.91,7.08c-2.32,1.9-3.79,4.79-3.79,8.02c0,4.52,2.89,8.35,6.93,9.78c-0.52,18.45,6.06,29.34,18.8,44
                        c0.23,0.26,0.46,0.53,0.69,0.79c0.05,0.06,0.1,0.11,0.15,0.17c5.3,5.94,17.25,1.39,14.67-6.14
                        c-13.72-40.26,28.58-34.44,28.58-34.44s1.21-12.18-9.7-12.75c0.01-0.3,0.03-0.61,0.04-0.91
                        C499.97,202.71,499.99,202.7,500.02,202.69z"/>
                    <path class="vg2" d="M466.35,256.96c-0.05-0.06-0.1-0.11-0.15-0.17c-0.23-0.26-0.46-0.52-0.69-0.79
                        c-12.74-14.66-19.33-25.55-18.8-44c-4.03-1.43-6.93-5.26-6.93-9.78c0-3.23,1.48-6.12,3.79-8.02c-1.21-2.08-1.91-4.49-1.91-7.08
                        c0-7.62,6.02-13.81,13.56-14.12c-0.22-0.92-0.35-1.87-0.35-2.86c0-5.13,3.16-9.51,7.63-11.34c-0.3-0.97-0.67-1.95-1.17-2.93
                        c-2.47-4.89-6.81-7.96-10.77-7.31c-3.27,0.53-5.55,3.2-6.53,6.78c-2.74-1.84-5.78-2.56-8.52-1.59
                        c-5.88,2.07-7.74,10.53-4.37,18.37c0.01,0.02,0.02,0.04,0.03,0.07c-6.38,3.05-8.07,12.11-4.03,20.28
                        c0.59,1.19,1.28,2.29,2.03,3.3c-7.05,2.91-8.91,11.76-4.47,19.49c1.42,2.47,3.31,4.5,5.42,6.04c-1,2.38-0.78,5.32,0.8,8.02
                        c2.13,3.64,6.12,5.79,9.86,5.77c6.57,12.91,14.64,17.91,26.85,23.1c0.13,0.05,0.26,0.11,0.38,0.16
                        C467.42,257.96,466.85,257.52,466.35,256.96z"/>
                    <path class="vg2" d="M471.14,196.92c0.12-0.26,0.17-0.52,0.17-0.79c1.44-3.61,3.16-6.64,4.96-9.17c8.98-1.87,15.75,0.94,15.9,1
                        c0.26,0.12,0.53,0.17,0.8,0.17c0.77,0,1.51-0.45,1.84-1.2c0.44-1.01-0.02-2.19-1.03-2.64c-0.28-0.12-5.8-2.48-13.74-1.9
                        c3.88-4.05,7.29-5.88,7.79-6.14c2.91-1.39,7.16,0.41,8.55,1.22c0.32,0.19,0.67,0.28,1.01,0.28c0.68,0,1.35-0.35,1.73-0.99
                        c0.56-0.95,0.25-2.18-0.71-2.74c-0.23-0.14-4.73-2.74-9.34-2.21c0.39-1.62,1.27-3.1,1.72-3.69c0.67-0.88,0.5-2.13-0.38-2.8
                        c-0.87-0.67-2.13-0.51-2.8,0.37c-0.13,0.16-2.75,3.65-2.75,7.66c-2.91,1.78-10.44,7.19-15.7,18.06
                        c-0.28,0.58-0.56,1.21-0.83,1.84c-5.46-3.73-4.56-10.38-4.51-10.7c0.17-1.09-0.57-2.11-1.66-2.29c-1.09-0.17-2.12,0.57-2.29,1.66
                        c-0.58,3.63,0.25,11.12,7,15.14c-1.49,4.38-2.62,9.61-2.97,15.78c-0.04,0.19-0.05,0.38-0.03,0.57
                        c-0.21,4.33-0.01,9.13,0.69,14.38c-2.54-1.4-3.7-3.44-3.77-3.58c-0.52-0.97-1.73-1.34-2.7-0.83c-0.98,0.51-1.36,1.73-0.84,2.7
                        c0.11,0.2,2.5,4.63,8.04,6.34c1.44,7.92,4.02,16.81,8.18,26.79c1.36-0.09,2.68-0.45,3.85-1.02c0.01-0.03,0.02-0.04,0.03-0.07
                        c-4.37-10.39-7-19.54-8.4-27.63c-0.01-0.05-0.01-0.09-0.02-0.14c-1.04-6.07-1.38-11.52-1.18-16.4c2.8-4.78,11.04-4.97,11.13-4.97
                        c1.11-0.02,1.99-0.92,1.97-2.03c-0.02-1.1-0.91-1.97-2-1.97c-0.01,0-0.02,0-0.02,0c-0.33,0-6.03,0.13-10.56,2.97
                        c0.55-3.96,1.47-7.48,2.61-10.59C470.96,197.23,471.07,197.08,471.14,196.92z"/>
                </g>
            </g>
            <g>
                <g>
                    <path class="vg1" d="M620.02,202.69c3.11,0.74,6.5,0.72,10.12-0.81c6.22-2.62,10.65-8.59,10.78-15.35
                        c0.16-7.56-4.64-14.01-11.37-16.37c-0.47-6.87-6.18-12.29-13.16-12.29c-0.02,0-0.04,0-0.06,0c0.12-1.04,0.05-2.14-0.28-3.29
                        c-0.94-3.22-3.78-5.7-7.11-6.09c-2.73-0.32-5.25,0.65-7.01,2.39c-1.67-1.51-3.86-2.45-6.3-2.45c-5.21,0-9.44,4.22-9.44,9.44
                        c0,0.02,0,0.03,0,0.05c-6.33,0.48-11.33,5.76-11.33,12.22c0,0.99,0.13,1.94,0.35,2.86c-7.54,0.31-13.56,6.51-13.56,14.12
                        c0,2.58,0.7,4.99,1.91,7.08c-2.32,1.9-3.79,4.79-3.79,8.02c0,4.52,2.89,8.35,6.93,9.78c-0.52,18.45,6.06,29.34,18.8,44
                        c0.23,0.26,0.46,0.53,0.69,0.79c0.05,0.06,0.1,0.11,0.15,0.17c5.3,5.94,17.25,1.39,14.67-6.14
                        c-13.72-40.26,28.58-34.44,28.58-34.44s1.21-12.18-9.7-12.75c0.01-0.3,0.03-0.61,0.04-0.91
                        C619.97,202.71,619.99,202.7,620.02,202.69z"/>
                    <path class="vg2" d="M586.35,256.96c-0.05-0.06-0.1-0.11-0.15-0.17c-0.23-0.26-0.46-0.52-0.69-0.79
                        c-12.74-14.66-19.33-25.55-18.8-44c-4.03-1.43-6.93-5.26-6.93-9.78c0-3.23,1.48-6.12,3.79-8.02c-1.21-2.08-1.91-4.49-1.91-7.08
                        c0-7.62,6.02-13.81,13.56-14.12c-0.22-0.92-0.35-1.87-0.35-2.86c0-5.13,3.16-9.51,7.63-11.34c-0.3-0.97-0.67-1.95-1.17-2.93
                        c-2.47-4.89-6.81-7.96-10.77-7.31c-3.27,0.53-5.55,3.2-6.53,6.78c-2.74-1.84-5.78-2.56-8.52-1.59
                        c-5.88,2.07-7.74,10.53-4.37,18.37c0.01,0.02,0.02,0.04,0.03,0.07c-6.38,3.05-8.07,12.11-4.03,20.28
                        c0.59,1.19,1.28,2.29,2.03,3.3c-7.05,2.91-8.91,11.76-4.47,19.49c1.42,2.47,3.31,4.5,5.42,6.04c-1,2.38-0.78,5.32,0.8,8.02
                        c2.13,3.64,6.12,5.79,9.86,5.77c6.57,12.91,14.64,17.91,26.85,23.1c0.13,0.05,0.26,0.11,0.38,0.16
                        C587.42,257.96,586.85,257.52,586.35,256.96z"/>
                    <path class="vg2" d="M591.14,196.92c0.12-0.26,0.17-0.52,0.17-0.79c1.44-3.61,3.16-6.64,4.96-9.17c8.98-1.87,15.75,0.94,15.9,1
                        c0.26,0.12,0.53,0.17,0.8,0.17c0.77,0,1.51-0.45,1.84-1.2c0.44-1.01-0.02-2.19-1.03-2.64c-0.28-0.12-5.8-2.48-13.74-1.9
                        c3.88-4.05,7.29-5.88,7.79-6.14c2.91-1.39,7.16,0.41,8.55,1.22c0.32,0.19,0.67,0.28,1.01,0.28c0.68,0,1.35-0.35,1.73-0.99
                        c0.56-0.95,0.25-2.18-0.71-2.74c-0.23-0.14-4.73-2.74-9.34-2.21c0.39-1.62,1.27-3.1,1.72-3.69c0.67-0.88,0.5-2.13-0.38-2.8
                        c-0.87-0.67-2.13-0.51-2.8,0.37c-0.13,0.16-2.75,3.65-2.75,7.66c-2.91,1.78-10.44,7.19-15.7,18.06
                        c-0.28,0.58-0.56,1.21-0.83,1.84c-5.46-3.73-4.56-10.38-4.51-10.7c0.17-1.09-0.57-2.11-1.66-2.29c-1.09-0.17-2.12,0.57-2.29,1.66
                        c-0.58,3.63,0.25,11.12,7,15.14c-1.49,4.38-2.62,9.61-2.97,15.78c-0.04,0.19-0.05,0.38-0.03,0.57
                        c-0.21,4.33-0.01,9.13,0.69,14.38c-2.54-1.4-3.7-3.44-3.77-3.58c-0.52-0.97-1.73-1.34-2.7-0.83c-0.98,0.51-1.36,1.73-0.84,2.7
                        c0.11,0.2,2.5,4.63,8.04,6.34c1.44,7.92,4.02,16.81,8.18,26.79c1.36-0.09,2.68-0.45,3.85-1.02c0.01-0.03,0.02-0.04,0.03-0.07
                        c-4.37-10.39-7-19.54-8.4-27.63c-0.01-0.05-0.01-0.09-0.02-0.14c-1.04-6.07-1.38-11.52-1.18-16.4c2.8-4.78,11.04-4.97,11.13-4.97
                        c1.11-0.02,1.99-0.92,1.97-2.03c-0.02-1.1-0.91-1.97-2-1.97c-0.01,0-0.02,0-0.02,0c-0.33,0-6.03,0.13-10.56,2.97
                        c0.55-3.96,1.47-7.48,2.61-10.59C590.96,197.23,591.07,197.08,591.14,196.92z"/>
                </g>
            </g>
        </g>
        <g>
            <g>
                <path class="vg1" d="M816.19,59.73c0-4.72-2.9-8.79-7.15-10.95c2.01-3.78,3.17-7.99,3.17-12.47c0-15.92-14.27-28.82-31.86-28.82
                    c-4.6,0-8.96,0.9-12.91,2.49c-4.71-5.86-12.32-9.69-20.94-9.69c-9.77,0-18.27,4.9-22.68,12.12c-4.86-3.09-10.77-4.92-17.15-4.92
                    c-16.5,0-29.87,12.1-29.87,27.02c0,1.12,0.1,2.21,0.24,3.29c-11.72,3.65-20.16,13.69-20.16,25.53c0,9.24,5.13,17.38,12.95,22.25
                    c-3.12,3.87-4.98,8.62-4.98,13.77c0,12.93,11.59,23.42,25.89,23.42c5.99,0,11.48-1.86,15.86-4.94
                    c5.77,7.34,15.24,12.14,25.96,12.14c11.33,0,21.26-5.37,26.91-13.43c3.8,5.87,10.83,9.83,18.9,9.83c12.1,0,21.91-8.87,21.91-19.81
                    c0-2.45-0.52-4.79-1.42-6.96c7.86-3.01,13.37-10.05,13.37-18.25c0-3.88-1.25-7.5-3.39-10.56
                    C813.19,68.66,816.19,64.53,816.19,59.73z"/>
                <path class="vg2" d="M701.14,120.7c-3.2,1.29-6.69,2.07-10.42,2.07c-14.3,0-25.89-10.49-25.89-23.42c0-5.16,1.86-9.9,4.98-13.77
                    c-7.82-4.87-12.95-13.02-12.95-22.25c0-4.47,1.21-8.69,3.34-12.39c-8.54-4.68-19.79-3.73-27.17,2.94
                    c-0.65,0.59-1.23,1.21-1.78,1.85c-8.29-3.66-18.56-2.39-25.44,3.84c-5.37,4.86-7.4,11.58-6.13,17.86
                    c-3.89,0.55-7.63,2.16-10.63,4.87c-7.52,6.8-7.52,17.82,0,24.62c3.15,2.85,7.12,4.49,11.21,4.95c-1.23,6.61,0.95,13.63,6.59,18.73
                    c5.96,5.39,14.3,7.29,21.95,5.73c-1.41,4.89-0.02,10.32,4.22,14.16c6.36,5.75,16.67,5.75,23.04,0c1.43-1.29,2.52-2.77,3.3-4.34
                    c5.88,2.16,12.87,1.07,17.64-3.24c2.26-2.04,3.7-4.54,4.35-7.16c3.54,0.96,7.51,0.22,10.31-2.31c2.74-2.48,3.58-6,2.6-9.16
                    C696.74,123.49,699.02,122.22,701.14,120.7z"/>
                <path class="vg2" d="M869.5,86.07c-0.65-0.59-1.34-1.12-2.04-1.61c4.04-7.5,2.64-16.79-4.24-23.01c-5.37-4.86-12.8-6.7-19.75-5.54
                    c-0.61-3.52-2.39-6.9-5.38-9.61c-7.52-6.8-19.71-6.8-27.23,0c-0.49,0.45-0.9,0.94-1.32,1.42c-0.17,0.35-0.31,0.72-0.49,1.06
                    c4.25,2.16,7.15,6.23,7.15,10.95c0,4.8-3.01,8.93-7.37,11.06c2.13,3.06,3.39,6.67,3.39,10.56c0,8.2-5.51,15.24-13.37,18.25
                    c0.9,2.17,1.42,4.51,1.42,6.96c0,10.94-9.81,19.81-21.91,19.81c-2.83,0-5.52-0.51-8.01-1.4c0.27,0.28,0.42,0.61,0.71,0.87
                    c2.26,2.04,5.02,3.35,7.92,3.94c-1.06,3.2-0.24,6.8,2.55,9.32c2.74,2.48,6.64,3.24,10.13,2.35c1.14,2.94,2.98,5.71,5.58,8.06
                    c9.25,8.37,24.25,8.37,33.51,0c2.42-2.19,4.19-4.73,5.34-7.45c5.88,0.84,12.11-0.76,16.65-4.87c5.14-4.65,6.76-11.26,4.88-17.16
                    c4.35-0.68,8.52-2.53,11.88-5.57C878.17,106.64,878.17,93.92,869.5,86.07z"/>
                <path class="vg3" d="M791.66,142.98c-3.49,0.88-7.38,0.13-10.13-2.35c-1.63-1.48-2.59-3.32-2.89-5.24
                    c-0.17-1.07-0.56-2.1-1.14-3.01c-20.2,19.2-34.31,54.56-34.31,54.56c6.71-21.96,5.65-43.87,3.57-58.49
                    c-4.27,1.94-9.1,3.05-14.21,3.05c-4.98,0-9.67-1.07-13.86-2.92c9.03,29.39,3.87,77.35,3.87,77.35
                    c-9.66-35.58-30.9-57.82-40.94-66.73c-0.72,0.52-1.36,1.12-1.81,1.87c-0.72,1.21-1.65,2.34-2.78,3.37
                    c-4.77,4.31-11.76,5.39-17.64,3.24c-0.79,1.57-1.88,3.05-3.3,4.34c-1.7,1.54-3.7,2.63-5.81,3.35c25.89,0,55.58,47.44,59.41,98.04
                    c0.28,3.75,3.78,6.61,7.86,6.61h25.64c3.97,0,7.28-2.74,7.73-6.37c2.37-19.25,9.67-99.74,50.25-99.74
                    c-1.39-0.81-2.71-1.75-3.92-2.84C794.64,148.69,792.8,145.92,791.66,142.98z"/>
                <path class="vg2" d="M704.42,66.74c-0.62,0-1.26-0.1-1.88-0.33c-12.98-4.67-19.41-18.19-14.34-30.14
                    c5.07-11.94,19.74-17.87,32.75-13.21c2.65,0.95,3.96,3.71,2.92,6.15c-1.04,2.44-4.02,3.65-6.68,2.7
                    c-7.69-2.77-16.38,0.74-19.38,7.81c-3.01,7.08,0.8,15.08,8.49,17.84c2.65,0.95,3.96,3.71,2.92,6.15
                    C708.43,65.6,706.48,66.74,704.42,66.74z"/>
                <path class="vg1" d="M836.5,116.44c-3.11,0-6.22-0.54-9.21-1.61c-6.29-2.26-11.24-6.64-13.95-12.34c-1.14-2.4,0.05-5.2,2.66-6.25
                    c2.63-1.05,5.66,0.05,6.79,2.44c1.6,3.37,4.54,5.96,8.26,7.31c3.73,1.34,7.79,1.26,11.45-0.21c3.66-1.48,6.48-4.18,7.93-7.6
                    c1.45-3.43,1.38-7.17-0.23-10.54c-1.14-2.4,0.05-5.2,2.66-6.25c2.62-1.05,5.65,0.04,6.79,2.44c2.71,5.69,2.85,12.01,0.39,17.81
                    c-2.46,5.79-7.21,10.35-13.4,12.85C843.38,115.79,839.94,116.44,836.5,116.44z"/>
                <path class="vg2" d="M765.9,104.71c-8.82,0-17.4-4.25-22.04-11.82c-1.4-2.28-0.53-5.18,1.95-6.47c2.47-1.29,5.63-0.49,7.02,1.79
                    c1.97,3.2,5.17,5.51,9.02,6.5c3.84,0.98,7.88,0.53,11.36-1.28c3.48-1.81,5.99-4.76,7.06-8.31c1.07-3.55,0.57-7.26-1.39-10.46
                    c-1.4-2.28-0.53-5.18,1.95-6.47c2.47-1.29,5.63-0.49,7.02,1.79c3.33,5.41,4.16,11.69,2.35,17.68
                    c-1.81,5.99-6.04,10.97-11.92,14.03C774.37,103.74,770.1,104.71,765.9,104.71z"/>
                <path class="vg2" d="M747.8,79.09c-3.69,0-7.43-0.75-10.97-2.32c-12.54-5.59-17.81-19.53-11.74-31.08
                    c1.24-2.35,4.32-3.35,6.89-2.21c2.56,1.14,3.63,3.98,2.4,6.34c-3.59,6.84-0.48,15.09,6.95,18.4c7.42,3.3,16.39,0.44,19.98-6.4
                    c1.24-2.35,4.31-3.35,6.89-2.21c2.56,1.14,3.63,3.98,2.4,6.34C766.23,74.25,757.19,79.09,747.8,79.09z"/>
                <path class="vg2" d="M708.6,105.74c-3.44,0-6.87-0.66-10.12-1.96c-12.77-5.14-18.61-18.88-13.03-30.64
                    c1.14-2.39,4.16-3.5,6.79-2.45c2.61,1.05,3.8,3.85,2.66,6.25c-3.3,6.96,0.16,15.1,7.72,18.14c3.67,1.48,7.73,1.55,11.45,0.2
                    c3.72-1.34,6.65-3.94,8.25-7.31c1.14-2.39,4.16-3.49,6.79-2.45c2.61,1.05,3.8,3.85,2.66,6.25c-2.7,5.7-7.65,10.08-13.94,12.35
                    C714.84,105.2,711.72,105.74,708.6,105.74z"/>
                <path class="vg2" d="M765.96,53.94c-0.81,0-1.63-0.03-2.46-0.1c-6.72-0.59-12.79-3.56-17.08-8.35c-1.81-2.02-1.5-5.01,0.7-6.68
                    c2.21-1.68,5.45-1.38,7.26,0.64c2.54,2.84,6.13,4.6,10.11,4.95c4.03,0.38,7.87-0.75,10.95-3.09c6.36-4.83,7.27-13.53,2.02-19.39
                    c-1.81-2.02-1.5-5.01,0.7-6.68c2.21-1.68,5.45-1.38,7.26,0.64c8.87,9.89,7.34,24.59-3.41,32.75
                    C777.43,52.09,771.81,53.94,765.96,53.94z"/>
                <path class="vg1" d="M634.37,111.22c-3.16,0-6.37-0.55-9.47-1.7c-12.91-4.82-19.15-18.42-13.92-30.31
                    c1.07-2.43,4.07-3.59,6.72-2.62c2.64,0.99,3.91,3.75,2.84,6.19c-3.1,7.03,0.59,15.09,8.24,17.94c7.66,2.87,16.4-0.55,19.49-7.59
                    c1.07-2.44,4.09-3.6,6.72-2.62c2.64,0.99,3.91,3.75,2.84,6.19C653.84,105.73,644.37,111.22,634.37,111.22z"/>
            </g>
        </g>
        </svg>
        </a>
</div>
</template>
<style scoped>
    svg {
        width:100%;
        height:100%;
    }
	.fl01{fill:rgba(255,255,255,.3);stroke:none;stroke-miterlimit:10;}
    .fl01:hover{fill:rgba(255,255,255,.5);}
	.fl02{fill:rgba(255,255,255,.1)}
	.vg1{fill:#88C057;fill-opacity: 0.8}
	.vg2{fill:#659C35;fill-opacity: 0.8}
	.vg3{fill:#436B1C;fill-opacity: 0.8}
	.vg4{fill:#A8D32A;fill-opacity: 0.8}
	.vg5{fill:#93BF00;fill-opacity: 0.8}
	.vg6{fill:#B9DD39;fill-opacity: 0.8}
    .vg1:hover{fill:#88C057;fill-opacity: 1}
	.vg2:hover{fill:#659C35;fill-opacity: 1}
	.vg3:hover{fill:#436B1C;fill-opacity: 1}
	.vg4:hover{fill:#A8D32A;fill-opacity: 1}
	.vg5:hover{fill:#93BF00;fill-opacity: 1}
	.vg6:hover{fill:#B9DD39;fill-opacity: 1}
    g{fill-opacity: 1}
</style>