<template>
  <div id="app">
     <div class="row" style="height:100%;width:100%;">
      <div class="col-1 padding-0 margin-0">
      <SideBar/>
      </div>
      <div class="col-11 padding-0" style="height:100%;width:100%;" >
      <router-view/>
      </div>
     </div>
  </div>
</template>

<script>
import SideBar from './components/layout/SideBar'

export default {
  name: 'app',
  components: {
    SideBar
  }
}
</script>

<style>
.padding-0{
    padding-right:0;
    padding-left:0;
}
body {
  overflow-x: hidden;
  color: black;
  /* background: linear-gradient(90deg,rgb(75,185,185), rgb(0,95,135));  background-attachment: fixed; */
  background: linear-gradient(150deg,rgb(32,134,170), rgb(0, 26, 100));  background-attachment: fixed;
  /* background: rgb(0, 26, 51); */
  /* background: url('./assets/bg-pattern.svg'), radial-gradient(farthest-side ellipse at 50% 0,rgb(32,134,170), rgb(0, 26, 100)); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height:100%;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
</style>
